/* ======================================================================
CSS RESET

Based on the following CSS reset, but adapted for a WordPress block theme context:
https://github.com/germanfrelo/base-css-stylesheet

Selectors are grouped and sorted based on:
- https://developer.mozilla.org/en-US/docs/Web/HTML/Reference/Elements
- https://html.spec.whatwg.org/multipage/#toc-semantics

Table of contents:
01. Document / Global
02. Sections
03. Grouping content
04. Inline text semantics
05. Embedded content
06. Tables
07. Forms
08. Interactive elements
09. Hidden elements
====================================================================== */

/* ======================================================================
01. Document / Global
====================================================================== */

/*
1. Use the more intuitive and predictable border box sizing by default (refs. https://github.com/jensimmons/cssremedy/issues/4 and https://wiki.csswg.org/ideas/mistakes).
2. Don't repeat background images by default (ref. https://github.com/w3c/csswg-drafts/issues/4526).
3. Don't repeat mask images by default.
*/

*,
*::before,
*::after {
	box-sizing: border-box; /* 1 */
	background-repeat: no-repeat; /* 2 */
	mask-repeat: no-repeat; /* 3 */
}

/*
Revert adding 'background-repeat: no-repeat' to some form elements because it disables their default native appearance in WebKit (bug: https://bugs.webkit.org/show_bug.cgi?id=117128#c2).
*/

:where(button, input, meter, progress, select) {
	background-repeat: revert;
}

/*
1. A prerequisite for the 'body' to be able to fill the viewport height (requires 'body { min-block-size: 100%; }', see 'body' rule below). Ref. https://codepen.io/germanfrelo/pen/jOGNpbj
2. Use a shorter, more readable tab size (default is 8).
3. Prevent WebKit-based browsers on iOS from automatically increasing the default font size in landscape orientation (demo: https://codepen.io/germanfrelo/pen/JoPJVxd).
*/

html {
	block-size: 100%; /* 1 */
	tab-size: 4; /* 2 */
	-webkit-text-size-adjust: none; /* 3 */ /* stylelint-disable-line property-no-vendor-prefix -- Intended. */
}

/*
Smooth scrolling, but only when users have no preference for reduced motion, and when focused in the page to prevent unnaturally scrolling when tabbing through the results of a search.
*/

@media (prefers-reduced-motion: no-preference) {
	html:focus-within {
		scroll-behavior: smooth;
	}
}

/*
When scrolling to target elements, a reasonable spacing is added above them to ensure they remain visible, especially with sticky headers or similar.
*/

:target {
	scroll-margin-block-start: 5em;
}

/* ======================================================================
02. Sections
====================================================================== */

/*
Makes 'body' at least as tall as the viewport height (requires 'html { block-size: 100%; }', see 'html' rule above). Ref. https://codepen.io/germanfrelo/pen/jOGNpbj
*/

body {
	min-block-size: 100%;
}

/* ======================================================================
03. Grouping Content
====================================================================== */

/*
1. Prevent content from overflowing while preserving its formatting. (ref. https://github.com/jensimmons/cssremedy/issues/81).
2. Prevent scroll chaining because of 1.
3. Fix the inheritance and scaling of the font size in all browsers.
4. Fix the odd 'em' font sizing in all browsers.
*/

pre {
	overflow: auto; /* 1 */
	overscroll-behavior: contain; /* 2 */
	font-family: monospace, monospace; /* 3 */
	font-size: 1em; /* 4 */
}

/* ======================================================================
04. Inline Text Semantics
====================================================================== */

/*
1. Fix the inheritance and scaling of the font size in all browsers.
2. Fix the odd 'em' font sizing in all browsers.
*/

code,
kbd,
samp {
	font-family: monospace, monospace; /* 1 */
	font-size: 1em; /* 2 */
}

/* ======================================================================
05. Embedded Content
====================================================================== */

/*
1. Block display by default is usually what we want/the most common use case (default is 'inline').
2. Responsive by default to prevent them from growing beyond the container.
*/

audio,
canvas,
embed,
iframe,
img,
object,
svg,
video {
	display: block; /* 1 */
	max-inline-size: 100%; /* 2 */
}

/*
Maintain intrinsic aspect ratios when 'max-inline-size' is applied ('embed', 'iframe' and 'object' have no intrinsic ratio, so their 'block-size' needs to be set explicitly).
*/

canvas,
img,
svg,
video {
	block-size: auto;
}

/*
There is no good reason 'audio' defaults to 300px width, and audio files are unlikely to come with a 'width' attribute.
*/

audio {
	inline-size: 100%;
}

/* ======================================================================
06. Tables
====================================================================== */

/*
1. Ensure numbers line up (ref. https://github.com/jensimmons/cssremedy/issues/39).
2. Prevent double borders (ref. https://github.com/jensimmons/cssremedy/issues/39).
3. Fix the default table 'border-color: gray' on Chrome (bug: https://issues.chromium.org/issues/40615503).
*/

table {
	font-variant-numeric: tabular-nums; /* 1 */
	border-collapse: collapse; /* 2 */
	border-color: currentcolor; /* 3 */
}

/*
Make 'th' alignment (default is 'center') consistent with 'td' alignment (ref. https://github.com/jensimmons/cssremedy/issues/39).
*/

th {
	text-align: inherit;
}

/*
Add padding and border to table cells for a better readability (ref. https://github.com/jensimmons/cssremedy/issues/39).
*/

:where(th, td) {
	padding-block: 0.25em;
	padding-inline: 0.5rem;
	border: 1px solid;
}

/* ======================================================================
07. Forms
====================================================================== */

/*
Remove the default 2px inline margin.
*/

fieldset {
	margin-inline: 0;
}

/*
1. Responsive by default by restricting sizing to the page width.
2. Add typography inheritance.
3. Add color inheritance.
*/

button,
input,
select,
textarea {
	max-inline-size: 100%; /* 1 */
	font: inherit; /* 2 */
	color: inherit; /* 3 */
	word-spacing: inherit; /* 2 */
	letter-spacing: inherit; /* 2 */
}

/*
Remove Firefox's default 1px 'margin-block' from 'textarea' for consistency across browsers (bug: https://bugzilla.mozilla.org/show_bug.cgi?id=73817).
*/

:where(textarea) {
	margin-block: 0;
}

/*
Remove the default margin from some form elements, which is usually not wanted, in favor of better control in authored CSS.
*/

:where([type="checkbox"], [type="radio"], [type="range"]) {
	margin: 0;
}

/*
Normalize the placeholder color with a new default value that is consistent and accessible across browsers, and adapted to browsers native dark color schemes.
Ref. https://codepen.io/germanfrelo/pen/EaYwZdb
*/

::placeholder {
	color: #757575;
}

@supports (color: light-dark(black, white)) {
	::placeholder {
		color: light-dark(hsl(0deg 0% 46%), hsl(0deg 0% 65%));
	}
}

/*
1. Set a consistent margin across browsers.
2. Change font properties to 'inherit' in WebKit.
*/

::file-selector-button {
	margin-inline-end: 1ch; /* 1 */
	font: inherit; /* 2 */
}

/* ======================================================================
08. Interactive Elements
====================================================================== */

/*
Set the cursor on 'summary' elements to the same as buttons (default is 'text').
*/

:where(details > summary:first-of-type) {
	cursor: default;
}

/* ======================================================================
09. Hidden Elements
====================================================================== */

/*
Ensure some elements with the 'hidden' attribute remain hidden, even if a different display value is set (e.g., from the preceding 'display: block' on media element).
Refs.:
- https://html.spec.whatwg.org/multipage/rendering.html#hidden-elements
- https://github.com/jensimmons/cssremedy/pull/72
- https://github.com/jensimmons/cssremedy/issues/71#issuecomment-771180150
- https://github.com/tailwindlabs/tailwindcss/commit/b570e2b
*/

[hidden]:not([hidden="until-found" i], embed) {
	display: none;
}
