/* ======================================================================
COMPONENT TOKENS

This file contains design tokens (CSS custom properties) for specific
components and blocks. These tokens define the individual styles for
elements like buttons, cards, or form fields.

Component tokens should always reference the system tokens defined in
the 'tokens-system.css' file to maintain consistency. This creates a
clear hierarchy where global styles can be updated in one place and
automatically propagate to all components.

Reference: https://m3.material.io/foundations/design-tokens/overview
====================================================================== */

:root {
	/* Block - Search */
	--block-search-button-icon-scale: 1.5;
	--block-search-input-color-bg-on-hover: var(--wp--preset--color--surface-1);

	/* Button */
	--button-color-bg-on-hover: var(--wp--preset--color--primary-darker);
	--button-color-bg: var(--wp--preset--color--primary);
	--button-border-color-on-hover: var(--wp--preset--color--primary-darker);
	--button-border-color: var(--button-color-bg);
	--button-border-radius: var(--wp--preset--border-radius--2-xs);
	--button-border-width: var(--wp--custom--border-width--thin);
	--button-color-on-hover: var(--wp--preset--color--surface-1);
	--button-color: var(--wp--preset--color--surface-1);
	--button-font-size: var(--wp--preset--font-size--s);
	--button-font-weight: var(--wp--custom--font-weight--medium);
	--button-line-height: var(--wp--custom--line-height--slim);
	--button-padding-block: 0.875em;
	--button-padding-inline: 1.25em;
	--button-text-box: trim-both cap alphabetic;

	/* Code (inline) */
	--code-border-radius: 0.1875rem;
	--code-color-bg: color-mix(in srgb, currentcolor, transparent 95%);
	--code-padding-block: 0.125em;
	--code-padding-inline: 0.25em;

	/* Code (block) */
	--code-block-color-bg: var(--wp--preset--color--surface-2);
	--code-block-padding: var(--gutter);

	/*
	Form Field
	(input, textarea, select, button...)
	*/
	--field-accent-color: var(--wp--preset--color--primary);
	--field-border-color: currentcolor;
	--field-border-radius: var(--wp--preset--border-radius--2-xs);
	--field-border-width: var(--wp--custom--border-width--thin);
	--field-color-bg: transparent;
	--field-color: var(--wp--preset--color--text);
	--field-error-color: var(--color-error, crimson);
	--field-font-weight: var(--font-weight-base);
	--field-padding-block: 0.25em;
	--field-padding-inline: 0.5rem;

	/* Form Field - Checkbox */
	--field-checkbox-size: 1.125em;

	/* Form Field - Radio */
	--field-radio-size: 1.125em;

	/* Focus Rings */
	--focus-ring-color: currentcolor;
	--focus-ring-offset: 0.25lh;
	--focus-ring-style: solid;
	--focus-ring-width: 2px;

	/* Headings */
	--heading-font-weight: var(--wp--custom--font-weight--black);
	--h1-font-size: var(--wp--preset--font-size--xxxxl);
	--h1-font-weight: var(--wp--custom--font-weight--black);
	--h1-line-height: normal;
	--h2-font-size: var(--wp--preset--font-size--xxxl);
	--h2-font-weight: var(--wp--custom--font-weight--black);
	--h2-line-height: normal;
	--h3-font-size: var(--wp--preset--font-size--xxl);
	--h3-font-weight: var(--wp--custom--font-weight--black);
	--h3-line-height: normal;
	--h4-font-size: var(--wp--preset--font-size--xl);
	--h4-font-weight: var(--wp--custom--font-weight--black);
	--h4-line-height: normal;
	--h5-font-size: var(--wp--preset--font-size--l);
	--h5-font-weight: var(--wp--custom--font-weight--black);
	--h5-line-height: normal;
	--h6-font-size: var(--wp--preset--font-size--m);
	--h6-font-weight: var(--wp--custom--font-weight--black);
	--h6-line-height: normal;

	/* Label */
	--label-font-size: var(--wp--preset--font-size--m);
	--label-font-weight: var(--wp--custom--font-weight--bold);
	--label-line-height: var(--wp--custom--line-height--slim);

	/* Legend */
	--legend-font-size: var(--wp--preset--font-size--m);
	--legend-font-weight: var(--wp--custom--font-weight--bold);
	--legend-line-height: inherit;

	/* Links */
	--link-color: var(--wp--preset--color--primary);
	--link-color-on-hover: var(--wp--preset--color--primary-darker);
	--link-color-on-focus: var(--wp--preset--color--primary-darker);

	/* List */
	--list-gap: 0.5em;
	--list-indentation: 1.75ch;
	--list-item-indentation: 0.5ch;
	--list-item-marker-color: currentcolor;
	--list-unordered-style-type: disc;

	/* Quote */
	--quote-border-left-width: var(--wp--custom--border-width--thick);
	--quote-border-left-color: var(--wp--preset--color--primary);
	--quote-padding-inline: var(--wp--preset--spacing--m);

	/* Reel */
	--reel-items-gap: calc(var(--gutter) * 2);

	/* Region */
	--region-space-start: var(--wp--preset--spacing--xl-2-xl);
	--region-space-end: var(--wp--preset--spacing--xl-2-xl);

	/* Scrollbars */
	--scrollbar-thumb-color: var(--wp--preset--color--primary);
	--scrollbar-thumb-color-hover: var(--wp--preset--color--text);
	--scrollbar-track-color: transparent;
	--scrollbar-track-color-hover: transparent;
	--scrollbar-thumb-radius: 1rem;
	--scrollbar-track-radius: 1rem;
	--scrollbar-width-legacy: 0.5rem;

	/* Separator */
	--separator-color: currentcolor;

	/* Site Header */
	--site-header-padding-top: var(--wp--preset--spacing--s);
	--site-header-padding-bottom: var(--wp--preset--spacing--s);

	/* Table */
	--table-cell-header-weight: var(--wp--custom--font-weight--bold);
	--table-foot-font-weight: var(--wp--custom--font-weight--bold);
	--table-head-head-weight: var(--wp--custom--font-weight--bold);
}
