/* ======================================================================
BORDER RADIUS
====================================================================== */

:root {
	--border-radius-2xs: 0.125rem;
	--border-radius-xs: 0.25rem;
	--border-radius-s: 0.5rem;
	--border-radius-m: 0.75rem;
	--border-radius-l: 1rem;
	--border-radius-xl: 1.5rem;
	--border-radius-2xl: 2rem;
	--border-radius-3xl: 3rem;
	--border-radius-round: 9999rem;
}
