/* ======================================================================
TEXT SIZES
====================================================================== */

/* @link https://utopia.fyi/type/calculator/?c=375,18,1.2,1440,20,1.25,5,2,&s=0.75%7C0.5%7C0.25,1.5%7C2%7C3%7C4%7C6,s-l&g=s,l,xl,12 */

:root {
	/* Step -2: 12.5px → 12.8px */
	--step--2: clamp(0.7813rem, 0.7746rem + 0.0282vw, 0.8rem);

	/* Step -1: 15px → 16px */
	--step--1: clamp(0.9375rem, 0.9155rem + 0.0939vw, 1rem);

	/* Step 0: 18px → 20px */
	--step-0: clamp(1.125rem, 1.081rem + 0.1878vw, 1.25rem);

	/* Step 1: 21.6px → 25px */
	--step-1: clamp(1.35rem, 1.2752rem + 0.3192vw, 1.5625rem);

	/* Step 2: 25.92px → 31.25px */
	--step-2: clamp(1.62rem, 1.5027rem + 0.5005vw, 1.9531rem);

	/* Step 3: 31.104px → 39.0625px */
	--step-3: clamp(1.944rem, 1.7689rem + 0.7473vw, 2.4414rem);

	/* Step 4: 37.3248px → 48.8281px */
	--step-4: clamp(2.3328rem, 2.0796rem + 1.0801vw, 3.0518rem);

	/* Step 5: 44.7898px → 61.0352px */
	--step-5: clamp(2.7994rem, 2.4418rem + 1.5254vw, 3.8147rem);
}
