/* ======================================================================
Title:       Flow
Description: A layout that provides consistent vertical spacing between elements.
Reference:   https://piccalil.li/blog/my-favourite-3-lines-of-css/
---
Variables:

--flow-space
	Description: The block space between elements.
	Type:        A valid 'margin' value.
	Default:     1em
====================================================================== */

.flow > * {
	margin-block: 0;
}

.flow > * + * {
	margin-block-start: var(--flow-space, 1em);
}

/*
Remove the margin between a visually hidden element and the element that immediately follows it.
Note: '.is-layout-flow' is a WP-generated class.
*/
:is(.flow, .is-layout-flow) > *:where(.screen-reader-text, .visually-hidden) + * {
	margin-block-start: 0;
}
