/* ======================================================================
Title:       Icon
Description: A layout for inline icons.
Reference:   https://every-layout.dev/layouts/icon/
---
Variables:

--icon-size
	Description: The 'height' of the icon.
	Values:      A valid 'height' value.
	Default:     auto
====================================================================== */

.icon {
	flex-shrink: 0;
	inline-size: auto;
	block-size: var(--icon-size, auto);
}
