/* ======================================================================
Title:       Repel
Description: A layout that pushes items away from each other where there is space in the viewport and stacks on small viewports.
---
Variables:

--repel-gap
	Description: The space between each item.
	Type:        A valid 'gap' value.
	Default:     var(--gutter, 1em)

--repel-vertical-alignment
	Description: How items should align vertically.
	Type:        A valid 'align-items' value.
	Default:     center

--repel-wrap
	Description: A 'flex-wrap' value.
	Type:        A valid 'flex-wrap' value.
	Default:     wrap
====================================================================== */

.repel {
	display: flex;
	flex-wrap: var(--repel-wrap, wrap);
	gap: var(--repel-gap, var(--gutter, 1em));
	align-items: var(--repel-vertical-alignment, center);
	justify-content: space-between;

	> * {
		margin: 0;
	}

	/* WP - For the block editor */
	&.is-layout-flow > * {
		margin: 0;
	}
}
