/* ======================================================================
REPEL

A layout that pushes items away from each other where there is space in the viewport and stacks on small viewports.

Configuration:
--gutter (var(--space-m, 1em)): This defines the space between each item.
--repel-vertical-alignment (center): How items should align vertically. Can be any acceptable flexbox alignment value.
--repel-wrap (wrap): A valid 'flex-wrap' value.
====================================================================== */

.repel {
	display: flex;
	flex-wrap: var(--repel-wrap, wrap);
	gap: var(--gutter, var(--space-m, 1em));
	align-items: var(--repel-vertical-alignment, center);
	justify-content: space-between;
}
