/* ======================================================================
Title:       Switcher
Description: A layout for dynamically switching between horizontal and vertical arrangement of items based on available container width.
Reference:   https://every-layout.dev/layouts/switcher/
---
Variables:

--switcher-gap
	Description: The space between each item.
	Type:        A valid 'gap' value.
	Default:     var(--gutter, 1em)

--switcher-horizontal-alignment
	Description: How items should align horizontally.
	Type:        A valid 'justify-content' value.
	Default:     start

--switcher-vertical-alignment
	Description: How items should align vertically.
	Type:        A valid 'align-items' value.
	Default:     stretch

--switcher-target-container-width
	Description: How large *the container* needs to be to allow items to sit inline with each other.
	Type:        A valid '<length>' value.
	Default:     var(--measure-content, 50rem)

--switcher-wrap
	Description: A 'flex-wrap' value. Use 'wrap' or 'wrap-reverse'. Don't use 'nowrap' because that would make using this layout useless.
	Type:        'wrap' | 'wrap-reverse'.
	Default:     wrap
====================================================================== */

:is(.switcher, .switcher-2, .switcher-3, .switcher-4) {
	display: flex;
	flex-wrap: var(--switcher-wrap, wrap);
	gap: var(--switcher-gap, var(--gutter, 1em));
	align-items: var(--switcher-vertical-alignment, stretch);
	justify-content: var(--switcher-horizontal-alignment, start);

	> * {
		flex-grow: 1;
		flex-basis: calc((var(--switcher-target-container-width, var(--measure-content, 50rem)) - 100%) * 999);
		max-inline-size: 100%;
		margin: 0;
	}

	/* WP - For the block editor */
	&.is-layout-flow > * {
		margin: 0;
	}
}

/* Max 2 items, so anything greater than 2 is full width */
:is(.switcher-2, .switcher:is(:not([data-limit]), [data-limit="2"]))
	> :is(:nth-last-child(n + 3), :nth-last-child(n + 3) ~ *) {
	flex-basis: 100%;
}

/* Max 3 items, so anything greater than 3 is full width */
:is(.switcher-3, .switcher[data-limit="3"]) > :is(:nth-last-child(n + 4), :nth-last-child(n + 4) ~ *) {
	flex-basis: 100%;
}

/* Max 4 items, so anything greater than 4 is full width */
:is(.switcher-4, .switcher[data-limit="4"]) > :is(:nth-last-child(n + 5), :nth-last-child(n + 5) ~ *) {
	flex-basis: 100%;
}
