/* ======================================================================
Title:       Wrapper
Description: A layout for centering a block-level element in the inline direction, with a max-inline-size value representing the typographic measure.
Reference:   https://every-layout.dev/layouts/center/
---
Variables:

--wrapper-gutters
	Description: The width of the gutters.
	Type:        A valid '<length>' value.
	Default:     var(--gutter, 1rem)

--wrapper-max-width
	Description: The maximum width of the centered element.
	Type:        A valid '<length>' value.
	Default:     var(--measure-wide, 80rem)
====================================================================== */

.wrapper {
	box-sizing: content-box;
	max-inline-size: var(--wrapper-max-width, var(--measure-wide, 80rem));
	padding-inline: var(--wrapper-gutters, var(--gutter, 1rem));
	margin-inline: auto;
}
