.page-layouts-frame {
	.card {
		.card__content {
			padding: var(--gutter, 1em);
			background-color: var(--wp--preset--color--surface-2, transparent);
		}

		&.is-layout-flow > .frame + .card__content {
			margin-block-start: 0;
		}
	}
}
