/* ======================================================================
Button - Variant: Plain
====================================================================== */

:is(.wp-block-button, .wp-block-read-more).is-style-plain {
	--button-border-color-on-hover: transparent;
	--button-border-color: transparent;
	--button-color-background-on-hover: transparent;
	--button-color-background: transparent;
	--button-color-text-on-hover: var(--wp--preset--color--primary-darker);
	--button-color-text: var(--wp--preset--color--primary-medium);
	--button-leading: var(--leading-base);
	--button-line: underline;
	--button-padding-block: 0;
	--button-padding-inline: 0;
	--button-text-box: normal;
	line-height: 1;
}
