/* ======================================================================
Button - Variant: Outlined
====================================================================== */

:is(.button, .wp-block-button, .wp-block-read-more).is-style-outlined {
	--button-color-bg-on-hover: color-mix(in srgb, var(--button-color), transparent 90%);
	--button-color-bg: transparent;
	--button-border-color-on-hover: currentcolor;
	--button-border-color: currentcolor;
	--button-color-on-hover: var(--wp--preset--color--primary-darker);
	--button-color: var(--wp--preset--color--primary);
}
