/* ======================================================================
Hero
====================================================================== */

.hero {
	--flow-space: var(--hero-flow-space, var(--gutter, 1em));
	--region-space: var(--gutter, 1em);
	--wrapper-max-width: var(--wp--style--global--content-size);
	display: flex;
	flex-direction: column;
	align-content: center;
	align-items: center;
	justify-content: center;
	min-block-size: 19.25rem;
}

.hero__inner {
	display: flex;
	flex-direction: column;
	gap: var(--wp--preset--spacing--m);
	align-content: center;
	align-items: center;
	justify-content: center;
	text-align: center;
}
