/* ======================================================================
List variation: Ordered Custom
====================================================================== */

ol.is-style-ordered-custom {
	--list-indentation: 0;
	list-style: none;
	counter-reset: ol-custom-counter;

	> li {
		display: flex;
		row-gap: 1.5ch;
		column-gap: 1.5ch;
		align-items: baseline;
		counter-increment: ol-custom-counter;

		&::before {
			display: inline-grid;
			place-content: center;
			aspect-ratio: 1;
			padding: 0.5em;
			font-family: var(--font-family-mono, monospace);
			font-size: var(--wp--preset--font-size--xs, inherit);
			font-weight: bolder;
			line-height: 0;
			color: var(--wp--preset--color--primary-medium, inherit);
			content: counter(ol-custom-counter);
			background-color: var(--wp--preset--color--surface-2, transparent);
			border-style: solid;
			border-width: var(--wp--custom--border-width--thin, thin);
			border-radius: 50%;
		}
	}
}
