.section-newsletter {
	--switcher-gap: 0;

	> :is(figure, .wp-block-image, .wp-block-post-featured-image) img {
		inline-size: 100%;
		block-size: 100%;
		object-fit: cover;
	}

	> :not(:is(figure, .wp-block-image, .wp-block-post-featured-image)) {
		--region-space: var(--wp--preset--spacing--4-xl);
		--stack-vertical-alignment: center;
		--gutter: var(--wp--preset--spacing--xl);
		background-color: var(--wp--preset--color--brand-violet-10, transparent);
		background-image: url("../assets/svg/penguin.svg");
		background-position-x: calc(100% - var(--gutter, 1em));
		background-position-y: 125%;
		background-size: 152px auto;
	}

	.gform_wrapper .form-newsletter .gform_fields {
		display: flex;
		flex-direction: column;
		row-gap: var(--wp--preset--spacing--2-xl, 1em);

		> .gfield.gfield--type-submit {
			align-self: center;
		}
	}
}

@media screen and (max-width: 50rem) {
	.section-newsletter {
		> :not(:is(figure, .wp-block-image, .wp-block-post-featured-image)) {
			--region-space-start: var(--wp--preset--spacing--l);
			--region-space-end: var(--wp--preset--spacing--7-xl);
		}

		.gform_wrapper .form-newsletter .gform_fields > .gfield.gfield--type-submit {
			align-self: start;
		}
	}
}

@media screen and (min-width: 90rem) {
	.section-newsletter > :not(:is(figure, .wp-block-image, .wp-block-post-featured-image)) {
		background-position-y: 103%;
		background-size: 227px auto;
	}
}
