.section-scholarships {
	--switcher-gap: 0;

	> :is(figure, .wp-block-image, .wp-block-post-featured-image) img {
		inline-size: 100%;
		block-size: 100%;
		object-fit: cover;
	}

	> :not(:is(figure, .wp-block-image, .wp-block-post-featured-image)) {
		--region-space-start: var(--wp--preset--spacing--m-4-xl);
		--region-space-end: var(--wp--preset--spacing--3-xl-4-xl);
		--stack-vertical-alignment: center;
		--gutter: var(--wp--preset--spacing--xl);
		background-color: var(--wp--preset--color--brand-violet-10, transparent);
	}
}

@media screen and (max-width: 40rem) {
	.section-scholarships .wp-block-buttons {
		justify-content: center;
	}
}
