/* ======================================================================
Site Header Login
====================================================================== */

.site-header-login {
	padding-block: var(--wp--preset--spacing--2-xs-xs, 1em);
}

.site-header-login :any-link.wp-block-button__link:is(:hover, :focus-visible) {
	--button-color-text-on-hover: var(--wp--preset--color--brand-1-medium, inherit);
}

.site-header-login :any-link.wp-block-button__link:is(:hover, :focus-visible) svg path[fill] {
	fill: currentcolor;
}

.site-header-login button.wc-block-mini-cart__button:is(:hover, :focus-visible) {
	color: var(--wp--preset--color--brand-1-medium, inherit);
}
