/* ======================================================================
Tag
====================================================================== */

.tag,
[class*="is-style-tag-"],
.wp-block-post-terms > :is(a, span) {
	display: inline-block;
	align-content: center;
	inline-size: fit-content;
	padding-block: var(--tag-padding-block, 0.25em);
	padding-inline: var(--tag-padding-inline, 0.75em);
	font-weight: var(--tag-font-weight, inherit);
	line-height: var(--tag-line-height, inherit);
	color: var(--tag-color, inherit);
	text-align: center;
	text-decoration-line: var(--tag-underline, none);
	background-color: var(--tag-color-bg, transparent);
	border-color: var(--tag-border-color, currentcolor);
	border-style: solid;
	border-width: var(--tag-border-width, 0);
	border-radius: var(--tag-border-radius, 0);
}
