.testimonial {
	padding-block-start: var(--wp--preset--spacing--2-xl-4-xl, var(--gutter, 1em));
	padding-block-end: var(--wp--preset--spacing--2-xl-4-xl, var(--gutter, 1em));
	padding-inline-start: var(--wp--preset--spacing--l-2-xl, var(--gutter, 1em));
	padding-inline-end: var(--wp--preset--spacing--l-2-xl, var(--gutter, 1em));
	background-color: var(--wp--preset--color--primary-lighter, transparent);

	blockquote {
		margin-inline: 0;

		> * {
			--flow-space: var(--wp--preset--spacing--xs-s);
		}
	}

	figcaption > * {
		margin-block: 0;
	}

	.testimonial__content {
		font-size: var(--wp--preset--font-size--step-1, inherit);
		font-weight: var(--font-weight-normal, inherit);
	}

	.testimonial__name {
		font-weight: var(--font-weight-medium, bolder);
	}

	.testimonial__title {
		font-size: var(--wp--preset--font-size--step-00, inherit);
	}
}
