@media screen and (width >= 75rem) {
	.page-section-with-columns {
		display: grid;
		grid-template-rows: repeat(5, auto);
		grid-template-columns: minmax(0, 2fr) minmax(0, 1fr);
		column-gap: var(--gutter, 1em);
		padding-block-end: var(--wp--preset--spacing--5-xl, var(--gutter, 1em));
	}

	.page-section-with-columns > * {
		grid-column: 1 / 2;
	}

	.page-section-with-columns > .has-global-padding {
		padding-inline: 0;
	}

	.page-section-with-columns > .is-layout-constrained > :where(:not(.alignleft, .alignright, .alignfull)) {
		margin-inline: 0 !important;
	}

	.page-section-with-columns > .page-section-with-columns__form {
		grid-row: 1 / -2;
		grid-column: 2 / 3;
		transform: translateY(calc(-1 * var(--wp--preset--spacing--xl-2-xl)));
	}

	.page-section-with-columns > .page-section-with-columns__form > .form-contact-container {
		padding-inline: var(--wp--preset--spacing--s, var(--gutter, 1em));
	}

	.page-section-with-columns > .page-section-with-columns__last-item {
		display: grid;
		grid-template-rows: subgrid;
		grid-template-columns: subgrid;
		grid-row: 3 / 5;
		grid-column: 1 / -1;
	}

	.page-section-with-columns > .page-section-with-columns__last-item > :nth-child(2) {
		grid-column: 1 / -1;
		max-inline-size: revert;
	}
}
