/* ======================================================================
Course List
====================================================================== */

:is(.courses, .wp-block-post-template) {
	display: flex;
	flex-wrap: wrap;
	gap: var(--wp--preset--spacing--l, 1em);
	justify-content: center;

	&.related-courses {
		--_course-flex-basis: 18rem;
		--grid-placement: auto-fit;
		--grid-min-item-size: clamp(16rem, 50vw, 18rem);
		display: grid;
		grid-template-columns: repeat(
			var(--grid-placement, auto-fill),
			minmax(min(100%, var(--grid-min-item-size, 16rem)), 1fr)
		);
	}

	ul:where(&) {
		padding-inline-start: 0;
		list-style-type: none;
	}

	> * {
		flex-basis: var(--_course-flex-basis, 25rem);
		margin-block: 0;
	}

	/* Make each list item a container */

	> li {
		container: course-card-container / inline-size;
	}

	/* Same height for each card */

	li > .course-card {
		min-block-size: 100%;
	}

	/* Card layout (desktop-first for code simplicity) */

	.course-card {
		--course-card-color-bg: var(--wp--preset--color--surface-1, transparent);
		--course-card-content-padding-block: var(--wp--preset--spacing--xs-s, 1rem);
		--course-card-content-padding-inline: var(--wp--preset--spacing--s, 1rem);
		display: grid;
		grid-template-rows: minmax(10rem, 36%) minmax(0, 1fr);
		border-color: transparent;
		border-style: solid;
		border-width: thin;

		@media (hover: hover) {
			&:has(:is(:any-link, button):hover) {
				border-color: currentcolor;
			}
		}

		> * {
			grid-column: 1;
		}

		> .course-card-image,
		> .course-card-tags {
			grid-row: 1 / 2;
		}

		/* Display the course tags in front of the image because image has position relative due to WP's styles */
		> .course-card-tags {
			z-index: 0;
		}

		> .course-card-content {
			grid-row: 2 / 3;
		}

		/* Elements inside course card */

		.course-card-image img {
			inline-size: 100%;
			block-size: 100%;
		}

		.course-card-tags:has(> *) {
			display: flex;
			flex-direction: column-reverse;
			gap: var(--wp--preset--spacing--2-xs, 0.5rem);
			align-items: flex-start;
			justify-content: space-between;
			padding-block: var(--course-card-content-padding-block, 1rem);
			padding-inline: var(--course-card-content-padding-inline, 1rem);
		}

		.course-card-content {
			display: flex;
			flex-direction: column;
			gap: var(--wp--preset--spacing--s-m);
			align-items: stretch;
			justify-content: space-between;
			padding-block: var(--course-card-content-padding-block, 1rem);
			padding-inline: var(--course-card-content-padding-inline, 1rem);
			background-color: var(--course-card-color-bg, transparent);
		}

		.wp-block-read-more.read-more-short {
			display: none;
		}
	}

	@container course-card-container (width < 25rem) {
		.course-card {
			.wp-block-read-more {
				--button-padding-inline: 0.75em;
			}

			.wp-block-read-more.read-more-short {
				display: var(--button-display, revert);
			}

			.wp-block-read-more.read-more-long {
				display: none;
			}

			.wp-block-post-excerpt {
				display: none;
			}
		}
	}

	@container course-card-container (22rem < width < 25rem) {
		.course-card {
			grid-template-rows: auto minmax(0, 1fr);
			grid-template-columns: minmax(5rem, 25%) minmax(0, 1fr);

			> .course-card-image {
				grid-row: 1 / 3;
				grid-column: 1 / 2;
			}

			> .course-card-tags {
				grid-row: 1 / 2;
				grid-column: 2 / 3;
			}

			> .course-card-content {
				grid-row: 2 / 3;
				grid-column: 2 / 3;
			}

			.course-card-tags {
				flex-direction: row;
				background-color: var(--course-card-color-bg, transparent);
			}

			.course-card-tags:has(> *):has(+ .course-card-content) {
				padding-block-end: 0;
			}
		}
	}
}
