/* Small-screen-first approach */

.page-course {
	--wrapper-max-width: 50rem;
}

/* Hide some sections if the dynamic custom block inside each one doesn't render (because its content is empty) */
.page-course #course-section-teachers:has(#course-teachers-list-wrapper:empty),
.page-course #course-section-testimonials:has(#course-testimonials-list-wrapper:empty) {
	display: none;
}

.page-course-hero {
	display: grid;
}

.page-course-hero > .wp-block-post-featured-image img {
	max-block-size: 33vmin;
}

.page-course-hero > :not(.wp-block-post-featured-image) {
	align-content: center;
}

/*
Info Box
*/

.page-course__info-box {
	--sidebar-content-min-width: 60%;
	--sidebar-align-items: center;

	.course-info-row {
		padding-block: var(--wp--preset--spacing--m-l, 1em);

		& + & {
			border-block-start: 1px solid var(--wp--preset--color--primary-medium, currentcolor);
		}

		&:is(#course-date, #course-address) {
			--sidebar-align-items: flex-start;
		}

		p {
			margin-block: 0;
		}

		> :last-child {
			text-align: end;
		}

		&:not(#course-price) > :last-child {
			font-weight: var(--font-weight-base, inherit);
			color: var(--wp--preset--color--primary-medium, inherit);
		}
	}

	.wp-block-post-featured-image {
		display: none;
	}
}

#link-to-payment-section {
	position: sticky;
	inset-block-end: 1%;
	z-index: 3;
}

.page-course #seccion-añadir-a-carrito:target {
	outline: 2px solid var(--wp--preset--color--primary-medium);
}

@media screen and (width >= 75rem) {
	/* Layout */

	/* Don't apply these styles in the WP block editor because it looks weird */
	.page-course:where(:not([class*="block-editor-block-list"])) {
		--wrapper-padding-inline: 0;
		display: grid;
		grid-template-columns: var(--_gutter, 2em) minmax(0, 2fr) var(--gutter, 2em) minmax(0, 1fr) var(--, 2em);
	}

	.page-course > * {
		margin-block: 0;
	}

	/* Don't apply these styles in the WP block editor because it looks weird */
	.page-course > .page-course__hero:where(:not([class*="block-editor-block-list"])) {
		display: grid;
		grid-template-columns: subgrid;
		grid-row: 1 / 3;
		grid-column: 1 / -1;
	}

	/* Column left */

	.page-course > .page-course__hero > * {
		grid-column: 2 / 3;
	}

	.page-course > .page-course__breadcrumbs {
		grid-row: 3 / 4;
		grid-column: 2 / 3;
	}

	.page-course > .page-course__description {
		grid-row: 4 / 8;
		grid-column: 2 / 3;
	}

	/* Column right */

	.page-course > .page-course__info-box {
		grid-row: 2 / 5;
		grid-column: 4 / 5;
	}

	.page-course > .page-course__contact-form {
		grid-row: 5 / 6;
		grid-column: 4 / 5;
		margin-block-start: var(--_gutter, 2em);
	}

	.page-course > * + .page-course__contact-form {
		margin-block-start: var(--_gutter, 2em);
	}

	/* Other elements */

	.page-course-hero {
		display: flex;
		flex-direction: column;
		align-content: center;
		align-items: center;
		justify-content: center;
		min-block-size: 19.25rem;
		padding-block: var(--flow-space, 1em);
		background-image: url("../assets/svg/hero-bg.svg"); /* Relative to the build directory */
		background-position: 43% 50%;
		background-size: cover;
	}

	.page-course-hero .wp-block-post-featured-image {
		display: none;
	}

	.page-course__info-box .wp-block-post-featured-image {
		display: block;
	}

	#link-to-payment-section {
		inset-inline-start: 50%;
		inline-size: max-content;
		transform: translateX(-50%);
	}
}
