/* ======================================================================
Service Box
====================================================================== */

/* One-column layout */

.service-box {
	display: flex;
	flex-direction: column;
	gap: var(--wp--preset--spacing--s-l, var(--gutter, 1em));
	align-items: center;
	padding-block: var(--wp--preset--spacing--m-xl, var(--gutter, 1em));
	padding-inline: var(--wp--preset--spacing--l, var(--gutter, 1em));
	text-align: center;
}

.is-layout-grid .service-box {
	block-size: 100%;
}

.service-box > * {
	margin: 0;
}

.service-box > div:not(.wp-block-image) {
	flex: 1;
}

.service-box .wp-block-heading:has(+ p) {
	align-content: center;
	min-block-size: 2lh;
}

/* Two-columns layout */
@media screen and (width >= 22rem) and (width <= 38rem) {
	.service-box {
		flex-direction: row;
		text-align: revert;
	}

	.service-box > div:not(.wp-block-image) > *:not(:only-child) {
		align-items: flex-start;
	}

	.service-box .wp-block-heading {
		align-content: revert;
		min-block-size: revert;
	}
}
