/* =======================================================================================
WP Block: Search
---
Source:
- https://github.com/WordPress/gutenberg/tree/trunk/packages/block-library/src/search
- https://github.com/WordPress/WordPress/tree/master/wp-includes/blocks/search
---
To customize most of this block and its parts, use the global CSS custom properties in the 'variables.css' file.
======================================================================================= */

.wp-block-search {
	/* ----------------------------------------------------------------------
	Inside Wrapper
	---------------------------------------------------------------------- */

	.wp-block-search__inside-wrapper {
		display: flex;
		flex-direction: var(--block-search-wrapper-flex-direction, row);
		column-gap: var(--block-search-wrapper-gap, 0);
		align-items: var(--block-search-wrapper-flex-align-items, initial);
		justify-content: var(--block-search-wrapper-flex-justify-content, flex-start);
		min-block-size: var(--block-search-wrapper-size-block-min, initial);
		padding-block: var(--block-search-wrapper-padding-block, 0);
		padding-inline: var(--block-search-wrapper-padding-inline, 0);
		background-color: var(--block-search-wrapper-color-bg, transparent);
		border-color: var(--block-search-wrapper-border-color, currentcolor);
		border-style: var(--block-search-wrapper-border-style, solid);
		border-width: var(--block-search-wrapper-border-width, 0);
		border-radius: var(--block-search-wrapper-border-radius, 0);

		@media (prefers-reduced-motion: no-preference) {
			transition-duration: var(--block-search-button-transition-duration, var(--transition-duration, 0));
			transition-property: background-color;
		}

		/* States */

		&:is(:hover, :has(input.wp-block-search__input:focus)) {
			background-color: var(--block-search-wrapper-color-bg-on-hover, transparent);
		}
	}

	/* ----------------------------------------------------------------------
	Input
	---------------------------------------------------------------------- */

	.wp-block-search__input {
		flex-grow: 1;
		min-inline-size: 48px;
		padding-block: var(--block-search-input-padding-block, 0);
		padding-inline: var(--block-search-input-padding-inline, 1ch);
		font-size: var(--block-search-input-font-size, inherit);
		background-color: var(--block-search-input-color-bg, 0);
		border-color: var(--block-search-input-border-color, currentcolor);
		border-style: var(--block-search-input-border-style, solid);
		border-width: var(--block-search-input-border-width, 1px);
		border-radius: var(--block-search-input-border-radius, 0);

		@media (prefers-reduced-motion: no-preference) {
			transition-duration: var(--block-search-button-transition-duration, var(--transition-duration, 0));
			transition-property: background-color;
		}

		&:is(:hover, :focus-visible) {
			background-color: var(--block-search-input-color-bg-on-hover, transparent);
		}
	}

	/* ----------------------------------------------------------------------
	Button
	---------------------------------------------------------------------- */

	.wp-block-search__button {
		padding-block: var(--block-search-button-padding-block, initial);
		padding-inline: var(--block-search-button-padding-inline, initial);
		font-size: var(--block-search-button-font-size, inherit);
		font-weight: var(--block-search-button-font-weight, inherit);
		color: var(--block-search-button-color, inherit);
		background-color: var(--block-search-button-color-bg, inherit);
		border-color: var(--block-search-button-border-color, currentcolor);
		border-style: var(--block-search-button-border-style, initial);
		border-width: var(--block-search-button-border-width, initial);
		border-radius: var(--block-search-button-border-radius, 0);

		@media (prefers-reduced-motion: no-preference) {
			transition-duration: var(--block-search-button-transition-duration, var(--transition-duration, 0));
			transition-property: color, background-color, border-color;
		}

		/* States */

		&:is(:hover, :focus-visible),
		.wp-block-search__inside-wrapper:is(:hover, :has(input.wp-block-search__input:focus)) & {
			color: var(--block-search-button-color-on-hover, inherit);
			background-color: var(--block-search-button-color-bg-on-hover, transparent);
			border-color: var(--block-search-button-border-color-on-hover, transparent);
		}

		/* Icon */

		&.has-icon > .search-icon {
			width: var(--block-search-button-icon-size, auto);
			min-width: revert;
			height: var(--block-search-button-icon-size, auto);
			min-height: revert;
			rotate: var(--block-search-button-icon-rotation, initial);
		}
	}
}
