/* ======================================================================
WP Block Search - Block Variations
====================================================================== */

.wp-block-search {
	/* ----------------------------------------------------------------------
	Button Outside
	---------------------------------------------------------------------- */

	&.wp-block-search__button-outside {
		/* No styles added */
	}

	/* ----------------------------------------------------------------------
	Button Inside
	---------------------------------------------------------------------- */

	&.wp-block-search__button-inside {
		--block-search-wrapper-border-width: var(--border-size-1);
		--block-search-wrapper-flex-align-items: center;
		--block-search-wrapper-padding-block: 0.5em;
		--block-search-wrapper-padding-inline: 0.5em;
		/* --button-background-color-on-hover: transparent;
		--button-background-color: transparent;
		--button-border-radius: var(--block-search-wrapper-border-radius);
		--button-border-width: 0;
		--button-color-on-hover: var(--wp--preset--color--primary-medium);
		--button-color: inherit; */
		/* --button-padding-block: 0;
		--button-padding-inline: 0; */
		--field-padding-block: 0;
		--field-padding-inline: 0;
	}

	/* ----------------------------------------------------------------------
	No Button
	---------------------------------------------------------------------- */

	&.wp-block-search__no-button {
		/* No styles added */
	}

	/* ----------------------------------------------------------------------
	Button Only
	---------------------------------------------------------------------- */

	&.wp-block-search__button-only {
		/* No styles added */
	}
}
