/* =======================================================================================
WP Block: Search
---
Source:
- https://github.com/WordPress/gutenberg/tree/trunk/packages/block-library/src/search
- https://github.com/WordPress/WordPress/tree/master/wp-includes/blocks/search
---
To customize most of this block and its parts, use the global CSS custom properties in the 'variables.css' file.
======================================================================================= */

.wp-block-search {
	/* ----------------------------------------------------------------------
	Inside Wrapper
	---------------------------------------------------------------------- */

	.wp-block-search__inside-wrapper {
		display: flex;
		flex-direction: var(--block-search-wrapper-flex-direction, row);
		/* flex-wrap: wrap; */
		column-gap: var(--block-search-wrapper-gap, 0.5rem);
		align-items: var(--block-search-wrapper-flex-align-items, stretch);
		justify-content: var(--block-search-wrapper-flex-justify-content, start);
		min-block-size: var(--block-search-wrapper-size-block-min, 24px);
		padding-block: var(--block-search-wrapper-padding-block, 0);
		padding-inline: var(--block-search-wrapper-padding-inline, 0);
		background-color: var(--block-search-wrapper-background-color, transparent);
		border-color: var(--block-search-wrapper-border-color, currentcolor);
		border-style: var(--block-search-wrapper-border-style, solid);
		border-width: var(--block-search-wrapper-border-width, 0);
		border-radius: var(--block-search-wrapper-border-radius, 0);

		@media (prefers-reduced-motion: no-preference) {
			transition-duration: var(--block-search-button-transition-duration, var(--transition-duration, 0));
			transition-property: background-color;
		}

		/* States */

		&:is(:hover, :has(input.wp-block-search__input:focus)) {
			background-color: var(--block-search-wrapper-background-color-on-hover, transparent);
		}
	}

	/* Variant: Button-only */

	&.wp-block-search__button-only {
		.wp-block-search__inside-wrapper {
			min-inline-size: 0 !important;
			transition-property: inline-size;
		}

		input.wp-block-search__input {
			flex-basis: 100%;
			transition-duration: 1s;
		}

		&.wp-block-search__searchfield-hidden {
			overflow: hidden;

			.wp-block-search__inside-wrapper {
				gap: 0;
				overflow: hidden;
			}

			/* !important here to override inline styles on button only deselected view */
			input.wp-block-search__input {
				flex: none !important;
				inline-size: 0 !important;
				min-inline-size: 0 !important;
				padding: 0 !important;
				border: 0 !important;
			}
		}
	}

	/* ----------------------------------------------------------------------
	Input
	---------------------------------------------------------------------- */

	input.wp-block-search__input {
		flex-grow: 1;
		min-inline-size: 48px;

		@media (prefers-reduced-motion: no-preference) {
			transition-duration: var(--block-search-button-transition-duration, var(--transition-duration, 0));
			transition-property: background-color;
		}

		&:is(:hover, :focus-visible) {
			background-color: var(--block-search-input-background-color-on-hover, transparent);
		}
	}

	/* Variant: Button inside */

	&.wp-block-search__button-inside {
		input.wp-block-search__input {
			background-color: transparent;
			border: 0;
			border-radius: 0;

			/* TODO: Check this */
			&:focus {
				outline: none;
			}
		}
	}

	/* ----------------------------------------------------------------------
	Button
	---------------------------------------------------------------------- */

	button.wp-block-search__button {
		flex-shrink: 0;

		/* States */

		.wp-block-search__inside-wrapper:is(:hover, :has(input.wp-block-search__input:focus)) & {
			/* color: var(--button-color-on-hover, inherit);
			background-color: var(--button-background-color-on-hover, transparent);
			border-color: var(--button-border-color-on-hover, transparent); */
		}

		/* Icon */

		> .search-icon {
			rotate: var(--block-search-button-icon-rotation, initial);
		}
	}
}
