/* =======================================================================================
WP BLOCK COLUMNS
---
Source:
- https://github.com/WordPress/gutenberg/tree/trunk/packages/block-library/src/columns
- https://github.com/WordPress/WordPress/tree/master/wp-includes/blocks/columns
---
Notes:
- To customize most of this block and its parts, use the custom properties.
======================================================================================= */

/* Prevent long unbroken words from overflowing. */
.wp-block-column {
	word-break: revert; /* WP: Revert the deprecated 'word-break: break-word' set by WordPress. */
	overflow-wrap: break-word;
}
