/* ======================================================================
WP Query Pagination Numbers
---
Source:
- https://github.com/WordPress/gutenberg/tree/trunk/packages/block-library/src/query-pagination-numbers
- https://github.com/WordPress/WordPress/tree/master/wp-includes/blocks/query-pagination-numbers
---
Notes:
- To customize most of this block and its parts, use the custom properties.
====================================================================== */

.wp-block-query-pagination-numbers {
	display: flex;
	flex-wrap: var(--block-query-pag-numbers-flex-wrap, wrap);
	gap: var(--block-query-pag-numbers-gap, 1ch);
	align-items: var(--block-query-pag-numbers-align-cross-axis, center);
	justify-content: var(--block-query-pag-numbers-align-main-axis, center);

	/* ----------------------------------------------------------------------
	Any Page Number
	---------------------------------------------------------------------- */

	.page-numbers {
		display: inline-grid;
		place-content: center;
		min-inline-size: var(--block-query-pag-number-min-size, var(--min-target-size, 24px));
		min-block-size: var(--block-query-pag-number-min-size, var(--min-target-size, 24px));
		padding-block: var(--block-query-pag-number-padding-block, 0);
		padding-inline: var(--block-query-pag-number-padding-inline, 0);
		line-height: 1;
		color: var(--block-query-pag-number-color, inherit);
		background-color: var(--block-query-pag-number-color-bg, transparent);
		border-color: var(--block-query-pag-number-border-color, transparent);
		border-style: var(--block-query-pag-number-border-style, none);
		border-width: var(--block-query-pag-number-border-width, 0);
		border-block-end-width: var(--block-query-pag-number-border-block-end-width, 0);
		border-radius: var(--block-query-pag-number-border-radius, 0);
	}

	/* ----------------------------------------------------------------------
	Page Number that is a Link (neither Current not Dots)
	---------------------------------------------------------------------- */

	a.page-numbers:is(:hover, :focus-visible) {
		color: var(--block-query-pag-number-color-hover, inherit);
		background-color: var(--block-query-pag-number-color-bg-hover, transparent);
		border-color: var(--block-query-pag-number-border-color-hover, transparent);
	}

	/* ----------------------------------------------------------------------
	Current Page Number
	---------------------------------------------------------------------- */

	.page-numbers.current {
		color: var(--block-query-pag-number-current-color, inherit);
		background-color: var(--block-query-pag-number-current-color-bg, transparent);
		border-color: var(--block-query-pag-number-current-border-color, transparent);
	}

	/* ----------------------------------------------------------------------
	Dots
	---------------------------------------------------------------------- */

	.page-numbers.dots {
		min-inline-size: var(--block-query-pag-number-dots-min-size, auto);
		min-block-size: var(--block-query-pag-number-dots-min-size, auto);
		padding-block: var(--block-query-pag-number-dots-padding-block, 0);
		padding-inline: var(--block-query-pag-number-dots-padding-inline, 0);
		border-color: var(--block-query-pag-number-dots-border-color, transparent);
		border-width: var(--block-query-pag-number-dots-border-width, 0);
	}
}
