/* TODO: Check, improve and refactor. */

/* ======================================================================
WP Post Terms
---
Source:
- https://github.com/WordPress/gutenberg/tree/trunk/packages/block-library/src/post-terms
- https://github.com/WordPress/WordPress/tree/master/wp-includes/blocks/post-terms
====================================================================== */

.wp-block-post-terms {
	--gutter: var(--wp--preset--spacing--s);
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	row-gap: var(--gutter, var(--wp--preset--spacing--s-m, 1em));
	column-gap: var(--gutter, var(--wp--preset--spacing--s-m, 1em));
	align-items: center;
	justify-content: flex-start;

	/* Hide the terms separator */
	> .wp-block-post-terms__separator {
		display: none;
	}
}
