/* ======================================================================
WP Block Search - Style Variations
====================================================================== */

/* ----------------------------------------------------------------------
Direction Reversed
---------------------------------------------------------------------- */

.wp-block-search.is-style-direction-reversed {
	--block-search-button-icon-rotation: y 0.5turn;
	--block-search-wrapper-direction: row-reverse;

	.wp-block-search__inside-wrapper {
		reading-flow: flex-visual;
	}
}
