/* TODO: Check, improve and refactor. */

/* ======================================================================
WP Cover
---
Source:
- https://github.com/WordPress/gutenberg/tree/trunk/packages/block-library/src/cover
- https://github.com/WordPress/WordPress/tree/master/wp-includes/blocks/cover
---
Notes:
- To customize most of this block and its parts, use the custom properties.
---
Resources:
- https://inclusive-components.design/cards/
====================================================================== */

/* ======================================================================
Default Style
====================================================================== */

.wp-block-cover {
	min-height: revert;
	padding: var(--gutter, 1em);
}

/* ======================================================================
Custom Style: Custom
====================================================================== */

.wp-block-cover.is-style-custom {
	--cover-background-background: linear-gradient(45deg, hsl(0deg 0% 0% / 80%) 0%, hsl(0deg 0% 0% / 0%) 100%);
	--cover-background-opacity-default: 0;
	--cover-background-opacity-on-hover: 1;
	--cover-focus-shadow: 0 0 0 0.25rem var(--wp--preset--color--primary-medium, currentcolor);

	/* Cover background */

	& > .wp-block-cover__background {
		background: var(--cover-background-background, initial);
		opacity: var(--cover-background-opacity, initial);

		@media (prefers-reduced-motion: no-preference) {
			transition-duration: var(--wp--custom--transition--duration, 0);
			transition-property: opacity;
		}
	}

	/* Cover background when is hovered or the Post Title link child is focused */

	&:is(:hover, :focus-within) > .wp-block-cover__background {
		opacity: var(--cover-background-opacity-on-hover, initial);
	}

	/* Make the whole block interactive if it has a Post Title as link */

	&:has(.wp-block-post-title > :any-link) {
		position: relative;
	}

	/* Cover when the Post Title link child is focused */

	&:has(.wp-block-post-title > :any-link):focus-within {
		box-shadow: var(--cover-focus-shadow, initial);
	}

	& .wp-block-post-title > :any-link {
		text-decoration: none;
		outline: none;
	}

	& .wp-block-post-title > :any-link::after {
		position: absolute;
		inset: 0;
		content: "";
	}
}

/* ======================================================================
Custom Style: Hero
====================================================================== */

.wp-block-cover.is-style-hero {
	align-items: normal;
	justify-content: normal;
	block-size: clamp(300px, 50vmin, 600px);
	container-type: inline-size;
	color: var(--wp--preset--color--surface-1, inherit);

	&:has(.wrapper) {
		padding-inline: 0;
	}

	h1 {
		overflow-wrap: anywhere;
	}

	> .wp-block-cover__inner-container {
		display: grid;
		grid-template-areas:
			"."
			"content";
		grid-template-rows: minmax(auto, 1fr) minmax(auto, 1fr);

		> .hero__content {
			grid-area: content;
			inline-size: 100%;
		}
	}

	@container (width < 30rem) {
		.hero__subtitle {
			display: none;
		}

		> .wp-block-cover__inner-container {
			align-items: center;
		}
	}
}
