/* ======================================================================
WP Query Pagination Previous
---
Source:
- https://github.com/WordPress/gutenberg/tree/trunk/packages/block-library/src/query-pagination-previous
- https://github.com/WordPress/WordPress/tree/master/wp-includes/blocks/query-pagination-previous
---
Notes:
- To customize most of this block and its parts, use the custom properties.
====================================================================== */

/* ======================================================================
Query Pagination Previous
====================================================================== */

.wp-block-query-pagination-previous {
	display: inline-flex;
	flex-wrap: var(--block-query-pag-prev-flex-wrap, wrap);
	row-gap: var(--block-query-pag-prev-gap-rows, 0.5ch);
	column-gap: var(--block-query-pag-prev-gap-columns, 1ch);
	align-content: center;
	align-items: center;
	justify-content: var(--block-query-pag-alignment-main-axis, center);
	min-inline-size: var(--block-query-pag-prev-min-size, var(--min-target-size, 24px));
	min-block-size: var(--block-query-pag-prev-min-size, var(--min-target-size, 24px));
	color: var(--block-query-pag-prev-color, inherit);
	background-color: var(--block-query-pag-prev-color-bg, transparent);
	border-color: var(--block-query-pag-prev-border-color, transparent);
	border-style: var(--block-query-pag-prev-border-style, none);
	border-width: var(--block-query-pag-prev-border-width, 0);
	border-radius: var(--block-query-pag-prev-border-radius, 0);

	/* States */
	:is(:hover, :focus-visible) {
		color: var(--block-query-pag-prev-color-hover, inherit);
		background-color: var(--block-query-pag-prev-color-bg-hover, transparent);
		border-color: var(--block-query-pag-prev-border-color-hover, transparent);
	}
}

/* ======================================================================
Query Pagination Previous Arrow
====================================================================== */

.wp-block-query-pagination-previous-arrow {
	line-height: 1;
}
