/* =======================================================================================
WP Block Columns
---
Source:
- https://github.com/WordPress/gutenberg/tree/trunk/packages/block-library/src/columns
- https://github.com/WordPress/WordPress/tree/master/wp-includes/blocks/columns
---
Notes:
- Use CSS custom properties to customize most of this block and its parts.
======================================================================================= */

.wp-block-columns {
	/* Add low specificity default padding to columns with background. */
	:where(&.has-background) {
		padding-block: var(--block-bg-padding, 1em);
		padding-inline: calc(var(--block-bg-padding, 1em) + ((1lh - 1em) / 2));
	}
}
