/* ======================================================================
WP Site Logo
---
Source:
- https://github.com/WordPress/gutenberg/tree/trunk/packages/block-library/src/site-logo
- https://github.com/WordPress/WordPress/tree/master/wp-includes/blocks/site-logo
---
Notes:
- To customize most of this block and its parts, use the custom properties.
====================================================================== */

.wp-block-site-logo {
	:is(img, svg) {
		inline-size: var(--site-logo-width, auto);
		block-size: var(--site-logo-height, auto);
	}
}
