/* ======================================================================
WP Query Pagination Numbers
---
Source:
- https://github.com/WordPress/gutenberg/tree/trunk/packages/block-library/src/query-pagination-numbers
- https://github.com/WordPress/WordPress/tree/master/wp-includes/blocks/query-pagination-numbers
---
Notes:
- To customize most of this block and its parts, use the custom properties.
====================================================================== */

.wp-block-query-pagination-numbers {
	display: flex;
	flex-wrap: var(--block-query-pag-numbers-flex-wrap, wrap);
	row-gap: var(--block-query-pag-numbers-gap-rows, inherit);
	column-gap: var(--block-query-pag-numbers-gap-columns, inherit);
	align-items: var(--block-query-pag-numbers-align-items, inherit);
	justify-content: var(--block-query-pag-numbers-justify-content, inherit);

	/* Page Number */

	.page-numbers {
		align-content: center;
		min-inline-size: var(--block-query-pag-number-min-size, 44px);
		min-block-size: var(--block-query-pag-number-min-size, 44px);
		padding-block: var(--block-query-pag-number-padding-block, 0.5em);
		padding-inline: var(--block-query-pag-number-padding-inline, 0.5em);
		line-height: 1;
		color: var(--block-query-pag-number-color);
		text-align: center;
		background-color: var(--block-query-pag-number-color-bg);
		border-color: var(--block-query-pag-number-border-color);
		border-style: var(--block-query-pag-number-border-style, solid);
		border-width: var(--block-query-pag-number-border-width, thin);
		border-radius: var(--block-query-pag-number-border-radius);

		/* Page Number that is a Link (neither Current nor Dots) */

		&a:is(:hover, :focus-visible) {
			color: var(--block-query-pag-number-color-hover);
			background-color: var(--block-query-pag-number-color-bg-hover);
			border-color: var(--block-query-pag-number-border-color-hover);
		}

		/* Current Page Number */

		&.current {
			color: var(--block-query-pag-number-current-color);
			background-color: var(--block-query-pag-number-current-color-bg);
			border-color: var(--block-query-pag-number-current-border-color, transparent);
		}

		/* Dots */

		&.dots {
			min-inline-size: var(--block-query-pag-number-dots-min-size, auto);
			min-block-size: var(--block-query-pag-number-dots-min-size, auto);
			padding-block: var(--block-query-pag-number-dots-padding-block, 0);
			padding-inline: var(--block-query-pag-number-dots-padding-inline, 0);
			border-color: var(--block-query-pag-number-dots-border-color, transparent);
			border-width: var(--block-query-pag-number-dots-border-width, 0);
		}
	}
}
