/* ======================================================================
WP Block: Search
---
Source:
- https://github.com/WordPress/gutenberg/tree/trunk/packages/block-library/src/search
- https://github.com/WordPress/WordPress/tree/master/wp-includes/blocks/search
---
Notes:
- To customize most of this block and its parts, use the custom properties.
====================================================================== */

.wp-block-search {
	/* ----------------------------------------------------------------------
	Wrapper
	---------------------------------------------------------------------- */

	.wp-block-search__inside-wrapper {
		--field-min-size-block: 48px;
		display: flex;
		flex-direction: var(--block-search-wrapper-direction, row);
		flex-wrap: wrap;
		gap: var(--block-search-wrapper-gap, 0.5rem);
		align-items: var(--block-search-wrapper-align-items, stretch);
		justify-content: var(--block-search-wrapper-justify-content, start);
		padding-block: var(--block-search-wrapper-padding-block, 0);
		padding-inline: var(--block-search-wrapper-padding-inline, 0);
		background-color: var(--block-search-wrapper-color-bg, transparent);
		border-color: var(--block-search-wrapper-border-color, currentcolor);
		border-style: var(--block-search-wrapper-border-style, solid);
		border-width: var(--block-search-wrapper-border-width, 0);
		border-radius: var(--block-search-wrapper-border-radius, 0);

		/* ----------------------------------------------------------------------
		Input
		---------------------------------------------------------------------- */

		> [type="search"] {
			flex-grow: 999;
			flex-basis: var(--block-search-wrap-at, 66%);

			/* States */
			&:is(:hover, :focus-visible) {
				background-color: var(--block-search-input-color-bg-on-hover, transparent);
			}
		}

		/* ----------------------------------------------------------------------
		Button
		---------------------------------------------------------------------- */

		> button {
			flex-grow: 1;

			/* Icon */
			> :is(svg, .search-icon) {
				rotate: var(--block-search-button-icon-rotation, initial);
				scale: var(--block-search-button-icon-scale, initial);
			}
		}
	}
}
