/* ======================================================================
WP Query Pagination
---
Source:
- https://github.com/WordPress/gutenberg/tree/trunk/packages/block-library/src/query-pagination
- https://github.com/WordPress/WordPress/tree/master/wp-includes/blocks/query-pagination
---
Notes:
- To customize most of this block and its parts, use the custom properties.
====================================================================== */

.wp-block-query-pagination {
	display: flex;
	flex-direction: var(--block-query-pag-direction, row);
	flex-wrap: var(--block-query-pag-wrap, wrap);
	align-items: var(--block-query-pag-align-cross-axis, center);
	justify-content: var(--block-query-pag-align-main-axis, flex-start);

	&.is-layout-flex {
		row-gap: var(--block-query-pag-gap-rows, var(--flow-space, 1em));
		column-gap: var(--block-query-pag-gap-columns, var(--flow-space, 1em));
	}

	/* ----------------------------------------------------------------------
	Previous & Next Arrows
	---------------------------------------------------------------------- */

	/* Removes default margins */

	/* https://github.com/WordPress/WordPress/blob/dd967e2/wp-includes/blocks/query-pagination/style.css#L9 */
	.wp-block-query-pagination-previous-arrow {
		margin-right: 0;
	}

	/* https://github.com/WordPress/WordPress/blob/dd967e2/wp-includes/blocks/query-pagination/style.css#L16 */
	.wp-block-query-pagination-next-arrow {
		margin-left: 0;
	}

	/* ----------------------------------------------------------------------
	Links
	---------------------------------------------------------------------- */

	a:where(:any-link) {
		text-decoration-line: var(--block-query-pag-link-line, revert);
	}
}
