/* ======================================================================
WP Block Paragraph
---
Source:
- https://github.com/WordPress/gutenberg/tree/trunk/packages/block-library/src/paragraph
- https://github.com/WordPress/WordPress/tree/master/wp-includes/blocks/paragraph
---
Notes:
- To customize most of this block and its parts, use the custom properties.
====================================================================== */

.wp-site-blocks :where(p.has-background) {
	padding-block: var(--block-bg-padding, 1em);
	padding-inline: calc(var(--block-bg-padding, 1em) + ((1lh - 1em) / 2));
}
