/* ======================================================================
WP Query Pagination Next
---
Source:
- https://github.com/WordPress/gutenberg/tree/trunk/packages/block-library/src/query-pagination-next
- https://github.com/WordPress/WordPress/tree/master/wp-includes/blocks/query-pagination-next
---
Notes:
- To customize most of this block and its parts, use the custom properties.
====================================================================== */

/* ======================================================================
Query Pagination Next
====================================================================== */

.wp-block-query-pagination-next {
	display: inline-flex;
	flex-wrap: var(--block-query-pag-next-flex-wrap, wrap);
	row-gap: var(--block-query-pag-next-gap-rows, 0.5ch);
	column-gap: var(--block-query-pag-next-gap-columns, 1ch);
	align-content: center;
	align-items: center;
	justify-content: var(--block-query-pag-alignment-main-axis, center);
	min-inline-size: var(--block-query-pag-next-min-size, var(--min-target-size, 24px));
	min-block-size: var(--block-query-pag-next-min-size, var(--min-target-size, 24px));
	color: var(--block-query-pag-next-color, inherit);
	background-color: var(--block-query-pag-next-color-bg, transparent);
	border-color: var(--block-query-pag-next-border-color, transparent);
	border-style: var(--block-query-pag-next-border-style, none);
	border-width: var(--block-query-pag-next-border-width, 0);
	border-radius: var(--block-query-pag-next-border-radius, 0);
}

.wp-block-query-pagination-next:is(:hover, :focus-visible) {
	color: var(--block-query-pag-next-color-hover, inherit);
	background-color: var(--block-query-pag-next-color-bg-hover, transparent);
	border-color: var(--block-query-pag-next-border-color-hover, transparent);
}

/* ======================================================================
Query Pagination Next Arrow
====================================================================== */

.wp-block-query-pagination-next-arrow {
	line-height: 1;
}
