/* ===================================================================
Flow
---
Utilities for controlling the block space between elements.
---
References:
- https://piccalil.li/blog/my-favourite-3-lines-of-css/
=================================================================== */

/* When the CSS property 'margin-trim' is widely availabe (see https://caniuse.com/?search=margin-trim), replace the rules with: */
/* .flow {
	margin-trim: block;

	> * {
		margin-block: var(--block-gap, 1em);
	}
} */

/* -----------------------------------------------
Remove previous possible space between elements
----------------------------------------------- */

:where(.flow, [class*="flow-"]) > * {
	margin-block: 0;
}

/* -----------------------------------------------
Default value to provides consistent vertical spacing between elements.
----------------------------------------------- */

.flow > * + * {
	margin-block-start: var(--block-gap, 1em);
}

/* -----------------------------------------------
Utilities
----------------------------------------------- */

.flow-8 > * + * {
	margin-block-start: var(--space-8) !important;
}

.flow-16 > * + * {
	margin-block-start: var(--space-16) !important;
}

.flow-24 > * + * {
	margin-block-start: var(--space-24) !important;
}

.flow-32 > * + * {
	margin-block-start: var(--space-32) !important;
}

.flow-40 > * + * {
	margin-block-start: var(--space-40) !important;
}

.flow-48 > * + * {
	margin-block-start: var(--space-48) !important;
}

.flow-56 > * + * {
	margin-block-start: var(--space-56) !important;
}

.flow-64 > * + * {
	margin-block-start: var(--space-64) !important;
}

.flow-72 > * + * {
	margin-block-start: var(--space-72) !important;
}

.flow-80 > * + * {
	margin-block-start: var(--space-80) !important;
}

.flow-88 > * + * {
	margin-block-start: var(--space-88) !important;
}

.flow-96 > * + * {
	margin-block-start: var(--space-96) !important;
}

.flow-104 > * + * {
	margin-block-start: var(--space-104) !important;
}

.flow-112 > * + * {
	margin-block-start: var(--space-112) !important;
}

.flow-0-8 > * + * {
	margin-block-start: var(--space-0-8) !important;
}

.flow-0-16 > * + * {
	margin-block-start: var(--space-0-16) !important;
}

.flow-0-24 > * + * {
	margin-block-start: var(--space-0-24) !important;
}

.flow-0-32 > * + * {
	margin-block-start: var(--space-0-32) !important;
}

.flow-0-40 > * + * {
	margin-block-start: var(--space-0-40) !important;
}

.flow-8-16 > * + * {
	margin-block-start: var(--space-8-16) !important;
}

.flow-8-24 > * + * {
	margin-block-start: var(--space-8-24) !important;
}

.flow-8-32 > * + * {
	margin-block-start: var(--space-8-32) !important;
}

.flow-8-40 > * + * {
	margin-block-start: var(--space-8-40) !important;
}

.flow-8-48 > * + * {
	margin-block-start: var(--space-8-48) !important;
}

.flow-16-24 > * + * {
	margin-block-start: var(--space-16-24) !important;
}

.flow-16-32 > * + * {
	margin-block-start: var(--space-16-32) !important;
}

.flow-16-40 > * + * {
	margin-block-start: var(--space-16-40) !important;
}

.flow-16-48 > * + * {
	margin-block-start: var(--space-16-48) !important;
}

.flow-16-56 > * + * {
	margin-block-start: var(--space-16-56) !important;
}

.flow-24-32 > * + * {
	margin-block-start: var(--space-24-32) !important;
}

.flow-24-40 > * + * {
	margin-block-start: var(--space-24-40) !important;
}

.flow-24-48 > * + * {
	margin-block-start: var(--space-24-48) !important;
}

.flow-24-56 > * + * {
	margin-block-start: var(--space-24-56) !important;
}

.flow-24-64 > * + * {
	margin-block-start: var(--space-24-64) !important;
}

.flow-32-40 > * + * {
	margin-block-start: var(--space-32-40) !important;
}

.flow-32-48 > * + * {
	margin-block-start: var(--space-32-48) !important;
}

.flow-32-56 > * + * {
	margin-block-start: var(--space-32-56) !important;
}

.flow-32-64 > * + * {
	margin-block-start: var(--space-32-64) !important;
}

.flow-32-72 > * + * {
	margin-block-start: var(--space-32-72) !important;
}

.flow-40-48 > * + * {
	margin-block-start: var(--space-40-48) !important;
}

.flow-40-56 > * + * {
	margin-block-start: var(--space-40-56) !important;
}

.flow-40-64 > * + * {
	margin-block-start: var(--space-40-64) !important;
}

.flow-40-72 > * + * {
	margin-block-start: var(--space-40-72) !important;
}

.flow-40-80 > * + * {
	margin-block-start: var(--space-40-80) !important;
}

.flow-40-112 > * + * {
	margin-block-start: var(--space-40-112) !important;
}

.flow-48-56 > * + * {
	margin-block-start: var(--space-48-56) !important;
}

.flow-48-64 > * + * {
	margin-block-start: var(--space-48-64) !important;
}

.flow-48-72 > * + * {
	margin-block-start: var(--space-48-72) !important;
}

.flow-48-80 > * + * {
	margin-block-start: var(--space-48-80) !important;
}

.flow-48-88 > * + * {
	margin-block-start: var(--space-48-88) !important;
}

.flow-56-64 > * + * {
	margin-block-start: var(--space-56-64) !important;
}

.flow-56-72 > * + * {
	margin-block-start: var(--space-56-72) !important;
}

.flow-56-80 > * + * {
	margin-block-start: var(--space-56-80) !important;
}

.flow-56-88 > * + * {
	margin-block-start: var(--space-56-88) !important;
}

.flow-56-96 > * + * {
	margin-block-start: var(--space-56-96) !important;
}

.flow-64-72 > * + * {
	margin-block-start: var(--space-64-72) !important;
}

.flow-64-80 > * + * {
	margin-block-start: var(--space-64-80) !important;
}

.flow-64-88 > * + * {
	margin-block-start: var(--space-64-88) !important;
}

.flow-64-96 > * + * {
	margin-block-start: var(--space-64-96) !important;
}

.flow-64-104 > * + * {
	margin-block-start: var(--space-64-104) !important;
}

.flow-72-80 > * + * {
	margin-block-start: var(--space-72-80) !important;
}

.flow-72-88 > * + * {
	margin-block-start: var(--space-72-88) !important;
}

.flow-72-96 > * + * {
	margin-block-start: var(--space-72-96) !important;
}

.flow-72-104 > * + * {
	margin-block-start: var(--space-72-104) !important;
}

.flow-72-112 > * + * {
	margin-block-start: var(--space-72-112) !important;
}

.flow-80-88 > * + * {
	margin-block-start: var(--space-80-88) !important;
}

.flow-80-96 > * + * {
	margin-block-start: var(--space-80-96) !important;
}

.flow-80-104 > * + * {
	margin-block-start: var(--space-80-104) !important;
}

.flow-80-112 > * + * {
	margin-block-start: var(--space-80-112) !important;
}

.flow-88-96 > * + * {
	margin-block-start: var(--space-88-96) !important;
}

.flow-88-104 > * + * {
	margin-block-start: var(--space-88-104) !important;
}

.flow-88-112 > * + * {
	margin-block-start: var(--space-88-112) !important;
}

.flow-96-104 > * + * {
	margin-block-start: var(--space-96-104) !important;
}

.flow-96-112 > * + * {
	margin-block-start: var(--space-96-112) !important;
}

.flow-104-112 > * + * {
	margin-block-start: var(--space-104-112) !important;
}
