.font-4xl {
	font-family: var(--type-display-family);
	font-size: var(--text-size-4xl);
	font-weight: var(--type-display-weight);
	line-height: var(--leading-slim);
	/* letter-spacing: ; */
}

.font-3xl {
	font-family: var(--type-display-family);
	font-size: var(--text-size-3xl);
	font-weight: var(--type-display-weight);
	line-height: var(--leading-slim);
	/* letter-spacing: ; */
}

.font-2xl {
	font-family: var(--type-display-family);
	font-size: var(--text-size-2xl);
	font-weight: var(--type-display-weight);
	line-height: var(--leading-slim);
	/* letter-spacing: ; */
}

.font-xl {
	font-family: var(--type-display-family);
	font-size: var(--text-size-xl);
	font-weight: var(--type-display-weight);
	line-height: var(--leading-slim);
	/* letter-spacing: ; */
}

.font-l {
	font-family: var(--type-display-family);
	font-size: var(--text-size-l);
	font-weight: var(--type-display-weight);
	line-height: var(--leading-slim);
	/* letter-spacing: ; */
}

.font-m {
	font-family: var(--type-body-family);
	font-size: var(--text-size-m);
	font-weight: var(--type-body-weight);
	line-height: var(--leading-base);
	/* letter-spacing: ; */
}

.font-s {
	font-family: var(--type-body-family);
	font-size: var(--text-size-s);
	font-weight: var(--type-body-weight);
	/* line-height: ; */
	/* letter-spacing: ; */
}
