/* ===================================================================
Gap
---
Utilities for controlling gutters between grid and flexbox items.
---
Classes:
- gap
- gap-x
- gap-y
=================================================================== */

/* -----------------------------------------------
Gap
----------------------------------------------- */

.gap-8 {
	gap: var(--space-8) !important;
}

.gap-16 {
	gap: var(--space-16) !important;
}

.gap-24 {
	gap: var(--space-24) !important;
}

.gap-32 {
	gap: var(--space-32) !important;
}

.gap-40 {
	gap: var(--space-40) !important;
}

.gap-48 {
	gap: var(--space-48) !important;
}

.gap-56 {
	gap: var(--space-56) !important;
}

.gap-64 {
	gap: var(--space-64) !important;
}

.gap-72 {
	gap: var(--space-72) !important;
}

.gap-80 {
	gap: var(--space-80) !important;
}

.gap-88 {
	gap: var(--space-88) !important;
}

.gap-96 {
	gap: var(--space-96) !important;
}

.gap-104 {
	gap: var(--space-104) !important;
}

.gap-112 {
	gap: var(--space-112) !important;
}

.gap-0-8 {
	gap: var(--space-0-8) !important;
}

.gap-0-16 {
	gap: var(--space-0-16) !important;
}

.gap-0-24 {
	gap: var(--space-0-24) !important;
}

.gap-0-32 {
	gap: var(--space-0-32) !important;
}

.gap-0-40 {
	gap: var(--space-0-40) !important;
}

.gap-8-16 {
	gap: var(--space-8-16) !important;
}

.gap-8-24 {
	gap: var(--space-8-24) !important;
}

.gap-8-32 {
	gap: var(--space-8-32) !important;
}

.gap-8-40 {
	gap: var(--space-8-40) !important;
}

.gap-8-48 {
	gap: var(--space-8-48) !important;
}

.gap-16-24 {
	gap: var(--space-16-24) !important;
}

.gap-16-32 {
	gap: var(--space-16-32) !important;
}

.gap-16-40 {
	gap: var(--space-16-40) !important;
}

.gap-16-48 {
	gap: var(--space-16-48) !important;
}

.gap-16-56 {
	gap: var(--space-16-56) !important;
}

.gap-24-32 {
	gap: var(--space-24-32) !important;
}

.gap-24-40 {
	gap: var(--space-24-40) !important;
}

.gap-24-48 {
	gap: var(--space-24-48) !important;
}

.gap-24-56 {
	gap: var(--space-24-56) !important;
}

.gap-24-64 {
	gap: var(--space-24-64) !important;
}

.gap-32-40 {
	gap: var(--space-32-40) !important;
}

.gap-32-48 {
	gap: var(--space-32-48) !important;
}

.gap-32-56 {
	gap: var(--space-32-56) !important;
}

.gap-32-64 {
	gap: var(--space-32-64) !important;
}

.gap-32-72 {
	gap: var(--space-32-72) !important;
}

.gap-40-48 {
	gap: var(--space-40-48) !important;
}

.gap-40-56 {
	gap: var(--space-40-56) !important;
}

.gap-40-64 {
	gap: var(--space-40-64) !important;
}

.gap-40-72 {
	gap: var(--space-40-72) !important;
}

.gap-40-80 {
	gap: var(--space-40-80) !important;
}

.gap-48-56 {
	gap: var(--space-48-56) !important;
}

.gap-48-64 {
	gap: var(--space-48-64) !important;
}

.gap-48-72 {
	gap: var(--space-48-72) !important;
}

.gap-48-80 {
	gap: var(--space-48-80) !important;
}

.gap-48-88 {
	gap: var(--space-48-88) !important;
}

.gap-48-112 {
	gap: var(--space-48-112) !important;
}

.gap-56-64 {
	gap: var(--space-56-64) !important;
}

.gap-56-72 {
	gap: var(--space-56-72) !important;
}

.gap-56-80 {
	gap: var(--space-56-80) !important;
}

.gap-56-88 {
	gap: var(--space-56-88) !important;
}

.gap-56-96 {
	gap: var(--space-56-96) !important;
}

.gap-64-72 {
	gap: var(--space-64-72) !important;
}

.gap-64-80 {
	gap: var(--space-64-80) !important;
}

.gap-64-88 {
	gap: var(--space-64-88) !important;
}

.gap-64-96 {
	gap: var(--space-64-96) !important;
}

.gap-64-104 {
	gap: var(--space-64-104) !important;
}

.gap-72-80 {
	gap: var(--space-72-80) !important;
}

.gap-72-88 {
	gap: var(--space-72-88) !important;
}

.gap-72-96 {
	gap: var(--space-72-96) !important;
}

.gap-72-104 {
	gap: var(--space-72-104) !important;
}

.gap-72-112 {
	gap: var(--space-72-112) !important;
}

.gap-80-88 {
	gap: var(--space-80-88) !important;
}

.gap-80-96 {
	gap: var(--space-80-96) !important;
}

.gap-80-104 {
	gap: var(--space-80-104) !important;
}

.gap-80-112 {
	gap: var(--space-80-112) !important;
}

.gap-88-96 {
	gap: var(--space-88-96) !important;
}

.gap-88-104 {
	gap: var(--space-88-104) !important;
}

.gap-88-112 {
	gap: var(--space-88-112) !important;
}

.gap-96-104 {
	gap: var(--space-96-104) !important;
}

.gap-96-112 {
	gap: var(--space-96-112) !important;
}

.gap-104-112 {
	gap: var(--space-104-112) !important;
}

/* -----------------------------------------------
Column Gap
----------------------------------------------- */

.gap-x-8 {
	column-gap: var(--space-8) !important;
}

.gap-x-16 {
	column-gap: var(--space-16) !important;
}

.gap-x-24 {
	column-gap: var(--space-24) !important;
}

.gap-x-32 {
	column-gap: var(--space-32) !important;
}

.gap-x-40 {
	column-gap: var(--space-40) !important;
}

.gap-x-48 {
	column-gap: var(--space-48) !important;
}

.gap-x-56 {
	column-gap: var(--space-56) !important;
}

.gap-x-64 {
	column-gap: var(--space-64) !important;
}

.gap-x-72 {
	column-gap: var(--space-72) !important;
}

.gap-x-80 {
	column-gap: var(--space-80) !important;
}

.gap-x-88 {
	column-gap: var(--space-88) !important;
}

.gap-x-96 {
	column-gap: var(--space-96) !important;
}

.gap-x-104 {
	column-gap: var(--space-104) !important;
}

.gap-x-112 {
	column-gap: var(--space-112) !important;
}

.gap-x-0-8 {
	column-gap: var(--space-0-8) !important;
}

.gap-x-0-16 {
	column-gap: var(--space-0-16) !important;
}

.gap-x-0-24 {
	column-gap: var(--space-0-24) !important;
}

.gap-x-0-32 {
	column-gap: var(--space-0-32) !important;
}

.gap-x-0-40 {
	column-gap: var(--space-0-40) !important;
}

.gap-x-8-16 {
	column-gap: var(--space-8-16) !important;
}

.gap-x-8-24 {
	column-gap: var(--space-8-24) !important;
}

.gap-x-8-32 {
	column-gap: var(--space-8-32) !important;
}

.gap-x-8-40 {
	column-gap: var(--space-8-40) !important;
}

.gap-x-8-48 {
	column-gap: var(--space-8-48) !important;
}

.gap-x-16-24 {
	column-gap: var(--space-16-24) !important;
}

.gap-x-16-32 {
	column-gap: var(--space-16-32) !important;
}

.gap-x-16-40 {
	column-gap: var(--space-16-40) !important;
}

.gap-x-16-48 {
	column-gap: var(--space-16-48) !important;
}

.gap-x-16-56 {
	column-gap: var(--space-16-56) !important;
}

.gap-x-24-32 {
	column-gap: var(--space-24-32) !important;
}

.gap-x-24-40 {
	column-gap: var(--space-24-40) !important;
}

.gap-x-24-48 {
	column-gap: var(--space-24-48) !important;
}

.gap-x-24-56 {
	column-gap: var(--space-24-56) !important;
}

.gap-x-24-64 {
	column-gap: var(--space-24-64) !important;
}

.gap-x-32-40 {
	column-gap: var(--space-32-40) !important;
}

.gap-x-32-48 {
	column-gap: var(--space-32-48) !important;
}

.gap-x-32-56 {
	column-gap: var(--space-32-56) !important;
}

.gap-x-32-64 {
	column-gap: var(--space-32-64) !important;
}

.gap-x-32-72 {
	column-gap: var(--space-32-72) !important;
}

.gap-x-40-48 {
	column-gap: var(--space-40-48) !important;
}

.gap-x-40-56 {
	column-gap: var(--space-40-56) !important;
}

.gap-x-40-64 {
	column-gap: var(--space-40-64) !important;
}

.gap-x-40-72 {
	column-gap: var(--space-40-72) !important;
}

.gap-x-40-80 {
	column-gap: var(--space-40-80) !important;
}

.gap-x-40-112 {
	column-gap: var(--space-40-112) !important;
}

.gap-x-48-56 {
	column-gap: var(--space-48-56) !important;
}

.gap-x-48-64 {
	column-gap: var(--space-48-64) !important;
}

.gap-x-48-72 {
	column-gap: var(--space-48-72) !important;
}

.gap-x-48-80 {
	column-gap: var(--space-48-80) !important;
}

.gap-x-48-88 {
	column-gap: var(--space-48-88) !important;
}

.gap-x-56-64 {
	column-gap: var(--space-56-64) !important;
}

.gap-x-56-72 {
	column-gap: var(--space-56-72) !important;
}

.gap-x-56-80 {
	column-gap: var(--space-56-80) !important;
}

.gap-x-56-88 {
	column-gap: var(--space-56-88) !important;
}

.gap-x-56-96 {
	column-gap: var(--space-56-96) !important;
}

.gap-x-64-72 {
	column-gap: var(--space-64-72) !important;
}

.gap-x-64-80 {
	column-gap: var(--space-64-80) !important;
}

.gap-x-64-88 {
	column-gap: var(--space-64-88) !important;
}

.gap-x-64-96 {
	column-gap: var(--space-64-96) !important;
}

.gap-x-64-104 {
	column-gap: var(--space-64-104) !important;
}

.gap-x-72-80 {
	column-gap: var(--space-72-80) !important;
}

.gap-x-72-88 {
	column-gap: var(--space-72-88) !important;
}

.gap-x-72-96 {
	column-gap: var(--space-72-96) !important;
}

.gap-x-72-104 {
	column-gap: var(--space-72-104) !important;
}

.gap-x-72-112 {
	column-gap: var(--space-72-112) !important;
}

.gap-x-80-88 {
	column-gap: var(--space-80-88) !important;
}

.gap-x-80-96 {
	column-gap: var(--space-80-96) !important;
}

.gap-x-80-104 {
	column-gap: var(--space-80-104) !important;
}

.gap-x-80-112 {
	column-gap: var(--space-80-112) !important;
}

.gap-x-88-96 {
	column-gap: var(--space-88-96) !important;
}

.gap-x-88-104 {
	column-gap: var(--space-88-104) !important;
}

.gap-x-88-112 {
	column-gap: var(--space-88-112) !important;
}

.gap-x-96-104 {
	column-gap: var(--space-96-104) !important;
}

.gap-x-96-112 {
	column-gap: var(--space-96-112) !important;
}

.gap-x-104-112 {
	column-gap: var(--space-104-112) !important;
}

/* -----------------------------------------------
Row Gap
----------------------------------------------- */

.gap-y-8 {
	row-gap: var(--space-8) !important;
}

.gap-y-16 {
	row-gap: var(--space-16) !important;
}

.gap-y-24 {
	row-gap: var(--space-24) !important;
}

.gap-y-32 {
	row-gap: var(--space-32) !important;
}

.gap-y-40 {
	row-gap: var(--space-40) !important;
}

.gap-y-48 {
	row-gap: var(--space-48) !important;
}

.gap-y-56 {
	row-gap: var(--space-56) !important;
}

.gap-y-64 {
	row-gap: var(--space-64) !important;
}

.gap-y-72 {
	row-gap: var(--space-72) !important;
}

.gap-y-80 {
	row-gap: var(--space-80) !important;
}

.gap-y-88 {
	row-gap: var(--space-88) !important;
}

.gap-y-96 {
	row-gap: var(--space-96) !important;
}

.gap-y-104 {
	row-gap: var(--space-104) !important;
}

.gap-y-112 {
	row-gap: var(--space-112) !important;
}

.gap-y-0-8 {
	row-gap: var(--space-0-8) !important;
}

.gap-y-0-16 {
	row-gap: var(--space-0-16) !important;
}

.gap-y-0-24 {
	row-gap: var(--space-0-24) !important;
}

.gap-y-0-32 {
	row-gap: var(--space-0-32) !important;
}

.gap-y-0-40 {
	row-gap: var(--space-0-40) !important;
}

.gap-y-8-16 {
	row-gap: var(--space-8-16) !important;
}

.gap-y-8-24 {
	row-gap: var(--space-8-24) !important;
}

.gap-y-8-32 {
	row-gap: var(--space-8-32) !important;
}

.gap-y-8-40 {
	row-gap: var(--space-8-40) !important;
}

.gap-y-8-48 {
	row-gap: var(--space-8-48) !important;
}

.gap-y-16-24 {
	row-gap: var(--space-16-24) !important;
}

.gap-y-16-32 {
	row-gap: var(--space-16-32) !important;
}

.gap-y-16-40 {
	row-gap: var(--space-16-40) !important;
}

.gap-y-16-48 {
	row-gap: var(--space-16-48) !important;
}

.gap-y-16-56 {
	row-gap: var(--space-16-56) !important;
}

.gap-y-24-32 {
	row-gap: var(--space-24-32) !important;
}

.gap-y-24-40 {
	row-gap: var(--space-24-40) !important;
}

.gap-y-24-48 {
	row-gap: var(--space-24-48) !important;
}

.gap-y-24-56 {
	row-gap: var(--space-24-56) !important;
}

.gap-y-24-64 {
	row-gap: var(--space-24-64) !important;
}

.gap-y-32-40 {
	row-gap: var(--space-32-40) !important;
}

.gap-y-32-48 {
	row-gap: var(--space-32-48) !important;
}

.gap-y-32-56 {
	row-gap: var(--space-32-56) !important;
}

.gap-y-32-64 {
	row-gap: var(--space-32-64) !important;
}

.gap-y-32-72 {
	row-gap: var(--space-32-72) !important;
}

.gap-y-40-48 {
	row-gap: var(--space-40-48) !important;
}

.gap-y-40-56 {
	row-gap: var(--space-40-56) !important;
}

.gap-y-40-64 {
	row-gap: var(--space-40-64) !important;
}

.gap-y-40-72 {
	row-gap: var(--space-40-72) !important;
}

.gap-y-40-80 {
	row-gap: var(--space-40-80) !important;
}

.gap-y-40-112 {
	row-gap: var(--space-40-112) !important;
}

.gap-y-48-56 {
	row-gap: var(--space-48-56) !important;
}

.gap-y-48-64 {
	row-gap: var(--space-48-64) !important;
}

.gap-y-48-72 {
	row-gap: var(--space-48-72) !important;
}

.gap-y-48-80 {
	row-gap: var(--space-48-80) !important;
}

.gap-y-48-88 {
	row-gap: var(--space-48-88) !important;
}

.gap-y-56-64 {
	row-gap: var(--space-56-64) !important;
}

.gap-y-56-72 {
	row-gap: var(--space-56-72) !important;
}

.gap-y-56-80 {
	row-gap: var(--space-56-80) !important;
}

.gap-y-56-88 {
	row-gap: var(--space-56-88) !important;
}

.gap-y-56-96 {
	row-gap: var(--space-56-96) !important;
}

.gap-y-64-72 {
	row-gap: var(--space-64-72) !important;
}

.gap-y-64-80 {
	row-gap: var(--space-64-80) !important;
}

.gap-y-64-88 {
	row-gap: var(--space-64-88) !important;
}

.gap-y-64-96 {
	row-gap: var(--space-64-96) !important;
}

.gap-y-64-104 {
	row-gap: var(--space-64-104) !important;
}

.gap-y-72-80 {
	row-gap: var(--space-72-80) !important;
}

.gap-y-72-88 {
	row-gap: var(--space-72-88) !important;
}

.gap-y-72-96 {
	row-gap: var(--space-72-96) !important;
}

.gap-y-72-104 {
	row-gap: var(--space-72-104) !important;
}

.gap-y-72-112 {
	row-gap: var(--space-72-112) !important;
}

.gap-y-80-88 {
	row-gap: var(--space-80-88) !important;
}

.gap-y-80-96 {
	row-gap: var(--space-80-96) !important;
}

.gap-y-80-104 {
	row-gap: var(--space-80-104) !important;
}

.gap-y-80-112 {
	row-gap: var(--space-80-112) !important;
}

.gap-y-88-96 {
	row-gap: var(--space-88-96) !important;
}

.gap-y-88-104 {
	row-gap: var(--space-88-104) !important;
}

.gap-y-88-112 {
	row-gap: var(--space-88-112) !important;
}

.gap-y-96-104 {
	row-gap: var(--space-96-104) !important;
}

.gap-y-96-112 {
	row-gap: var(--space-96-112) !important;
}

.gap-y-104-112 {
	row-gap: var(--space-104-112) !important;
}
