/* ===================================================================
Padding
---
Utilities for controlling an element's padding.
---
Classes:
- padding
- padding-inline
- padding-block
=================================================================== */

/* -----------------------------------------------
Padding
----------------------------------------------- */

.padding-8 {
	padding: var(--space-8) !important;
}

.padding-16 {
	padding: var(--space-16) !important;
}

.padding-24 {
	padding: var(--space-24) !important;
}

.padding-32 {
	padding: var(--space-32) !important;
}

.padding-40 {
	padding: var(--space-40) !important;
}

.padding-48 {
	padding: var(--space-48) !important;
}

.padding-56 {
	padding: var(--space-56) !important;
}

.padding-64 {
	padding: var(--space-64) !important;
}

.padding-72 {
	padding: var(--space-72) !important;
}

.padding-80 {
	padding: var(--space-80) !important;
}

.padding-88 {
	padding: var(--space-88) !important;
}

.padding-96 {
	padding: var(--space-96) !important;
}

.padding-104 {
	padding: var(--space-104) !important;
}

.padding-112 {
	padding: var(--space-112) !important;
}

.padding-0-8 {
	padding: var(--space-0-8) !important;
}

.padding-0-16 {
	padding: var(--space-0-16) !important;
}

.padding-0-24 {
	padding: var(--space-0-24) !important;
}

.padding-0-32 {
	padding: var(--space-0-32) !important;
}

.padding-0-40 {
	padding: var(--space-0-40) !important;
}

.padding-8-16 {
	padding: var(--space-8-16) !important;
}

.padding-8-24 {
	padding: var(--space-8-24) !important;
}

.padding-8-32 {
	padding: var(--space-8-32) !important;
}

.padding-8-40 {
	padding: var(--space-8-40) !important;
}

.padding-8-48 {
	padding: var(--space-8-48) !important;
}

.padding-16-24 {
	padding: var(--space-16-24) !important;
}

.padding-16-32 {
	padding: var(--space-16-32) !important;
}

.padding-16-40 {
	padding: var(--space-16-40) !important;
}

.padding-16-48 {
	padding: var(--space-16-48) !important;
}

.padding-16-56 {
	padding: var(--space-16-56) !important;
}

.padding-24-32 {
	padding: var(--space-24-32) !important;
}

.padding-24-40 {
	padding: var(--space-24-40) !important;
}

.padding-24-48 {
	padding: var(--space-24-48) !important;
}

.padding-24-56 {
	padding: var(--space-24-56) !important;
}

.padding-24-64 {
	padding: var(--space-24-64) !important;
}

.padding-32-40 {
	padding: var(--space-32-40) !important;
}

.padding-32-48 {
	padding: var(--space-32-48) !important;
}

.padding-32-56 {
	padding: var(--space-32-56) !important;
}

.padding-32-64 {
	padding: var(--space-32-64) !important;
}

.padding-32-72 {
	padding: var(--space-32-72) !important;
}

.padding-40-48 {
	padding: var(--space-40-48) !important;
}

.padding-40-56 {
	padding: var(--space-40-56) !important;
}

.padding-40-64 {
	padding: var(--space-40-64) !important;
}

.padding-40-72 {
	padding: var(--space-40-72) !important;
}

.padding-40-80 {
	padding: var(--space-40-80) !important;
}

.padding-40-112 {
	padding: var(--space-40-112) !important;
}

.padding-48-56 {
	padding: var(--space-48-56) !important;
}

.padding-48-64 {
	padding: var(--space-48-64) !important;
}

.padding-48-72 {
	padding: var(--space-48-72) !important;
}

.padding-48-80 {
	padding: var(--space-48-80) !important;
}

.padding-48-88 {
	padding: var(--space-48-88) !important;
}

.padding-56-64 {
	padding: var(--space-56-64) !important;
}

.padding-56-72 {
	padding: var(--space-56-72) !important;
}

.padding-56-80 {
	padding: var(--space-56-80) !important;
}

.padding-56-88 {
	padding: var(--space-56-88) !important;
}

.padding-56-96 {
	padding: var(--space-56-96) !important;
}

.padding-64-72 {
	padding: var(--space-64-72) !important;
}

.padding-64-80 {
	padding: var(--space-64-80) !important;
}

.padding-64-88 {
	padding: var(--space-64-88) !important;
}

.padding-64-96 {
	padding: var(--space-64-96) !important;
}

.padding-64-104 {
	padding: var(--space-64-104) !important;
}

.padding-72-80 {
	padding: var(--space-72-80) !important;
}

.padding-72-88 {
	padding: var(--space-72-88) !important;
}

.padding-72-96 {
	padding: var(--space-72-96) !important;
}

.padding-72-104 {
	padding: var(--space-72-104) !important;
}

.padding-72-112 {
	padding: var(--space-72-112) !important;
}

.padding-80-88 {
	padding: var(--space-80-88) !important;
}

.padding-80-96 {
	padding: var(--space-80-96) !important;
}

.padding-80-104 {
	padding: var(--space-80-104) !important;
}

.padding-80-112 {
	padding: var(--space-80-112) !important;
}

.padding-88-96 {
	padding: var(--space-88-96) !important;
}

.padding-88-104 {
	padding: var(--space-88-104) !important;
}

.padding-88-112 {
	padding: var(--space-88-112) !important;
}

.padding-96-104 {
	padding: var(--space-96-104) !important;
}

.padding-96-112 {
	padding: var(--space-96-112) !important;
}

.padding-104-112 {
	padding: var(--space-104-112) !important;
}

/* -----------------------------------------------
Padding Inline
----------------------------------------------- */

.padding-x-8 {
	padding-inline: var(--space-8) !important;
}

.padding-x-16 {
	padding-inline: var(--space-16) !important;
}

.padding-x-24 {
	padding-inline: var(--space-24) !important;
}

.padding-x-32 {
	padding-inline: var(--space-32) !important;
}

.padding-x-40 {
	padding-inline: var(--space-40) !important;
}

.padding-x-48 {
	padding-inline: var(--space-48) !important;
}

.padding-x-56 {
	padding-inline: var(--space-56) !important;
}

.padding-x-64 {
	padding-inline: var(--space-64) !important;
}

.padding-x-72 {
	padding-inline: var(--space-72) !important;
}

.padding-x-80 {
	padding-inline: var(--space-80) !important;
}

.padding-x-88 {
	padding-inline: var(--space-88) !important;
}

.padding-x-96 {
	padding-inline: var(--space-96) !important;
}

.padding-x-104 {
	padding-inline: var(--space-104) !important;
}

.padding-x-112 {
	padding-inline: var(--space-112) !important;
}

.padding-x-0-8 {
	padding-inline: var(--space-0-8) !important;
}

.padding-x-0-16 {
	padding-inline: var(--space-0-16) !important;
}

.padding-x-0-24 {
	padding-inline: var(--space-0-24) !important;
}

.padding-x-0-32 {
	padding-inline: var(--space-0-32) !important;
}

.padding-x-0-40 {
	padding-inline: var(--space-0-40) !important;
}

.padding-x-8-16 {
	padding-inline: var(--space-8-16) !important;
}

.padding-x-8-24 {
	padding-inline: var(--space-8-24) !important;
}

.padding-x-8-32 {
	padding-inline: var(--space-8-32) !important;
}

.padding-x-8-40 {
	padding-inline: var(--space-8-40) !important;
}

.padding-x-8-48 {
	padding-inline: var(--space-8-48) !important;
}

.padding-x-16-24 {
	padding-inline: var(--space-16-24) !important;
}

.padding-x-16-32 {
	padding-inline: var(--space-16-32) !important;
}

.padding-x-16-40 {
	padding-inline: var(--space-16-40) !important;
}

.padding-x-16-48 {
	padding-inline: var(--space-16-48) !important;
}

.padding-x-16-56 {
	padding-inline: var(--space-16-56) !important;
}

.padding-x-24-32 {
	padding-inline: var(--space-24-32) !important;
}

.padding-x-24-40 {
	padding-inline: var(--space-24-40) !important;
}

.padding-x-24-48 {
	padding-inline: var(--space-24-48) !important;
}

.padding-x-24-56 {
	padding-inline: var(--space-24-56) !important;
}

.padding-x-24-64 {
	padding-inline: var(--space-24-64) !important;
}

.padding-x-32-40 {
	padding-inline: var(--space-32-40) !important;
}

.padding-x-32-48 {
	padding-inline: var(--space-32-48) !important;
}

.padding-x-32-56 {
	padding-inline: var(--space-32-56) !important;
}

.padding-x-32-64 {
	padding-inline: var(--space-32-64) !important;
}

.padding-x-32-72 {
	padding-inline: var(--space-32-72) !important;
}

.padding-x-40-48 {
	padding-inline: var(--space-40-48) !important;
}

.padding-x-40-56 {
	padding-inline: var(--space-40-56) !important;
}

.padding-x-40-64 {
	padding-inline: var(--space-40-64) !important;
}

.padding-x-40-72 {
	padding-inline: var(--space-40-72) !important;
}

.padding-x-40-80 {
	padding-inline: var(--space-40-80) !important;
}

.padding-x-40-112 {
	padding-inline: var(--space-40-112) !important;
}

.padding-x-48-56 {
	padding-inline: var(--space-48-56) !important;
}

.padding-x-48-64 {
	padding-inline: var(--space-48-64) !important;
}

.padding-x-48-72 {
	padding-inline: var(--space-48-72) !important;
}

.padding-x-48-80 {
	padding-inline: var(--space-48-80) !important;
}

.padding-x-48-88 {
	padding-inline: var(--space-48-88) !important;
}

.padding-x-56-64 {
	padding-inline: var(--space-56-64) !important;
}

.padding-x-56-72 {
	padding-inline: var(--space-56-72) !important;
}

.padding-x-56-80 {
	padding-inline: var(--space-56-80) !important;
}

.padding-x-56-88 {
	padding-inline: var(--space-56-88) !important;
}

.padding-x-56-96 {
	padding-inline: var(--space-56-96) !important;
}

.padding-x-64-72 {
	padding-inline: var(--space-64-72) !important;
}

.padding-x-64-80 {
	padding-inline: var(--space-64-80) !important;
}

.padding-x-64-88 {
	padding-inline: var(--space-64-88) !important;
}

.padding-x-64-96 {
	padding-inline: var(--space-64-96) !important;
}

.padding-x-64-104 {
	padding-inline: var(--space-64-104) !important;
}

.padding-x-72-80 {
	padding-inline: var(--space-72-80) !important;
}

.padding-x-72-88 {
	padding-inline: var(--space-72-88) !important;
}

.padding-x-72-96 {
	padding-inline: var(--space-72-96) !important;
}

.padding-x-72-104 {
	padding-inline: var(--space-72-104) !important;
}

.padding-x-72-112 {
	padding-inline: var(--space-72-112) !important;
}

.padding-x-80-88 {
	padding-inline: var(--space-80-88) !important;
}

.padding-x-80-96 {
	padding-inline: var(--space-80-96) !important;
}

.padding-x-80-104 {
	padding-inline: var(--space-80-104) !important;
}

.padding-x-80-112 {
	padding-inline: var(--space-80-112) !important;
}

.padding-x-88-96 {
	padding-inline: var(--space-88-96) !important;
}

.padding-x-88-104 {
	padding-inline: var(--space-88-104) !important;
}

.padding-x-88-112 {
	padding-inline: var(--space-88-112) !important;
}

.padding-x-96-104 {
	padding-inline: var(--space-96-104) !important;
}

.padding-x-96-112 {
	padding-inline: var(--space-96-112) !important;
}

.padding-x-104-112 {
	padding-inline: var(--space-104-112) !important;
}

/* -----------------------------------------------
Padding Block
----------------------------------------------- */

.padding-y-8 {
	padding-block: var(--space-8) !important;
}

.padding-y-16 {
	padding-block: var(--space-16) !important;
}

.padding-y-24 {
	padding-block: var(--space-24) !important;
}

.padding-y-32 {
	padding-block: var(--space-32) !important;
}

.padding-y-40 {
	padding-block: var(--space-40) !important;
}

.padding-y-48 {
	padding-block: var(--space-48) !important;
}

.padding-y-56 {
	padding-block: var(--space-56) !important;
}

.padding-y-64 {
	padding-block: var(--space-64) !important;
}

.padding-y-72 {
	padding-block: var(--space-72) !important;
}

.padding-y-80 {
	padding-block: var(--space-80) !important;
}

.padding-y-88 {
	padding-block: var(--space-88) !important;
}

.padding-y-96 {
	padding-block: var(--space-96) !important;
}

.padding-y-104 {
	padding-block: var(--space-104) !important;
}

.padding-y-112 {
	padding-block: var(--space-112) !important;
}

.padding-y-0-8 {
	padding-block: var(--space-0-8) !important;
}

.padding-y-0-16 {
	padding-block: var(--space-0-16) !important;
}

.padding-y-0-24 {
	padding-block: var(--space-0-24) !important;
}

.padding-y-0-32 {
	padding-block: var(--space-0-32) !important;
}

.padding-y-0-40 {
	padding-block: var(--space-0-40) !important;
}

.padding-y-8-16 {
	padding-block: var(--space-8-16) !important;
}

.padding-y-8-24 {
	padding-block: var(--space-8-24) !important;
}

.padding-y-8-32 {
	padding-block: var(--space-8-32) !important;
}

.padding-y-8-40 {
	padding-block: var(--space-8-40) !important;
}

.padding-y-8-48 {
	padding-block: var(--space-8-48) !important;
}

.padding-y-16-24 {
	padding-block: var(--space-16-24) !important;
}

.padding-y-16-32 {
	padding-block: var(--space-16-32) !important;
}

.padding-y-16-40 {
	padding-block: var(--space-16-40) !important;
}

.padding-y-16-48 {
	padding-block: var(--space-16-48) !important;
}

.padding-y-16-56 {
	padding-block: var(--space-16-56) !important;
}

.padding-y-24-32 {
	padding-block: var(--space-24-32) !important;
}

.padding-y-24-40 {
	padding-block: var(--space-24-40) !important;
}

.padding-y-24-48 {
	padding-block: var(--space-24-48) !important;
}

.padding-y-24-56 {
	padding-block: var(--space-24-56) !important;
}

.padding-y-24-64 {
	padding-block: var(--space-24-64) !important;
}

.padding-y-32-40 {
	padding-block: var(--space-32-40) !important;
}

.padding-y-32-48 {
	padding-block: var(--space-32-48) !important;
}

.padding-y-32-56 {
	padding-block: var(--space-32-56) !important;
}

.padding-y-32-64 {
	padding-block: var(--space-32-64) !important;
}

.padding-y-32-72 {
	padding-block: var(--space-32-72) !important;
}

.padding-y-40-48 {
	padding-block: var(--space-40-48) !important;
}

.padding-y-40-56 {
	padding-block: var(--space-40-56) !important;
}

.padding-y-40-64 {
	padding-block: var(--space-40-64) !important;
}

.padding-y-40-72 {
	padding-block: var(--space-40-72) !important;
}

.padding-y-40-80 {
	padding-block: var(--space-40-80) !important;
}

.padding-y-40-112 {
	padding-block: var(--space-40-112) !important;
}

.padding-y-48-56 {
	padding-block: var(--space-48-56) !important;
}

.padding-y-48-64 {
	padding-block: var(--space-48-64) !important;
}

.padding-y-48-72 {
	padding-block: var(--space-48-72) !important;
}

.padding-y-48-80 {
	padding-block: var(--space-48-80) !important;
}

.padding-y-48-88 {
	padding-block: var(--space-48-88) !important;
}

.padding-y-56-64 {
	padding-block: var(--space-56-64) !important;
}

.padding-y-56-72 {
	padding-block: var(--space-56-72) !important;
}

.padding-y-56-80 {
	padding-block: var(--space-56-80) !important;
}

.padding-y-56-88 {
	padding-block: var(--space-56-88) !important;
}

.padding-y-56-96 {
	padding-block: var(--space-56-96) !important;
}

.padding-y-64-72 {
	padding-block: var(--space-64-72) !important;
}

.padding-y-64-80 {
	padding-block: var(--space-64-80) !important;
}

.padding-y-64-88 {
	padding-block: var(--space-64-88) !important;
}

.padding-y-64-96 {
	padding-block: var(--space-64-96) !important;
}

.padding-y-64-104 {
	padding-block: var(--space-64-104) !important;
}

.padding-y-72-80 {
	padding-block: var(--space-72-80) !important;
}

.padding-y-72-88 {
	padding-block: var(--space-72-88) !important;
}

.padding-y-72-96 {
	padding-block: var(--space-72-96) !important;
}

.padding-y-72-104 {
	padding-block: var(--space-72-104) !important;
}

.padding-y-72-112 {
	padding-block: var(--space-72-112) !important;
}

.padding-y-80-88 {
	padding-block: var(--space-80-88) !important;
}

.padding-y-80-96 {
	padding-block: var(--space-80-96) !important;
}

.padding-y-80-104 {
	padding-block: var(--space-80-104) !important;
}

.padding-y-80-112 {
	padding-block: var(--space-80-112) !important;
}

.padding-y-88-96 {
	padding-block: var(--space-88-96) !important;
}

.padding-y-88-104 {
	padding-block: var(--space-88-104) !important;
}

.padding-y-88-112 {
	padding-block: var(--space-88-112) !important;
}

.padding-y-96-104 {
	padding-block: var(--space-96-104) !important;
}

.padding-y-96-112 {
	padding-block: var(--space-96-112) !important;
}

.padding-y-104-112 {
	padding-block: var(--space-104-112) !important;
}
