/* ===================================================================
Text Wrap
=================================================================== */

.text-wrap-balance {
	text-wrap: balance !important;
}

.text-wrap-pretty {
	text-wrap: pretty !important;
}
