/* ======================================================================
Title:       Cluster
Description: A layout that lets you distribute items with consistent spacing, regardless of their size.
Reference:   https://every-layout.dev/layouts/cluster/
---
Variables:

--cluster-gap-columns
	Description: The gap (gutter) between the element's columns.
	Type:        A valid 'gap' value.
	Default:     var(--gutter, 1em)

--cluster-gap-rows
	Description: The gap (gutter) between the element's rows.
	Type:        A valid 'gap' value.
	Default:     var(--gutter, 1rem)

--cluster-horizontal-alignment
	Description: How items should align horizontally.
	Type:        A valid 'justify-content' value.
	Default:     start

--cluster-vertical-alignment
	Description: How items should align vertically.
	Type:        A valid 'align-items' value.
	Default:     center
====================================================================== */

.cluster {
	display: flex;
	flex-wrap: wrap;
	row-gap: var(--cluster-gap-rows, var(--gutter, 1rem));
	column-gap: var(--cluster-gap-columns, var(--gutter, 1em));
	align-items: var(--cluster-vertical-alignment, center);
	justify-content: var(--cluster-horizontal-alignment, start);

	> * {
		margin: 0;
	}

	/* WP - For the block editor */
	&.is-layout-flow > * {
		margin: 0;
	}
}
