/*
WRAPPER COMPOSITION
A common wrapper/container
*/
.wrapper {
	position: relative;
	max-width: var(--wrapper-max-width, 1360px);
	padding-inline-start: var(--gutter);
	padding-inline-end: var(--gutter);
	margin-inline: auto;
}
