/* =======================================================================================
Audio
---
Source:
- https://github.com/WordPress/gutenberg/tree/trunk/packages/block-library/src/audio
- https://github.com/WordPress/WordPress/tree/master/wp-includes/blocks/audio
---
Notes:
- Use CSS custom properties to customize most of this block and its parts.
======================================================================================= */

/* Revert default '300px' value to make it responsive */
.wp-block-audio audio {
	min-width: revert;
}
