.gutter-0 {
	--gutter: 0;
}

.gutter-3xs {
	--gutter: var(--wp--preset--spacing--3-xs) !important;
}

.gutter-2xs {
	--gutter: var(--wp--preset--spacing--2-xs) !important;
}

.gutter-xs {
	--gutter: var(--wp--preset--spacing--xs) !important;
}

.gutter-s {
	--gutter: var(--wp--preset--spacing--s) !important;
}

.gutter-m {
	--gutter: var(--wp--preset--spacing--m) !important;
}

.gutter-l {
	--gutter: var(--wp--preset--spacing--l) !important;
}

.gutter-xl {
	--gutter: var(--wp--preset--spacing--xl) !important;
}

.gutter-2xl {
	--gutter: var(--wp--preset--spacing--2-xl) !important;
}

.gutter-3xl {
	--gutter: var(--wp--preset--spacing--3-xl) !important;
}

.gutter-4xl {
	--gutter: var(--wp--preset--spacing--4-xl) !important;
}

.gutter-5xl {
	--gutter: var(--wp--preset--spacing--5-xl) !important;
}

.gutter-3xs-2xs {
	--gutter: var(--wp--preset--spacing--3-xs-2-xs) !important;
}

.gutter-2xs-xs {
	--gutter: var(--wp--preset--spacing--2-xs-xs) !important;
}

.gutter-xs-s {
	--gutter: var(--wp--preset--spacing--xs-s) !important;
}

.gutter-s-m {
	--gutter: var(--wp--preset--spacing--s-m) !important;
}

.gutter-m-l {
	--gutter: var(--wp--preset--spacing--m-l) !important;
}

.gutter-l-xl {
	--gutter: var(--wp--preset--spacing--l-xl) !important;
}

.gutter-xl-2xl {
	--gutter: var(--wp--preset--spacing--xl-2-xl) !important;
}

.gutter-2xl-3xl {
	--gutter: var(--wp--preset--spacing--2-xl-3-xl) !important;
}

.gutter-3xl-4xl {
	--gutter: var(--wp--preset--spacing--3-xl-4-xl) !important;
}

.gutter-4xl-5xl {
	--gutter: var(--wp--preset--spacing--4-xl-5-xl) !important;
}

.gutter-3xs-xs {
	--gutter: var(--wp--preset--spacing--3-xs-xs) !important;
}

.gutter-2xs-s {
	--gutter: var(--wp--preset--spacing--2-xs-s) !important;
}

.gutter-xs-m {
	--gutter: var(--wp--preset--spacing--xs-m) !important;
}

.gutter-s-l {
	--gutter: var(--wp--preset--spacing--s-l) !important;
}

.gutter-m-xl {
	--gutter: var(--wp--preset--spacing--m-xl) !important;
}

.gutter-l-2xl {
	--gutter: var(--wp--preset--spacing--l-2-xl) !important;
}

.gutter-xl-3xl {
	--gutter: var(--wp--preset--spacing--xl-3-xl) !important;
}

.gutter-2xl-4xl {
	--gutter: var(--wp--preset--spacing--2-xl-4-xl) !important;
}

.gutter-3xl-5xl {
	--gutter: var(--wp--preset--spacing--3-xl-5-xl) !important;
}
