/* ===================================================================
WP BLOCK COLUMNS
---
WP block source:
- https://github.com/WordPress/gutenberg/tree/trunk/packages/block-library/src/columns
- https://github.com/WordPress/WordPress/blob/master/wp-includes/blocks/columns
---
Notes:
- To customize most of this block and its parts, use the custom properties.
=================================================================== */

/* stylelint-disable no-unknown-custom-media -- Defined in 01-breakpoints.css */

.wp-block-columns {
	display: flex;
	flex-wrap: wrap !important; /* Responsiveness: Allow wrapping on mobile. */
	align-items: normal !important; /* Ensure full vertical column stretch when alignment is not set. This overrides the Layout block support's default align-items setting of 'center'. */

	@media (--md-min) {
		flex-wrap: nowrap !important;
	}

	/*
	 * All Columns alignment.
	 */

	&.are-vertically-aligned-top {
		align-items: flex-start;
	}

	&.are-vertically-aligned-center {
		align-items: center;
	}

	&.are-vertically-aligned-bottom {
		align-items: flex-end;
	}

	> .wp-block-column {
		flex-grow: 1;
		min-inline-size: 0; /* Prevent the columns from growing wider than their distributed sizes. */
		overflow-wrap: anywhere;

		/*
		* Individual Column Alignment
		*/

		&.is-vertically-aligned-top {
			align-self: flex-start;
		}

		&.is-vertically-aligned-center {
			align-self: center;
		}

		&.is-vertically-aligned-bottom {
			align-self: flex-end;
		}

		&.is-vertically-aligned-stretch {
			align-self: stretch;
		}

		&.is-vertically-aligned-top,
		&.is-vertically-aligned-center,
		&.is-vertically-aligned-bottom {
			inline-size: 100%;
		}
	}

	&:not(.is-not-stacked-on-mobile) > .wp-block-column {
		@media (--md-max) {
			/* Responsiveness: Show at most one columns on mobile. This must be important since the Column assigns its own width as an inline style. */
			flex-basis: 100% !important;
		}

		/* At large viewports, show all columns horizontally. */
		@media (--md-min) {
			flex-grow: 1;
			/* Available space should be divided equally amongst columns without an assigned width. This is achieved by assigning a flex basis that is consistent (equal), would not cause the sum total of column widths to exceed 100%, and which would cede to a column with an assigned width. The `flex-grow` allows columns to maximally and equally occupy space remaining after subtracting the space occupied by columns with explicit widths (if any exist). */
			flex-basis: 0;

			/* Columns with an explicitly-assigned width should maintain their `flex-basis` width and not grow. */
			&[style*="flex-basis"] {
				flex-grow: 0;
			}
		}
	}

	&.is-not-stacked-on-mobile {
		flex-wrap: nowrap !important;

		> .wp-block-column {
			flex-grow: 1;
			flex-basis: 0; /* Available space should be divided equally amongst columns. */

			/* Columns with an explicitly-assigned width should maintain their `flex-basis` width and not grow. */
			&[style*="flex-basis"] {
				flex-grow: 0;
			}
		}
	}
}
