/* ===================================================================
Title:       Wrapper
Description: A layout for centering a block-level element in the inline direction, with a max-inline-size value representing the typographic measure.
Reference:   https://every-layout.dev/layouts/center/
---
Variables:

--wrapper-padding-inline
	Description: The size of the inline padding.
	Type:        A valid '<length>' value.
	Default:     var(--block-gap)

--wrapper-max-width
	Description: The maximum width of the centered element.
	Type:        A valid '<length>' value.
	Default:     var(--layout-wide-size)
=================================================================== */

.wrapper {
	box-sizing: content-box;
	max-inline-size: var(--wrapper-max-width, var(--layout-wide-size));
	padding-inline: var(--wrapper-padding-inline, var(--global-padding-inline, 1rem));
	margin-inline: auto;
}
