/* ===================================================================
Page: 404
=================================================================== */

body.error404 {
	main {
		text-align: center;
		text-wrap: balance;
	}
}
