/* ===================================================================
BODY
---
Resources:
- https://developer.mozilla.org/en-US/docs/Web/HTML/Reference/Elements/body
---
Notes:
- To customize most of this block and its parts, use the custom properties.
=================================================================== */

body {
	font-family: var(--text-base-family, sans-serif);
	font-size: var(--text-base-size);
	font-weight: var(--text-base-weight);
	font-feature-settings: var(--text-base-features);
	line-height: var(--text-base-leading);
	color: var(--color-on-surface, CanvasText);
	letter-spacing: var(--text-base-kerning);
	accent-color: var(--color-field-accent);
	background-color: var(--color-surface, Canvas);
	-webkit-font-smoothing: antialiased;
}
