/* ===================================================================
Primitive Design Tokens
=================================================================== */

html {
	/* -----------------------------------------------
	Border Widths
	----------------------------------------------- */

	--border-width-thin: 1px;
	--border-width-medium: 2px;
	--border-width-thick: 4px;

	/* -----------------------------------------------
	Colors
	----------------------------------------------- */

	--color-white: hsl(229deg 0% 100%);
	--color-gray-50: hsl(224deg 28% 97%);
	--color-gray-200: hsl(224deg 9% 90%);
	--color-gray-300: hsl(224deg 5% 84%);
	--color-gray-900: hsl(224deg 20% 10%);
	--color-blue: hsl(229deg 80% 56%);
	--color-blue-darker: hsl(230deg 68% 51%);
	--color-green: hsl(167deg 61% 32%);
	--color-green-darker: hsl(169deg 100% 23%);
	--color-red: hsl(360deg 100% 40%);

	/* -----------------------------------------------
	Corner Radiuses
	----------------------------------------------- */

	--corner-radius-2xs: 0.125rem;
	--corner-radius-xs: 0.25rem;
	--corner-radius-s: 0.5rem;
	--corner-radius-m: 0.75rem;
	--corner-radius-l: 1rem;
	--corner-radius-xl: 1.5rem;
	--corner-radius-2xl: 2rem;
	--corner-radius-3xl: 3rem;
	--corner-radius-round: 9999rem;

	/* -----------------------------------------------
	Fonts
	----------------------------------------------- */

	--font-body-family: "Atkinson Hyperlegible Next", sans-serif;
	--font-body-weight-light: 300;
	--font-body-weight-normal: 400;
	--font-body-weight-medium: 500;
	--font-body-weight-bold: 700;
	--font-display-family: "Inter", sans-serif;
	--font-display-features: "calt" 1, "ss02" 1;
	--font-display-weight: 800;
	--font-monospace-family: "JetBrains Mono", monospace;
	--font-monospace-weight: 400;

	/* -----------------------------------------------
	Kerning (letter spacing)
	----------------------------------------------- */

	--kerning-caps: 0.025em;

	/* -----------------------------------------------
	Leading (line height)
	----------------------------------------------- */

	--leading-slim: 1.2;
	--leading-base: 1.5;
	--leading-loose: 1.8;

	/* -----------------------------------------------
	Spacing Sizes
	----------------------------------------------- */

	/* Fluid Sizes */
	/* @link https://utopia.fyi/space/calculator?c=384,16,1.15,1536,18,1.2,5,1,&s=0.75|0.5,1.5|2|3|4|5|6|7|8,3xs-l|2xs-s|2xs-m|xs-m|xs-l|s-l|s-xl|m-xl|m-2xl|l-2xl|l-3xl|xl-3xl|xl-4xl|2xl-4xl|2xl-5xl|3xl-5xl|3xl-6xl|4xl-6xl&g=s,l,xl,12 */

	--space-2xs: clamp(0.5rem, 0.4792rem + 0.0868vw, 0.5625rem);
	--space-xs: clamp(0.75rem, 0.7083rem + 0.1736vw, 0.875rem);
	--space-s: clamp(1rem, 0.9583rem + 0.1736vw, 1.125rem);
	--space-m: clamp(1.5rem, 1.4375rem + 0.2604vw, 1.6875rem);
	--space-l: clamp(2rem, 1.9167rem + 0.3472vw, 2.25rem);
	--space-xl: clamp(3rem, 2.875rem + 0.5208vw, 3.375rem);
	--space-2xl: clamp(4rem, 3.8333rem + 0.6944vw, 4.5rem);
	--space-3xl: clamp(5rem, 4.7917rem + 0.8681vw, 5.625rem);
	--space-4xl: clamp(6rem, 5.75rem + 1.0417vw, 6.75rem);
	--space-5xl: clamp(7rem, 6.7083rem + 1.2153vw, 7.875rem);
	--space-6xl: clamp(8rem, 7.6667rem + 1.3889vw, 9rem);

	/* One-up pairs */
	--space-2xs-xs: clamp(0.5rem, 0.375rem + 0.5208vw, 0.875rem);
	--space-xs-s: clamp(0.75rem, 0.625rem + 0.5208vw, 1.125rem);
	--space-s-m: clamp(1rem, 0.7708rem + 0.9549vw, 1.6875rem);
	--space-m-l: clamp(1.5rem, 1.25rem + 1.0417vw, 2.25rem);
	--space-l-xl: clamp(2rem, 1.5417rem + 1.9097vw, 3.375rem);
	--space-xl-2xl: clamp(3rem, 2.5rem + 2.0833vw, 4.5rem);
	--space-2xl-3xl: clamp(4rem, 3.4583rem + 2.2569vw, 5.625rem);
	--space-3xl-4xl: clamp(5rem, 4.4167rem + 2.4306vw, 6.75rem);
	--space-4xl-5xl: clamp(6rem, 5.375rem + 2.6042vw, 7.875rem);
	--space-5xl-6xl: clamp(7rem, 6.3333rem + 2.7778vw, 9rem);

	/* Custom pairs */
	--space-2xs-s: clamp(0.5rem, 0.2917rem + 0.8681vw, 1.125rem);
	--space-2xs-m: clamp(0.5rem, 0.1042rem + 1.6493vw, 1.6875rem);
	--space-xs-m: clamp(0.75rem, 0.4375rem + 1.3021vw, 1.6875rem);
	--space-xs-l: clamp(0.75rem, 0.25rem + 2.0833vw, 2.25rem);
	--space-s-l: clamp(1rem, 0.5833rem + 1.7361vw, 2.25rem);
	--space-s-xl: clamp(1rem, 0.2083rem + 3.2986vw, 3.375rem);
	--space-m-xl: clamp(1.5rem, 0.875rem + 2.6042vw, 3.375rem);
	--space-m-2xl: clamp(1.5rem, 0.5rem + 4.1667vw, 4.5rem);
	--space-l-2xl: clamp(2rem, 1.1667rem + 3.4722vw, 4.5rem);
	--space-l-3xl: clamp(2rem, 0.7917rem + 5.0347vw, 5.625rem);
	--space-xl-3xl: clamp(3rem, 2.125rem + 3.6458vw, 5.625rem);
	--space-xl-4xl: clamp(3rem, 1.75rem + 5.2083vw, 6.75rem);
	--space-2xl-4xl: clamp(4rem, 3.0833rem + 3.8194vw, 6.75rem);
	--space-2xl-5xl: clamp(4rem, 2.7083rem + 5.3819vw, 7.875rem);
	--space-3xl-5xl: clamp(5rem, 4.0417rem + 3.9931vw, 7.875rem);
	--space-3xl-6xl: clamp(5rem, 3.6667rem + 5.5556vw, 9rem);
	--space-4xl-6xl: clamp(6rem, 5rem + 4.1667vw, 9rem);

	/* -----------------------------------------------
	Text Sizes
	---
	@link https://utopia.fyi/type/calculator?c=384,16,1.15,1440,18,1.2,5,1,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12
	----------------------------------------------- */
	/* 13.913px → 15px */
	--text-size-s: clamp(0.8696rem, 0.8469rem + 0.0944vi, 0.9375rem);

	/* 16px → 18px */
	--text-size-m: clamp(1rem, 0.9583rem + 0.1736vi, 1.125rem);

	/* 18.4px → 21.6px */
	--text-size-l: clamp(1.15rem, 1.0833rem + 0.2778vi, 1.35rem);

	/* 21.16px → 25.92px */
	--text-size-xl: clamp(1.3225rem, 1.2233rem + 0.4132vi, 1.62rem);

	/* 24.334px → 31.104px */
	--text-size-2xl: clamp(1.5209rem, 1.3798rem + 0.5877vi, 1.944rem);

	/* 27.9841px → 37.3248px */
	--text-size-3xl: clamp(1.749rem, 1.5544rem + 0.8108vi, 2.3328rem);

	/* 32.1817px → 44.7898px */
	--text-size-4xl: clamp(2.0114rem, 1.7487rem + 1.0944vi, 2.7994rem);

	/* -----------------------------------------------
	Transitions
	----------------------------------------------- */

	--transition-duration: 0.15s;

	/* -----------------------------------------------
	WordPress
	----------------------------------------------- */

	--wp-admin-bar-height: 32px;
	--wp-admin-bar-height-big: 46px;
}
