/* ===================================================================
Semantic Design Tokens
=================================================================== */

html {
	/* -----------------------------------------------
	Borders
	----------------------------------------------- */

	--border: var(--border-width-thin) solid var(--border-color, currentcolor);

	/* -----------------------------------------------
	Colors
	----------------------------------------------- */

	--color-surface: var(--color-white);
	--color-on-surface: var(--color-gray-900);
	--color-accent-primary: var(--color-blue);
	--color-on-accent: var(--color-white);
	--color-accent-secondary: var(--color-green);
	--color-on-accent-secondary: var(--color-white);
	--color-field-accent: var(--color-accent-primary);
	--color-error: var(--color-red);

	/* -----------------------------------------------
	Focus Indicator
	----------------------------------------------- */

	--focus-ring-style: solid;
	--focus-ring-offset: 2px;
	--focus-ring-inner-width: 2px;
	--focus-ring-inner-color: black;
	--focus-ring-outer-width: 2px;
	--focus-ring-outer-color: white;

	/* -----------------------------------------------
	Layout
	----------------------------------------------- */

	--block-gap-default: var(--space-m);
	--block-gap: var(--block-gap-default);
	--global-padding-inline: var(--space-s);
	--layout-content-size: 60rem;
	--layout-wide-size: 90rem;
	--measure: 70ch;
	--region-space: var(--space-2xl-5xl);

	/* -----------------------------------------------
	Text Styles
	----------------------------------------------- */

	/* Base */
	--text-base-family: var(--font-body-family);
	--text-base-features: var(--font-body-features);
	--text-base-weight: var(--font-body-weight-normal);
	--text-base-size: var(--text-size-m);
	--text-base-leading: var(--leading-base);
	--text-base-kerning: normal;

	/* Monospace */
	--text-monospace-size: 0.8125em;

	/* 4XL */
	--text-4xl-family: var(--font-display-family);
	--text-4xl-features: var(--font-display-features);
	--text-4xl-weight: var(--font-display-weight);
	--text-4xl-size: var(--text-size-4xl);
	--text-4xl-leading: normal;
	--text-4xl-kerning: normal;
	--text-4xl-transform: none;

	/* 3XL */
	--text-3xl-family: var(--font-display-family);
	--text-3xl-features: var(--font-display-features);
	--text-3xl-weight: var(--font-display-weight);
	--text-3xl-size: var(--text-size-3xl);
	--text-3xl-leading: normal;
	--text-3xl-kerning: normal;
	--text-3xl-transform: none;

	/* 2XL */
	--text-2xl-family: var(--font-display-family);
	--text-2xl-features: var(--font-display-features);
	--text-2xl-weight: var(--font-display-weight);
	--text-2xl-size: var(--text-size-2xl);
	--text-2xl-leading: normal;
	--text-2xl-kerning: normal;
	--text-2xl-transform: none;

	/* XL */
	--text-xl-family: var(--font-display-family);
	--text-xl-features: var(--font-display-features);
	--text-xl-weight: var(--font-display-weight);
	--text-xl-size: var(--text-size-xl);
	--text-xl-leading: normal;
	--text-xl-kerning: normal;
	--text-xl-transform: none;

	/* L */
	--text-l-family: var(--font-display-family);
	--text-l-features: var(--font-display-features);
	--text-l-weight: var(--font-body-weight-medium);
	--text-l-size: var(--text-size-l);
	--text-l-leading: normal;
	--text-l-kerning: normal;
	--text-l-transform: none;

	/* M */
	--text-m-family: var(--font-display-family);
	--text-m-features: var(--font-display-features);
	--text-m-weight: var(--font-body-weight-normal);
	--text-m-size: var(--text-size-m);
	--text-m-leading: normal;
	--text-m-kerning: normal;
	--text-m-transform: none;

	/* S */
	--text-s-family: var(--font-display-family);
	--text-s-features: var(--font-display-features);
	--text-s-weight: var(--font-body-weight-normal);
	--text-s-size: var(--text-size-s);
	--text-s-leading: normal;
	--text-s-kerning: normal;
	--text-s-transform: none;
}
