/* ===================================================================
DETAILS
---
Resources:
- https://developer.chrome.com/blog/styling-details
- https://developer.mozilla.org/en-US/docs/Web/HTML/Reference/Elements/details
- https://developer.mozilla.org/en-US/docs/Web/HTML/Reference/Elements/summary
- https://nerdy.dev/notebook/accordion.html
- https://www.scottohara.me/blog/2022/09/12/details-summary.html
---
WP block source:
- https://github.com/WordPress/gutenberg/tree/trunk/packages/block-library/src/details
- https://github.com/WordPress/WordPress/blob/master/wp-includes/blocks/details
---
Notes:
- To customize most of this block and its parts, use the custom properties.
=================================================================== */

details:not(:where(.is-style-browser-default)) {
	@media (prefers-reduced-motion: no-preference) {
		interpolate-size: allow-keywords;
	}

	/* -----------------------------------------------
	Summary
	----------------------------------------------- */

	> summary {
		display: flex;
		flex-wrap: var(--details-summary-wrap, nowrap);
		gap: var(--details-summary-gap, 1ch);
		align-items: var(--details-summary-align-items, center);
		justify-content: var(--details-summary-justify-content, space-between);
		padding-block: var(--details-summary-padding-block, 1em);
		padding-inline: var(--details-summary-padding-inline, 1em);
		font-family: var(--details-summary-font-family);
		font-size: var(--details-summary-font-size);
		font-weight: var(--details-summary-font-weight);
		line-height: var(--details-summary-line-height, var(--leading-slim));
		color: var(--details-summary-text-color);
		letter-spacing: var(--details-summary-letter-spacing);
		cursor: var(--details-summary-cursor, pointer);
		list-style: none;
		background-color: var(--details-summary-background-color);
		border-color: var(--details-border-color);
		border-block-color: var(--details-border-block-color, var(--details-border-color));
		border-style: var(--details-border-style, solid);
		border-width: var(--details-border-width, var(--border-width-thin));
		border-block-width: var(--details-border-block-width, var(--details-border-width, var(--border-width-thin)));
		border-radius: var(--details-border-radius);

		@media (prefers-reduced-motion: no-preference) {
			transition-duration: var(--transition-duration);
			transition-property: color, background-color, border-color, border-radius;
		}

		&:hover {
			background-color: var(--details-summary-background-color-hover, var(--details-summary-background-color));
		}

		&:active {
			background-color: var(--details-summary-background-color-active, var(--details-summary-background-color-hover));
		}
	}

	/* -----------------------------------------------
	Content elements
	----------------------------------------------- */

	summary ~ *,
	p {
		margin-block: 0 !important; /* If there is some margin, the open/close transition is a bit clumsy */ /* TODO: Double check this */
	}

	/* -----------------------------------------------
	Custom Marker
	----------------------------------------------- */

	/* Remove the default marker in WebKit-based browsers. */
	> summary::-webkit-details-marker {
		display: none;
	}

	/* Add a custom marker. */
	> summary::after {
		display: inline-block;
		flex-shrink: 0;
		inline-size: var(--details-summary-marker-size, 1em);
		block-size: var(--details-summary-marker-size, 1em);
		content: "";
		background-color: var(--details-summary-marker-color, currentcolor);
		mask-image: var(--details-summary-marker-image-closed);
		mask-position: center;
		mask-size: contain;
	}

	/* -----------------------------------------------
	Details Content
	----------------------------------------------- */

	&::details-content {
		display: grid !important; /* !important needed to override UA's inline style of 'block' */
		gap: var(--details-content-gap, var(--block-gap, 1em));
		block-size: 0;
		margin-block: 0 !important; /* If there is some margin, the open/close transition is a bit clumsy */ /* TODO: Double check this */
		overflow-block: clip;
		font-size: var(--details-content-font-size);
		border-color: var(--details-border-color);
		border-style: var(--details-summary-border-style, solid);
		border-width: var(--details-border-width, var(--border-width-thin));
		border-block-start: none;
		border-radius: var(--details-border-radius);
		opacity: 0;

		@media (prefers-reduced-motion: no-preference) {
			transition:
				block-size var(--transition-duration),
				border-radius var(--transition-duration),
				content-visibility var(--transition-duration) allow-discrete,
				opacity var(--transition-duration),
				padding 0;
		}
	}

	/* -----------------------------------------------
	Details is OPEN
	----------------------------------------------- */

	&[open] {
		/* Summary */
		> summary {
			border-end-start-radius: 0;
			border-end-end-radius: 0;
		}

		/* Custom marker */
		> summary::after {
			background-color: var(--details-summary-marker-color-hover, var(--details-summary-marker-color, currentcolor));
			mask-image: var(--details-summary-marker-image-open);
		}

		/* Content */
		&::details-content {
			block-size: auto;
			padding-block: var(--details-content-padding-block, var(--block-gap, 1em));
			padding-inline: var(--details-content-padding-inline, var(--block-gap, 1em));
			border-start-start-radius: 0;
			border-start-end-radius: 0;
			opacity: 1;
		}
	}
}
