/* ===================================================================
DIALOG
---
Resources:
- https://developer.mozilla.org/en-US/docs/Web/HTML/Reference/Elements/dialog
---
Notes:
- To customize most of this block and its parts, use the custom properties.
=================================================================== */
