/* ===================================================================
HEADING
---
Resources:
- https://developer.mozilla.org/en-US/docs/Web/HTML/Reference/Elements/Heading_Elements
---
Notes:
- To customize most of this block and its parts, use the custom properties.
=================================================================== */

h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: anywhere;
}

h1 {
	font-family: var(--text-4xl-family);
	font-size: var(--text-4xl-size, 2rem);
	font-weight: var(--text-4xl-weight, bold);
	font-feature-settings: var(--text-4xl-features);
	line-height: var(--text-4xl-leading, normal);
	text-transform: var(--text-4xl-transform, none);
	letter-spacing: var(--text-4xl-kerning, normal);
}

h2 {
	font-family: var(--text-3xl-family);
	font-size: var(--text-3xl-size, 2rem);
	font-weight: var(--text-3xl-weight, bold);
	font-feature-settings: var(--text-3xl-features);
	line-height: var(--text-3xl-leading, normal);
	text-transform: var(--text-3xl-transform, none);
	letter-spacing: var(--text-3xl-kerning, normal);
}

h3 {
	font-family: var(--text-2xl-family);
	font-size: var(--text-2xl-size, 2rem);
	font-weight: var(--text-2xl-weight, bold);
	font-feature-settings: var(--text-2xl-features);
	line-height: var(--text-2xl-leading, normal);
	text-transform: var(--text-2xl-transform, none);
	letter-spacing: var(--text-2xl-kerning, normal);
}

h4 {
	font-family: var(--text-xl-family);
	font-size: var(--text-xl-size, 2rem);
	font-weight: var(--text-xl-weight, bold);
	font-feature-settings: var(--text-xl-features);
	line-height: var(--text-xl-leading, normal);
	text-transform: var(--text-xl-transform, none);
	letter-spacing: var(--text-xl-kerning, normal);
}

h5 {
	font-family: var(--text-l-family);
	font-size: var(--text-l-size, 2rem);
	font-weight: var(--text-l-weight, bold);
	font-feature-settings: var(--text-l-features);
	line-height: var(--text-l-leading, normal);
	text-transform: var(--text-l-transform, none);
	letter-spacing: var(--text-l-kerning, normal);
}

h6 {
	font-family: var(--text-m-family);
	font-size: var(--text-m-size, 2rem);
	font-weight: var(--text-m-weight, bold);
	font-feature-settings: var(--text-m-features);
	line-height: var(--text-m-leading, normal);
	text-transform: var(--text-m-transform, none);
	letter-spacing: var(--text-m-kerning, normal);
}

/* -----------------------------------------------
Variant: Eyebrow
---
Resources:
- https://uxmovement.com/content/increasing-headline-clicks-with-eyebrow-text/
----------------------------------------------- */

:is(h1, h2, h3, h4, h5, h6).is-style-heading-eyebrow {
	font-family: var(--text-base-family);
	font-size: var(--text-base-size);
	font-weight: var(--text-base-weight);
	line-height: var(--leading-slim);
	text-transform: uppercase;

	+ p {
		text-box: trim-start cap alphabetic;
	}
}
