/* ===================================================================
HEADING
---
Resources:
- https://developer.mozilla.org/en-US/docs/Web/HTML/Reference/Elements/Heading_Elements
---
Notes:
- To customize most of this block and its parts, use the custom properties.
=================================================================== */

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--heading-font-family);
	font-weight: var(--heading-font-weight, bold);
	font-feature-settings:
		"calt" 1,
		"ss02" 1;
	text-transform: var(--heading-text-transform);
	letter-spacing: var(--heading-letter-spacing);
	overflow-wrap: anywhere;
}

h1 {
	font-family: var(--h1-font-family, var(--heading-font-family));
	font-size: var(--h1-font-size, 2rem);
	font-weight: var(--h1-font-weight, var(--heading-font-weight, bold));
	line-height: var(--h1-line-height, var(--heading-line-height, normal));
	letter-spacing: var(--h1-letter-spacing, var(--heading-letter-spacing, normal));
}

h2 {
	font-family: var(--h2-font-family, var(--heading-font-family));
	font-size: var(--h2-font-size, 1.5rem);
	font-weight: var(--h2-font-weight, var(--heading-font-weight, bold));
	line-height: var(--h2-line-height, var(--heading-line-height, normal));
	letter-spacing: var(--h2-letter-spacing, var(--heading-letter-spacing, normal));
}

h3 {
	font-family: var(--h3-font-family, var(--heading-font-family));
	font-size: var(--h3-font-size, 1.17rem);
	font-weight: var(--h3-font-weight, var(--heading-font-weight, bold));
	line-height: var(--h3-line-height, var(--heading-line-height, normal));
	letter-spacing: var(--h3-letter-spacing, var(--heading-letter-spacing, normal));
}

h4 {
	font-family: var(--h4-font-family, var(--heading-font-family));
	font-size: var(--h4-font-size, 1rem);
	font-weight: var(--h4-font-weight, var(--heading-font-weight, bold));
	line-height: var(--h4-line-height, var(--heading-line-height, normal));
	letter-spacing: var(--h4-letter-spacing, var(--heading-letter-spacing, normal));
}

h5 {
	font-family: var(--h5-font-family, var(--heading-font-family));
	font-size: var(--h5-font-size, 0.83rem);
	font-weight: var(--h5-font-weight, var(--heading-font-weight, bold));
	line-height: var(--h5-line-height, var(--heading-line-height, normal));
	letter-spacing: var(--h5-letter-spacing, var(--heading-letter-spacing, normal));
}

h6 {
	font-family: var(--h6-font-family, var(--heading-font-family));
	font-size: var(--h6-font-size, 0.67rem);
	font-weight: var(--h6-font-weight, var(--heading-font-weight, bold));
	line-height: var(--h6-line-height, var(--heading-line-height, normal));
	letter-spacing: var(--h6-letter-spacing, var(--heading-letter-spacing, normal));
}

/* -----------------------------------------------
Variant: Eyebrow
---
Resources:
- https://uxmovement.com/content/increasing-headline-clicks-with-eyebrow-text/
----------------------------------------------- */

:is(h1, h2, h3, h4, h5, h6).is-style-heading-eyebrow {
	font-family: var(--body-font-family);
	font-size: var(--body-font-size);
	font-weight: var(--body-font-weight);
	line-height: var(--leading-slim);
	text-transform: uppercase;

	+ p {
		text-box: trim-start cap alphabetic;
	}
}
