/* ===================================================================
PATTERN MEDIA-TEXT
=================================================================== */

.media-text-container {
	container: media-text / inline-size;
	overflow: hidden;
	resize: horizontal;

	.wp-block-image img {
		inline-size: 100%;
		block-size: 100%;
		aspect-ratio: 2 / 1;
		object-fit: cover;
	}

	@container media-text (width > 50rem) {
		.wp-block-image img {
			aspect-ratio: auto;
		}
	}

	&:nth-of-type(1) {
		@container media-text (width > 50rem) {
			.media-text {
				display: flex;
			}
		}
	}

	&:nth-of-type(2) {
		.media-text {
			display: grid;
		}

		@container media-text (width > 50rem) {
			.media-text {
				grid-template-columns: auto auto;
			}
		}
	}
}
