/* ===================================================================
PROSE
=================================================================== */

.prose {
	--block-gap: 1lh;

	h2 {
		--block-gap: 3lh;
	}

	h3 {
		--block-gap: 2lh;
	}
}
