/* =======================================================================================
Woocommerce Add To Cart Form
---
Source:
- https://github.com/woocommerce/woocommerce/tree/trunk/plugins/woocommerce/client/blocks/assets/js/blocks/add-to-cart-form
---
Notes:
- Use CSS custom properties to customize most of this block and its parts.
======================================================================================= */

/* Removes some default styles */

.woocommerce div.product form.cart::after,
.woocommerce div.product form.cart::before {
	content: revert;
}

div.wc-block-add-to-cart-form.wc-block-add-to-cart-form--stepper
	form.cart
	div.wc-block-components-quantity-selector.quantity {
	margin-right: 0;
}

/* Better layout */

.wp-block-woocommerce-add-to-cart-form .variations_button,
.wp-block-woocommerce-add-to-cart-form form.cart {
	display: flex;
	flex-wrap: wrap;
	gap: var(--wp--style--block-gap, 1em);
}
