/* ===================================================================
WP BLOCK POST EXCERPT
---
WP block source:
- https://github.com/WordPress/gutenberg/tree/trunk/packages/block-library/src/post-excerpt
- https://github.com/WordPress/WordPress/blob/master/wp-includes/blocks/post-excerpt
---
Variables:
--post-excerpt-font-size
---
Notes:
- To customize most of this block and its parts, use the custom properties.
=================================================================== */

.wp-block-post-exerpt {
	font-size: var(--post-excerpt-font-size, var(--text-size-s));
}
