/* ===================================================================
WP BLOCK SEARCH
---
WP block source:
- https://github.com/WordPress/gutenberg/tree/trunk/packages/block-library/src/search
- https://github.com/WordPress/WordPress/blob/master/wp-includes/blocks/search
---
Notes:
- To customize most of this block and its parts, use the custom properties.
=================================================================== */

/* TODO: Refactor. */

.wp-block-search {
	button {
		display: inline-grid;
		place-items: center;
	}

	/* -----------------------------------------------
	Wrapper
	----------------------------------------------- */

	.wp-block-search__inside-wrapper {
		display: flex;
		flex-direction: var(--search-wrapper-direction, row);
		flex-wrap: var(--search-wrap, wrap);
		row-gap: var(--search-wrapper-gap-rows, 0.5em);
		column-gap: var(--search-wrapper-gap-columns, 1ch);
		align-items: var(--search-wrapper-align-items, stretch);
		justify-content: var(--search-wrapper-justify-content, start);
		padding-block: var(--search-wrapper-padding-block, 0);
		padding-inline: var(--search-wrapper-padding-inline, 0);
		background-color: var(--search-wrapper-background-color);
		border-color: var(--search-wrapper-border-color, currentcolor);
		border-style: var(--search-wrapper-border-style, solid);
		border-width: var(--search-wrapper-border-width, 0);
		border-radius: var(--search-wrapper-border-radius, 0);

		/* -----------------------------------------------
		Input
		----------------------------------------------- */

		> [type="search"] {
			flex-grow: 999;
			flex-basis: var(--search-wrap-at, 66%);

			&:hover {
				background-color: var(--search-input-background-color-hover);
			}
		}

		/* -----------------------------------------------
		Button
		----------------------------------------------- */

		> button {
			flex-grow: 1;

			/* Icon */
			> :is(svg, .search-icon) {
				fill: currentcolor;
				rotate: var(--search-button-icon-rotation, initial);
			}
		}
	}
}

/* ===================================================================
Variation: Button Inside
=================================================================== */

.wp-block-search.wp-block-search__button-inside {
	--search-wrapper-border-width: var(--field-border-width, var(--border-width-thin, thin));
	--search-wrapper-padding-block: 0.25em;
	--search-wrapper-padding-inline: 0.25em;

	[type="search"] {
		--field-padding-block: 0;
		background-color: transparent;
		border-color: transparent;
		border-radius: 0;
	}
}

/* ===================================================================
Variation: Button Only
=================================================================== */

.wp-block-search.wp-block-search__button-only {
	[type="search"] {
		transition-property: inline-size, min-inline-size;
	}

	/* When search field is hidden/collapsed */
	&.wp-block-search__searchfield-hidden {
		/* !important is needed to override inline styles on deselected view */

		.wp-block-search__inside-wrapper {
			gap: 0 !important;
		}

		[type="search"] {
			flex: none !important;
			inline-size: 0 !important;
			min-inline-size: 0 !important;
			padding: 0 !important;
			border: 0 !important;
		}

		button {
			flex-grow: 0 !important;
		}
	}
}

/* ===================================================================
Variant: Reversed Direction
=================================================================== */

.wp-block-search.is-style-search-reversed-direction {
	--search-button-icon-rotation: y 0.5turn;
	--search-wrapper-direction: row-reverse;

	.wp-block-search__inside-wrapper {
		reading-flow: flex-visual;
	}
}
