/* ===================================================================
WP BLOCK PAGE LIST
---
WP block source:
- https://github.com/WordPress/gutenberg/tree/trunk/packages/block-library/src/page-list
- https://github.com/WordPress/WordPress/blob/master/wp-includes/blocks/page-list
---
Notes:
- To customize most of this block and its parts, use the custom properties.
=================================================================== */

/* The Page List block should inherit navigation styles when nested within it. */
.wp-block-navigation .wp-block-page-list {
	display: flex;
	flex-direction: var(--navigation-layout-direction, initial);
	flex-wrap: var(--navigation-layout-wrap, wrap);
	align-items: var(--navigation-layout-align, initial);
	justify-content: var(--navigation-layout-justify, initial);
	background-color: inherit;
}
