/* ===================================================================
WP BLOCK MEDIA TEXT
---
WP block source:
- https://github.com/WordPress/gutenberg/tree/trunk/packages/block-library/src/media-text
---
Notes:
- To customize most of this block and its parts, use the custom properties.
=================================================================== */

.wp-block-media-text {
	.wp-block-media-text__content {
		overflow-wrap: break-word;
	}
}
