<!-- wp:template-part {"slug":"header","tagName":"header","lock":{"move":false,"remove":false}} /-->

<!-- wp:group {"tagName":"main","metadata":{"name":"Main"},"className":"region","layout":{"type":"default"}} -->
<main class="wp-block-group region">
	<!-- wp:group {"className":"wrapper text-center","style":{"spacing":{"blockGap":"var:preset|spacing|l"}},"layout":{"type":"flex","orientation":"vertical","justifyContent":"center","flexWrap":"nowrap"}} -->
	<div class="wp-block-group wrapper text-center">
		<!-- wp:heading {"level":1,"className":"text-center"} -->
		<h1 class="wp-block-heading text-center">Page not found</h1>
		<!-- /wp:heading -->

		<!-- wp:paragraph -->
		<p>Looks like you've followed a broken link or entered a URL that doesn't exist on this site.</p>
		<!-- /wp:paragraph -->

		<!-- wp:buttons {"style":{"spacing":{"blockGap":{"top":"var:preset|spacing|m","left":"var:preset|spacing|m"}}},"layout":{"type":"flex","justifyContent":"center"}} -->
		<div class="wp-block-buttons">
			<!-- wp:button -->
			<div class="wp-block-button">
				<a class="wp-block-button__link wp-element-button" href="/">Go to the home page</a>
			</div>
			<!-- /wp:button -->

			<!-- wp:button -->
			<div class="wp-block-button">
				<a class="wp-block-button__link wp-element-button" href="/sitemap">See the site map</a>
			</div>
			<!-- /wp:button -->
		</div>
		<!-- /wp:buttons -->
	</div>
	<!-- /wp:group -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","lock":{"move":false,"remove":false}} /-->
