<!-- wp:template-part {"slug":"header","tagName":"header","lock":{"move":false,"remove":false},"className":"is-position-sticky"} /-->

<!-- wp:group {"tagName":"main","metadata":{"name":"Main"},"className":"region","layout":{"type":"default"}} -->
<main class="wp-block-group region">
	<!-- wp:group {"className":"wrapper text-center","style":{"spacing":{"blockGap":"var:preset|spacing|l"}},"layout":{"type":"flex","orientation":"vertical","justifyContent":"center","flexWrap":"nowrap"}} -->
	<div class="wp-block-group wrapper text-center">
		<!-- wp:heading {"level":1,"className":"text-center"} -->
		<h1 class="wp-block-heading text-center">404: No se ha encontrado la página</h1>
		<!-- /wp:heading -->

		<!-- wp:paragraph -->
		<p>Parece que has seguido un enlace roto o introducido una URL que no existe en este sitio.</p>
		<!-- /wp:paragraph -->

		<!-- wp:buttons {"style":{"spacing":{"blockGap":{"top":"var:preset|spacing|m","left":"var:preset|spacing|m"}}},"layout":{"type":"flex","justifyContent":"center"}} -->
		<div class="wp-block-buttons">
			<!-- wp:button -->
			<div class="wp-block-button">
				<a class="wp-block-button__link wp-element-button" href="/">Volver a inicio</a>
			</div>
			<!-- /wp:button -->

			<!-- wp:button -->
			<div class="wp-block-button">
				<a class="wp-block-button__link wp-element-button" href="https://wp-site-template.local/paginas-legales/mapa-web/">Ver el mapa del sitio</a>
			</div>
			<!-- /wp:button -->
		</div>
		<!-- /wp:buttons -->
	</div>
	<!-- /wp:group -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","lock":{"move":false,"remove":false}} /-->
