<!-- wp:template-part {"slug":"header","tagName":"header","lock":{"move":true,"remove":true}} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"blockGap":"var:preset|spacing|xl-xxl","padding":{"top":"var:preset|spacing|xl-xxl","bottom":"var:preset|spacing|xl-xxl"}}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group" style="padding-top: var(--wp--preset--spacing--xl-xxl); padding-bottom: var(--wp--preset--spacing--xl-xxl)">
	<!-- wp:heading {"textAlign":"center","level":1} -->
	<h1 class="wp-block-heading has-text-align-center">Error 404</h1>
	<!-- /wp:heading -->

	<!-- wp:group {"layout":{"type":"default"}} -->
	<div class="wp-block-group">
		<!-- wp:paragraph {"align":"center"} -->
		<p class="has-text-align-center">Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
		<!-- /wp:paragraph -->
	</div>
	<!-- /wp:group -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","lock":{"move":true,"remove":true}} /-->
