<!-- wp:template-part {"slug":"header","tagName":"header","lock":{"move":false,"remove":false},"className":"is-position-sticky"} /-->

<!-- wp:group {"tagName":"main","metadata":{"name":"Main"},"className":"region","style":{"spacing":{"blockGap":"var:preset|spacing|xl"}},"layout":{"type":"default"}} -->
<main class="wp-block-group region">
	<!-- wp:group {"align":"wide","className":"wrapper","style":{"spacing":{"blockGap":"var:preset|spacing|xl"}},"layout":{"type":"default"}} -->
	<div class="wp-block-group alignwide wrapper">
		<!-- wp:heading {"textAlign":"center","level":1} -->
		<h1 class="wp-block-heading has-text-align-center">Blog</h1>
		<!-- /wp:heading -->

		<!-- wp:query {"queryId":0,"query":{"perPage":9,"pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"ignore","inherit":false},"enhancedPagination":true,"align":"wide","layout":{"type":"default"}} -->
		<div class="wp-block-query alignwide">
			<!-- wp:post-template {"layout":{"type":"grid","columnCount":null,"minimumColumnWidth":"24rem"}} -->
			<!-- wp:group {"className":"card","style":{"spacing":{"blockGap":"var:preset|spacing|m"}},"layout":{"type":"flex","orientation":"vertical","justifyContent":"stretch"}} -->
			<div class="wp-block-group card">
				<!-- wp:group {"layout":{"type":"flex","flexWrap":"wrap","justifyContent":"space-between"}} -->
				<div class="wp-block-group">
					<!-- wp:post-author-name /-->

					<!-- wp:post-date {"metadata":{"bindings":{"datetime":{"source":"core/post-data","args":{"key":"date"}}}}} /-->
				</div>
				<!-- /wp:group -->

				<!-- wp:post-featured-image {"isLink":true} /-->

				<!-- wp:post-terms {"term":"category","separator":"","className":"cluster"} /-->

				<!-- wp:post-title {"isLink":true,"fontSize":"x-large"} /-->

				<!-- wp:post-excerpt {"moreText":"","excerptLength":30,"style":{"layout":{"selfStretch":"fill","flexSize":null}}} /-->

				<!-- wp:read-more /-->
			</div>
			<!-- /wp:group -->
			<!-- /wp:post-template -->

			<!-- wp:query-pagination -->
			<!-- wp:query-pagination-previous /-->

			<!-- wp:query-pagination-numbers /-->

			<!-- wp:query-pagination-next /-->
			<!-- /wp:query-pagination -->

			<!-- wp:query-no-results -->
			<!-- wp:paragraph -->
			<p>Sin resultados.</p>
			<!-- /wp:paragraph -->
			<!-- /wp:query-no-results -->
		</div>
		<!-- /wp:query -->
	</div>
	<!-- /wp:group -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","lock":{"move":false,"remove":false}} /-->
