<!-- wp:template-part {"slug":"header","tagName":"header","lock":{"move":false,"remove":false},"className":"site-header"} /-->

<!-- wp:group {"tagName":"main","metadata":{"name":"Main"},"className":"region","layout":{"type":"constrained"},"style":{"spacing":{"blockGap":"var:preset|spacing|xl-2-xl"}}} -->
<main class="wp-block-group region">
	<!-- wp:post-title {"textAlign":"center","level":1,"align":"wide"} /-->

	<!-- wp:post-content {"align":"wide","layout":{"type":"constrained"}} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","lock":{"move":false,"remove":false},"className":"site-footer"} /-->
