<!-- wp:template-part {"slug":"header","tagName":"header","lock":{"move":true,"remove":true}} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"top":"var:preset|spacing|l-xl","bottom":"var:preset|spacing|l-xl"}}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group" style="padding-top: var(--wp--preset--spacing--l-xl); padding-bottom: var(--wp--preset--spacing--l-xl)">
	<!-- wp:post-title {"textAlign":"center","level":1} /-->

	<!-- wp:post-content {"layout":{"type":"default"}} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","lock":{"move":true,"remove":true}} /-->
