<!-- wp:group {"tagName":"header","lock":{"move":true,"remove":true},"metadata":{"name":"Header"},"style":{"position":{"type":"sticky","top":"0px"},"spacing":{"blockGap":"0"}},"backgroundColor":"base-1","layout":{"type":"default"}} -->
<header class="wp-block-group has-base-1-background-color has-background">
	<!-- wp:template-part {"slug":"header","tagName":"div","area":"header","lock":{"move":true,"remove":true}} /-->
</header>
<!-- /wp:group -->

<!-- wp:group {"tagName":"main","lock":{"move":true,"remove":true},"metadata":{"name":"Main"},"style":{"spacing":{"blockGap":"0","margin":{"top":"0"}}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group" style="margin-top: 0">
	<!-- wp:block {"ref":7473} /-->

	<!-- wp:block {"ref":7582} /-->

	<!-- wp:group {"align":"wide","style":{"spacing":{"padding":{"top":"var:preset|spacing|xl","bottom":"var:preset|spacing|3-xl"},"blockGap":"var:preset|spacing|2-xl"}},"layout":{"type":"default"}} -->
	<div class="wp-block-group alignwide" style="padding-top: var(--wp--preset--spacing--xl); padding-bottom: var(--wp--preset--spacing--3-xl)">
		<!-- wp:woocommerce/store-notices /-->

		<!-- wp:columns {"align":"wide"} -->
		<div class="wp-block-columns alignwide">
			<!-- wp:column {"width":"62%"} -->
			<div class="wp-block-column" style="flex-basis: 62%">
				<!-- wp:woocommerce/product-image-gallery /-->
			</div>
			<!-- /wp:column -->

			<!-- wp:column {"width":"","style":{"spacing":{"padding":{"top":"var:preset|spacing|s","bottom":"var:preset|spacing|s","left":"var:preset|spacing|m","right":"var:preset|spacing|m"}}},"backgroundColor":"base-2"} -->
			<div class="wp-block-column has-base-2-background-color has-background" style="padding-top: var(--wp--preset--spacing--s); padding-right: var(--wp--preset--spacing--m); padding-bottom: var(--wp--preset--spacing--s); padding-left: var(--wp--preset--spacing--m)">
				<!-- wp:woocommerce/product-summary -->
				<div class="is-loading"></div>
				<!-- /wp:woocommerce/product-summary -->

				<!-- wp:woocommerce/product-rating -->
				<div class="is-loading"></div>
				<!-- /wp:woocommerce/product-rating -->

				<!-- wp:woocommerce/product-price -->
				<div class="is-loading"></div>
				<!-- /wp:woocommerce/product-price -->

				<!-- wp:woocommerce/add-to-cart-form {"quantitySelectorStyle":"stepper"} /-->

				<!-- wp:woocommerce/product-details {"hideTabTitle":true,"align":"wide","className":"is-style-minimal"} /-->
			</div>
			<!-- /wp:column -->
		</div>
		<!-- /wp:columns -->

		<!-- wp:woocommerce/product-collection {"queryId":1,"query":{"perPage":8,"pages":"0","offset":0,"postType":"product","orderBy":"random","search":"","exclude":[],"inherit":false,"taxQuery":[],"isProductCollectionBlock":true,"featured":false,"woocommerceOnSale":false,"woocommerceStockStatus":["instock","onbackorder"],"woocommerceAttributes":[],"woocommerceHandPickedProducts":[],"filterable":false,"relatedBy":{"categories":true,"tags":true}},"tagName":"div","displayLayout":{"type":"flex","columns":4,"shrinkColumns":true},"dimensions":{"widthType":"fill"},"collection":"woocommerce/product-collection/related","hideControls":["inherit"],"queryContextIncludes":["collection"],"__privatePreviewState":{"isPreview":true,"previewMessage":"Actual products will vary depending on the product being viewed."},"align":"wide"} -->
		<div class="wp-block-woocommerce-product-collection alignwide">
			<!-- wp:heading -->
			<h2 class="wp-block-heading">Productos relacionados</h2>
			<!-- /wp:heading -->

			<!-- wp:woocommerce/product-template -->
			<!-- wp:group {"metadata":{"name":"Producto"},"style":{"spacing":{"blockGap":"0"},"dimensions":{"minHeight":"100%"}},"layout":{"type":"flex","orientation":"vertical","flexWrap":"nowrap","justifyContent":"stretch"}} -->
			<div class="wp-block-group" style="min-height: 100%">
				<!-- wp:woocommerce/product-image {"isDescendentOfQueryLoop":true} /-->

				<!-- wp:group {"metadata":{"name":"Contenido"},"style":{"spacing":{"padding":{"top":"var:preset|spacing|s","bottom":"var:preset|spacing|m","left":"var:preset|spacing|s","right":"var:preset|spacing|s"},"blockGap":"var:preset|spacing|s"},"layout":{"selfStretch":"fill","flexSize":null}},"layout":{"type":"flex","orientation":"vertical","justifyContent":"center","flexWrap":"nowrap","verticalAlignment":"space-between"}} -->
				<div class="wp-block-group" style="padding-top: var(--wp--preset--spacing--s); padding-right: var(--wp--preset--spacing--s); padding-bottom: var(--wp--preset--spacing--m); padding-left: var(--wp--preset--spacing--s)">
					<!-- wp:post-title {"textAlign":"center","isLink":true,"style":{"elements":{"link":{"color":{"text":"var:preset|color|contrast-1"}}},"typography":{"fontStyle":"normal","fontWeight":"600","lineHeight":"1.3"},"layout":{"selfStretch":"fill","flexSize":null}},"fontSize":"l","fontFamily":"body","__woocommerceNamespace":"woocommerce/product-collection/product-title"} /-->

					<!-- wp:woocommerce/product-price {"isDescendentOfQueryLoop":true,"textAlign":"center"} /-->

					<!-- wp:woocommerce/product-button {"textAlign":"center","isDescendentOfQueryLoop":true} /-->
				</div>
				<!-- /wp:group -->
			</div>
			<!-- /wp:group -->
			<!-- /wp:woocommerce/product-template -->
		</div>
		<!-- /wp:woocommerce/product-collection -->
	</div>
	<!-- /wp:group -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","area":"footer","lock":{"move":true,"remove":true}} /-->
