/* ======================================================================
BUTTON
---
Notes:
- To customize most of this block and its parts, use the custom properties.
====================================================================== */

.button,
.wp-element-button,
.wp-block-button__link {
	--focus-color: var(--button-focus-color);
	display: var(--button-display, inline-block);
	align-content: center;
	min-inline-size: 24px;
	min-block-size: 24px;
	padding-block: var(--button-padding-block, 0.5em);
	padding-inline: var(--button-padding-inline, 1em);
	font-size: var(--button-font-size, inherit);
	font-weight: var(--button-font-weight, inherit);
	line-height: var(--button-line-height, inherit);
	color: var(--button-text-color, currentcolor);
	text-transform: var(--button-text-transform, inherit);
	letter-spacing: var(--button-letter-spacing, inherit);
	word-break: revert; /* WP: Revert default 'word-break: break-word' for being deprecated. */
	overflow-wrap: anywhere; /* Prevent long unbroken words from overflowing. */
	text-decoration-line: var(--button-line, none);
	background-color: var(--button-background-color, transparent);
	border-color: var(--button-border-color, currentcolor);
	border-style: solid;
	border-width: var(--button-border-width, 0);
	border-radius: var(--button-border-radius, 0);
	text-box: var(--button-text-box, normal);

	&:where(:not([class*="has-text-align"])) {
		text-align: var(--button-text-align, center);
	}

	/* WP: Revert default 'pointer' cursor on button-like links without an 'href'. */
	&:where(a:not([href])) {
		cursor: revert;
	}

	@media (prefers-reduced-motion: no-preference) {
		transition-duration: var(--transition-duration, 0);
		transition-property: color, background-color, border-color;
	}

	/* States */

	&:hover {
		color: var(--button-text-color-hover, var(--button-text-color));
		background-color: var(--button-background-color-hover, var(--button-background-color));
		border-color: var(--button-border-color-hover, var(--button-border-color));
	}

	&:active {
		scale: 99%;
	}

	/* Has icon */
	&:has(> :is(img, svg, .icon)) {
		--button-display: flex;
		display: var(--button-display, flex);
		flex-wrap: nowrap;
		gap: var(--button-gap, 1ch);
		align-items: center;
		justify-content: center;
	}

	/* Icon */
	> :is(img, svg, .icon) {
		flex-shrink: 0;
		inline-size: auto;
		block-size: var(--button-icon-size, 1em);

		&:not([fill]) {
			fill: currentcolor;
		}
	}
}

/* ======================================================================
Variants
====================================================================== */

:is(.button, .wp-element-button, .wp-block-button) {
	/* ----------------------------------------------------------------------
	Appearance
	---------------------------------------------------------------------- */

	&[data-button-appearance="inverse"] {
		--button-text-color: var(--color-primary);
		--button-text-color-hover: var(--color-primary);
		--button-background-color: var(--color-surface);
		--button-background-color-hover: var(--color-surface);
	}

	&[data-button-appearance="outlined"] {
		--button-text-color: var(--color-primary);
		--button-text-color-hover: var(--color-primary);
		--button-background-color: transparent;
		--button-background-color-hover: color-mix(in srgb, var(--button-text-color), transparent 95%);
		--button-border-color: currentcolor;
		--button-border-color-hover: currentcolor;
	}

	&[data-button-appearance="ghost"] {
		--button-text-color: var(--color-primary);
		--button-text-color-hover: var(--color-primary);
		--button-background-color: transparent;
		--button-background-color-hover: color-mix(in srgb, var(--button-color), transparent 95%);
		--button-border-color: transparent;
		--button-border-color-hover: transparent;
	}
}
