.card {
	padding: var(--card-padding, 1.5em);
	background-color: var(--card-color-bg);
	border-color: var(--card-border-color);
	border-style: solid;
	border-width: var(--card-border-width, thin);
	border-radius: var(--card-border-radius);
}
