.card {
	padding: var(--card-padding, 1.5em);
	background-color: var(--card-color-bg);
	border-color: var(--card-border-color);
	border-style: solid;
	border-width: var(--card-border-width, thin);
	border-radius: var(--card-border-radius);

	:is(h1, h2, h3, h4, h5, h6) {
		text-wrap: pretty;
	}
}
