/* ======================================================================
Details - Custom style
====================================================================== */

.wp-block-details.is-style-custom {
	--details-border-color: var(--wp--preset--color--surface-4);
	--details-border-width: var(--border-width-thin);
	--details-background-color: transparent;
	--details-background-color-hover: var(--wp--preset--color--surface-2);
	--details-padding-top: 1em;
	--details-padding-bottom: 1em;
	--details-padding-left: 1em;
	--details-padding-right: 1em;
	--details-summary-cursor: pointer;
	--details-summary-gap: 1ch;
	--details-icon-color: var(--wp--preset--color--primary);
	--details-icon-size: 2rem;
	--details-icon-image: url("../../assets/svg/icon-plus.svg");
	--details-open-icon-image: url("../../assets/svg/icon-line-solid.svg");
	--details-content-padding-top: var(--details-padding-top);

	& + & {
		border-block-start: var(--separator-thickness, thin) solid;
	}

	.is-layout-flow > :where(& + &) {
		margin-block-start: 0;
	}

	> summary {
		display: flex;
		gap: var(--details-summary-gap, 1rem);
		align-items: center;
		list-style: none;
	}

	/*
	Custom Icon.
	It's rendered after the summary by default. To render it before, just change '::after' to '::before'.
	---------------------------------------------------------------------- */

	/* Remove the default icon in WebKit-based browsers. */
	> summary::-webkit-details-marker {
		display: none;
	}

	/*
	Add a custom icon.
	*/
	> summary::after {
		display: inline-block;
		flex-shrink: 0;
		inline-size: var(--details-icon-size, 2.5rem);
		block-size: var(--details-icon-size, 2.5rem);
		margin-inline-start: auto;
		content: "";
		background-color: var(--details-icon-color, currentcolor);
		mask-image: var(--details-icon-image, none);
		mask-position: center;
		mask-size: cover;
	}

	/* When Details is Open */
	&[open] > summary::after {
		background-color: var(--details-icon-color-hover, var(--details-icon-color, currentcolor));
		mask-image: var(--details-open-icon-image, none);
	}
}
