/* ======================================================================
Details - Custom style
====================================================================== */

.wp-block-details.is-style-custom {
	--details-border-color: var(--color-surface-4);
	--details-border-width: var(--border-width-thin);
	--details-background-color: transparent;
	--details-background-color-hover: var(--color-surface-2);
	--details-padding-top: 1em;
	--details-summary-font-weight: var(--font-weight-bold);
	--details-padding-bottom: 1em;
	--details-padding-left: 1em;
	--details-padding-right: 1em;
	--details-summary-cursor: pointer;
	--details-icon-color: var(--color-primary);
	--details-icon-size: 2rem;
	--details-icon-image: url("../../assets/svg/icon-plus.svg");
	--details-open-icon-image: url("../../assets/svg/icon-line-solid.svg");
	--details-content-padding-top: var(--details-padding-top);

	> summary {
		display: flex;
		flex-wrap: wrap;
		gap: var(--details-summary-gap, 1ch);
		align-items: center;
		justify-content: space-between;
		list-style: none;
	}

	/* TODO: Double check this */
	&::details-content {
		margin-block: 0 !important; /* If there is some margin, the open/close transition is a bit clumsy */

		& > * {
			margin-block: 0 !important; /* If there is some margin, the open/close transition is a bit clumsy */
		}
	}

	/*
	Custom Icon.
	It's rendered after the summary by default. To render it before, just change '::after' to '::before'.
	---------------------------------------------------------------------- */

	/* Remove the default icon in WebKit-based browsers. */
	> summary::-webkit-details-marker {
		display: none;
	}

	/*
	Add a custom marker.
	*/
	> summary::after {
		display: inline-block;
		flex-shrink: 0;
		inline-size: var(--details-icon-size, 2.5rem);
		block-size: var(--details-icon-size, 2.5rem);
		content: "";
		background-color: var(--details-icon-color, currentcolor);
		mask-image: var(--details-icon-image, none);
		mask-position: center;
		mask-size: cover;
	}

	/* Change marker when details is open */
	&[open] {
		border-start-start-radius: 0;
		border-start-end-radius: 0;

		> summary::after {
			background-color: var(--details-icon-color-hover, var(--details-icon-color, currentcolor));
			mask-image: var(--details-open-icon-image, none);
		}
	}
}
