/* ======================================================================
WP BLOCK POST AUTHOR
---
Source:
https://github.com/WordPress/gutenberg/tree/trunk/packages/block-library/src/post-author
---
Notes:
- To customize most of this block and its parts, use the custom properties.
====================================================================== */

.wp-block-post-author {
	display: flex;
	flex-wrap: wrap;
	gap: var(--post-author-gap, 1em);

	p {
		margin-block: 0;
	}

	.wp-block-post-author__byline {
		font-size: var(--post-author-byline-font-size, var(--wp--preset--font-size--xs));
	}

	.wp-block-post-author__name {
		font-size: var(--post-author-name-font-size, var(--wp--preset--font-size--m));
	}

	.wp-block-post-author__bio {
		font-size: var(--post-author-bio-font-size, var(--wp--preset--font-size--s));
	}
}
