/* ======================================================================
WP BLOCK QUERY PAGINATION
---
Source:
- https://github.com/WordPress/gutenberg/tree/trunk/packages/block-library/src/query-pagination
- https://github.com/WordPress/gutenberg/tree/trunk/packages/block-library/src/query-pagination-next
- https://github.com/WordPress/gutenberg/tree/trunk/packages/block-library/src/query-pagination-numbers
- https://github.com/WordPress/gutenberg/tree/trunk/packages/block-library/src/query-pagination-previous
---
Notes:
- To customize most of this block and its parts, use the custom properties.
====================================================================== */

.wp-block-query-pagination {
	a[href]:not(:hover) {
		text-decoration-line: none;
	}

	/* ----------------------------------------------------------------------
	Numbers
	---------------------------------------------------------------------- */

	.wp-block-query-pagination-numbers {
		display: flex;
		flex-wrap: var(--query-pag-numbers-flex-wrap, wrap);
		row-gap: var(--query-pag-numbers-gap-rows, inherit);
		column-gap: var(--query-pag-numbers-gap-columns, inherit);
		align-items: var(--query-pag-numbers-align-items, inherit);
		justify-content: var(--query-pag-numbers-justify-content, inherit);

		/* Each Page Number including the dots/ellipsis */
		.page-numbers {
			align-content: center;
			min-inline-size: var(--query-pag-number-min-size, 44px);
			min-block-size: var(--query-pag-number-min-size, 44px);
			padding-block: var(--query-pag-number-padding-block, 0.25em);
			padding-inline: var(--query-pag-number-padding-inline, 0.25em);
			line-height: 1;
			color: var(--query-pag-number-text-color);
			text-align: center;
			background-color: var(--query-pag-number-background-color);
			border-color: var(--query-pag-number-border-color);
			border-style: var(--query-pag-number-border-style, solid);
			border-width: var(--query-pag-number-border-width, thin);
			border-radius: var(--query-pag-number-border-radius);

			/* Current (Active) Page Number */
			&[aria-current="page"] {
				--query-pag-number-border-color: transparent;
				--query-pag-number-border-width: 0;
			}

			/* Dots/Ellipsis ("...") */
			&.dots {
				--query-pag-number-border-color: transparent;
				--query-pag-number-border-width: 0;
			}

			/* Hover states for clickable page numbers */
			&a:hover {
				color: var(--query-pag-number-text-color-hover);
				background-color: var(--query-pag-number-background-color-hover);
				border-color: var(--query-pag-number-border-color-hover);
			}
		}
	}

	/* ----------------------------------------------------------------------
	Previous and Next
	---------------------------------------------------------------------- */

	/* TODO: Refactor */

	:is(.wp-block-query-pagination-previous, .wp-block-query-pagination-next) {
		display: inline-flex;
		flex-wrap: wrap;
		row-gap: var(--query-pag-prev-next-gap-rows, 0.5ch);
		column-gap: var(--query-pag-prev-next-gap-columns, 1ch);
		place-content: center;
		min-inline-size: var(--query-pag-prev-next-min-size, 44px);
		min-block-size: var(--query-pag-prev-next-min-size, 44px);
		padding-block: var(--query-pag-prev-next-padding-block, 0.5em);
		padding-inline: var(--query-pag-prev-next-padding-inline, 0.5em);
		line-height: 1;
		color: var(--query-pag-prev-next-text-color);
		text-align: center;
		background-color: var(--query-pag-prev-next-background-color);
		border-color: var(--query-pag-prev-next-border-color);
		border-style: var(--query-pag-prev-next-border-style, solid);
		border-width: var(--query-pag-prev-next-border-width, thin);
		border-radius: var(--query-pag-prev-next-border-radius);

		&:hover {
			color: var(--query-pag-prev-next-text-color-hover);
			background-color: var(--query-pag-prev-next-background-color-hover);
			border-color: var(--query-pag-prev-next-border-color-hover);
		}
	}

	.wp-block-query-pagination-next {
		flex-wrap: wrap-reverse; /* On wrap, stack text above the arrow icon */
	}

	/* ----------------------------------------------------------------------
	Previous and Next Icons
	---------------------------------------------------------------------- */

	:is(.wp-block-query-pagination-previous-arrow, .wp-block-query-pagination-next-arrow) {
		margin: 0; /* WP: Remove default margin */
		line-height: 1;
	}
}
