/* ======================================================================
WP Query Pagination Previous
---
Source:
- https://github.com/WordPress/gutenberg/tree/trunk/packages/block-library/src/query-pagination-previous
- https://github.com/WordPress/WordPress/tree/master/wp-includes/blocks/query-pagination-previous
---
Notes:
- To customize most of this block and its parts, use the custom properties.
====================================================================== */

/* ======================================================================
Query Pagination Previous
====================================================================== */

.wp-block-query-pagination-previous {
	display: inline-flex;
	flex-wrap: wrap;
	row-gap: var(--block-query-pag-previous-gap-rows, 0.5ch);
	column-gap: var(--block-query-pag-previous-gap-columns, 1ch);
	place-content: center;
	min-inline-size: var(--block-query-pag-previous-min-size, 44px);
	min-block-size: var(--block-query-pag-previous-min-size, 44px);
	padding-block: var(--block-query-pag-previous-padding-block, 0.5em);
	padding-inline: var(--block-query-pag-previous-padding-inline, 0.5em);
	line-height: 1;
	color: var(--block-query-pag-previous-color);
	text-align: center;
	background-color: var(--block-query-pag-previous-color-bg);
	border-color: var(--block-query-pag-previous-border-color);
	border-style: var(--block-query-pag-previous-border-style, solid);
	border-width: var(--block-query-pag-previous-border-width, thin);
	border-radius: var(--block-query-pag-previous-border-radius);

	&:is(:hover, :focus-visible) {
		color: var(--block-query-pag-prev-color-hover);
		background-color: var(--block-query-pag-prev-color-bg-hover);
		border-color: var(--block-query-pag-prev-border-color-hover);
	}

	.wp-block-query-pagination-previous-arrow {
		margin-right: 0; /* Remove default margin */
		line-height: 1;
	}
}
