/* ======================================================================
WP BLOCK POST EXCERPT
---
Source:
https://github.com/WordPress/gutenberg/tree/trunk/packages/block-library/src/post-excerpt
---
Notes:
- To customize most of this block and its parts, use the custom properties.
====================================================================== */

.wp-block-post-excerpt {
	p {
		margin-block: 0;
	}
}
