/* TODO: Refactor */

/* ======================================================================
WP BLOCK COVER
---
Source:
https://github.com/WordPress/gutenberg/tree/trunk/packages/block-library/src/cover
---
Notes:
- To customize most of this block and its parts, use the custom properties.
---
Resources:
- https://inclusive-components.design/cards/
====================================================================== */

/* ======================================================================
Default Style
====================================================================== */

.wp-block-cover {
	min-height: revert;
	padding: var(--gutter, 1em);
}

/* ======================================================================
Custom Style: Custom
====================================================================== */

.wp-block-cover.is-style-custom {
	--cover-background-background: linear-gradient(45deg, hsl(0deg 0% 0% / 80%) 0%, hsl(0deg 0% 0% / 0%) 100%);
	--cover-background-opacity-default: 0;
	--cover-background-opacity-hover: 1;
	--cover-focus-shadow: 0 0 0 0.25rem var(--wp--preset--color--primary, currentcolor);

	/* Cover background */

	& > .wp-block-cover__background {
		background: var(--cover-background-background, initial);
		opacity: var(--cover-background-opacity, initial);

		@media (prefers-reduced-motion: no-preference) {
			transition-duration: var(--transition-duration, 0);
			transition-property: opacity;
		}
	}

	/* Cover background when is hovered or the Post Title link child is focused */

	&:is(:hover, :focus-within) > .wp-block-cover__background {
		opacity: var(--cover-background-opacity-hover, initial);
	}

	/* Make the whole block interactive if it has a Post Title as link */

	&:has(.wp-block-post-title > a:where([href])) {
		position: relative;
	}

	/* Cover when the Post Title link child is focused */

	&:has(.wp-block-post-title > a:where([href])):focus-within {
		box-shadow: var(--cover-focus-shadow, initial);
	}

	& .wp-block-post-title > a:where([href]) {
		text-decoration: none;
		outline: none;
	}

	& .wp-block-post-title > a:where([href])::after {
		position: absolute;
		inset: 0;
		content: "";
	}
}
