/* ======================================================================
WP BLOCK POST TEMPLATE
---
Source:
https://github.com/WordPress/gutenberg/tree/trunk/packages/block-library/src/post-template
---
Notes:
- To customize most of this block and its parts, use the custom properties.
====================================================================== */
.wp-block-post-template {
	/* Remove default list styles. */
	&:is(ol, ul) {
		padding-inline-start: 0;
		list-style-type: "";
	}

	/* Stretches each post's container to create a uniform height for all items in a grid. */
	&:is(.grid, .is-layout-grid) > li.wp-block-post > .wp-block-group {
		min-block-size: 100%;
	}
}
