/* ======================================================================
WP BLOCK COLUMNS
---
Source:
https://github.com/WordPress/gutenberg/tree/trunk/packages/block-library/src/columns
---
Notes:
- To customize most of this block and its parts, use the custom properties.
====================================================================== */

.wp-block-column {
	word-break: revert; /* WP: Revert default 'word-break: break-word' for being deprecated. */
	overflow-wrap: anywhere; /* Prevent long unbroken words from overflowing. */
}
