/* ======================================================================
WP Query Pagination
---
Source:
- https://github.com/WordPress/gutenberg/tree/trunk/packages/block-library/src/query-pagination
- https://github.com/WordPress/WordPress/tree/master/wp-includes/blocks/query-pagination
---
Notes:
- To customize most of this block and its parts, use the custom properties.
====================================================================== */

.wp-block-query-pagination {
	--link-color-underline: transparent;
	--link-color-underline-on-hover-focus: transparent;
}
