/* ======================================================================
WP BLOCK NAVIGATION
---
Source:
- https://github.com/WordPress/gutenberg/tree/trunk/packages/block-library/src/navigation
- https://github.com/WordPress/WordPress/tree/master/wp-includes/blocks/navigation
---
Notes:
- ❗️ To customize most of this block and its parts, prioritize using the defined custom properties whenever possible.
---
DOM Structure:

nav.wp-block-navigation
├── button.wp-block-navigation__responsive-container-open
└── div.wp-block-navigation__responsive-container(.is-menu-open.has-modal-open)
    └── div.wp-block-navigation__responsive-close
        └── div.wp-block-navigation__responsive-dialog
            ├── button.wp-block-navigation__responsive-container-close
            └── div.wp-block-navigation__responsive-container-content
                └── ul.wp-block-navigation__container.wp-block-navigation
                    ├── li.wp-block-navigation-item
                    │   └── a.wp-block-navigation-item__content
                    │       └── span.wp-block-navigation-item__label
                    ├── li.wp-block-navigation-item.has-child.wp-block-navigation-submenu.open-on-hover-click
                    │   ├── a.wp-block-navigation-item__content
                    │   ├── button.wp-block-navigation__submenu-icon.wp-block-navigation-submenu__toggle
                    │   └── ul.wp-block-navigation__submenu-container.wp-block-navigation-submenu
                    │       └── li.wp-block-navigation-item
                    ├── li.wp-block-navigation-item.has-child.wp-block-navigation-submenu.open-on-click
                    │   ├── button.wp-block-navigation-item__content.wp-block-navigation-submenu__toggle
                    │   │   └── span.wp-block-navigation-item__label
                    │   ├── span.wp-block-navigation__submenu-icon
                    │   └── ul.wp-block-navigation__submenu-container.wp-block-navigation-submenu
                    │       └── li.wp-block-navigation-item
                    └── (other blocks than Page/Custom Link)
---
Table of contents:
01. Configuration
    01.1. Global
    01.2. Overlay Menu
02. Navigation (<nav>)
03. Elements
04. Menu Buttons Open/Close (<button>)
05. Outermost Menu Items (<li>)
    05.1. Link/Button (<a>/<button>)
06. Submenu Icon/Toggle (<span>/<button>)
07. Submenus (<ul>)
08. Responsive Containers when Overlay Menu is Open
    08.1. Responsive Container
    08.2. Responsive Container Close + Dialog + Content
    08.3. Responsive Container Content
    08.4. Elements
09. Keyframes
====================================================================== */

/* stylelint-disable selector-not-notation -- To keep the same specificity of default WP selectors. */

/* ======================================================================
01. Configuration
====================================================================== */

/* ----------------------------------------------------------------------
01.1. Global
---------------------------------------------------------------------- */

nav.wp-block-navigation {
	/* Global */
	--nav-global-color-text: currentcolor;
	--nav-global-font-size: var(--wp--preset--font-size--s);
	--nav-global-gap-columns: var(--wp--preset--spacing--2-xs);
	--nav-global-gap-rows: var(--wp--preset--spacing--3-xs);

	/* Menu Toggle Button */
	--nav-button-icon-size: 2.75rem; /* 44px */
	/* --nav-button-open-color-text: ;
	--nav-button-open-color-bg: ;
	--nav-button-open-color-text-on-hover: ;
	--nav-button-open-color-bg-on-hover: ;
	--nav-button-close-color-text: ;
	--nav-button-close-color-bg: ;
	--nav-button-close-color-text-on-hover: ;
	--nav-button-close-color-bg-on-hover: ; */

	/* Menu Item */
	--nav-item-border-color: transparent;
	--nav-item-border-color-on-hover: currentcolor;
	--nav-item-border-color-current-page: transparent;
	--nav-item-border-radius: var(--wp--custom--corner-radius--s);
	--nav-item-border-width: 0px;
	--nav-item-color-text-on-hover: currentcolor;
	--nav-item-color-text-current-page: currentcolor;
	--nav-item-color-bg: transparent;
	--nav-item-color-bg-on-hover: var(--wp--preset--color--surface-2);
	--nav-item-color-bg-current-page: var(--wp--preset--color--surface-2);
	--nav-item-padding-block: 0.375em;
	--nav-item-padding-inline: 0.875em;

	/* Menu Item has Submenu */
	--nav-item-has-submenu-when-overlay-menu-open-content-grid-column: 2;
	--nav-item-has-submenu-when-overlay-menu-open-icon-grid-column: 1;

	/* Menu Item of Submenu */
	--nav-item-of-submenu-padding-block: 0.5em;
	--nav-item-of-submenu-padding-inline-start: 0.5em;

	/* Menu Link */

	/* Submenu Icon */
	--nav-submenu-icon-display: grid;
	--nav-submenu-icon-margin-left: var(--wp--preset--spacing--3-xs);
	--nav-submenu-icon-size: 1.5rem; /* 24px */
	--nav-submenu-icon-svg-size: 1rem;
	/* --nav-submenu-icon-svg-path-stroke-width: ; */

	/* Submenus */
	--nav-submenu-border-color: currentcolor;
	--nav-submenu-border-top-width: 0;
	--nav-submenu-border-width: 0;
	--nav-submenu-color-bg: var(--wp--preset--color--surface-1);
	/* --nav-submenu-color: currentcolor; */
	--nav-submenu-gap-columns: 0;
	--nav-submenu-gap-rows: 0;
	--nav-submenu-inline-size-min: 100%;
	--nav-submenu-inline-size: 20ch;
	/* --nav-submenu-padding-block: 1em; */
	/* --nav-submenu-padding-left: var(--nav-submenu-icon-svg-size); */
	--nav-submenu-padding-inline-end: 0;
	--nav-submenu-separator-color: currentcolor;
	--nav-submenu-separator-width: 0;
	--nav-submenu-shadow: var(--wp--preset--shadow--elevation-1);

	/* Overlay Menu */
	/* --nav-overlay-menu-animation-duration: ;
	--nav-overlay-menu-animation-timing-function: ; */
	/* --nav-overlay-menu-color-text: ; */
	/* --nav-overlay-menu-color-bg: ; */
	/* --nav-overlay-menu-padding-top: ;
	--nav-overlay-menu-padding-bottom: ; */
	--nav-overlay-menu-padding-left: var(--wp--preset--spacing--m-xl);
	/* --nav-overlay-menu-padding-right: ; */
	/* --nav-overlay-menu-content-container-padding-top: ; */

	/* Other elements */
	--field-border-width: 0;
	--link-color: currentcolor;
}

/* ----------------------------------------------------------------------
01.2. Overlay Menu
---
Custom properties added here are the same from the ones above.
They are only used when the menu is open, overriding the ones above.
---------------------------------------------------------------------- */

nav.wp-block-navigation:has(:where(.wp-block-navigation__responsive-container.is-menu-open)) {
	/* Global */
	--nav-global-gap-rows: var(--wp--preset--spacing--xs);

	/* Submenu Container */
	--nav-submenu-padding-block: 0;
	--nav-submenu-padding-left: 0;
	--nav-submenu-shadow: none;
}

/* ======================================================================
02. Navigation (<nav>)
====================================================================== */

/* stylelint-disable-next-line no-duplicate-selectors -- Intended. */
nav.wp-block-navigation {
	row-gap: var(--nav-global-gap-rows, var(--gutter, 0));
	column-gap: var(--nav-global-gap-columns, var(--gutter, 0));
	font-size: var(--nav-global-font-size, inherit);
	font-weight: var(--nav-global-font-weight, inherit);
	line-height: var(--nav-global-line-height, inherit);
	color: var(--nav-global-color-text, currentcolor);
	text-transform: var(--nav-global-text-transform, inherit);
	letter-spacing: var(--nav-global-letter-spacing, inherit);
}

/* ======================================================================
03. Elements
====================================================================== */

/* ======================================================================
04. Menu Buttons Open/Close (<button>)
====================================================================== */

/* Both Open & Close Buttons */

:is(.wp-block-navigation__responsive-container-open, .wp-block-navigation__responsive-container-close) {
	&button {
		cursor: default;
	}

	> svg {
		width: var(--nav-button-icon-size, 44px);
		min-width: 24px;
		height: var(--nav-button-icon-size, 44px);
		min-height: 24px;
	}
}

/* Open Button */

.wp-block-navigation__responsive-container-open {
	:where(.wp-block-navigation:not(.has-background, .has-text-color)) & {
		color: var(--nav-button-open-color-text, currentcolor);
		background-color: var(--nav-button-open-color-bg, transparent);

		&:is(:hover, :focus-visible) {
			color: var(--nav-button-open-color-text-on-hover, currentcolor);
			background-color: var(--nav-button-open-color-bg-on-hover, transparent);
		}
	}
}

/* Close Button */

.wp-block-navigation__responsive-container-close {
	:where(.wp-block-navigation:not(.has-background, .has-text-color)) & {
		color: var(--nav-button-close-color-text, currentcolor);
		background-color: var(--nav-button-close-color-bg, transparent);

		&:is(:hover, :focus-visible) {
			color: var(--nav-button-close-color-text-on-hover, currentcolor);
			background-color: var(--nav-button-close-color-bg-on-hover, transparent);
		}
	}
}

/* ======================================================================
05. Outermost Menu Items (<li>)
====================================================================== */

.wp-block-navigation__container > .wp-block-navigation-item {
	align-content: center;
	align-items: stretch;
	padding-block: var(--nav-item-padding-block, 0);
	padding-inline: var(--nav-item-padding-inline, 0);

	&.open-on-click {
		padding: 0;
	}

	/*
	❗️ All the !important are needed here to override some WP's default styles.
	WP resets 'color' and 'background-color' for items inside the overlay menu using !important.
	Source: https://github.com/search?q=repo%3AWordPress%2Fgutenberg+path%3Apackages%2Fblock-library%2Fsrc%2Fnavigation%2Fstyle.scss+%21important&type=code
	*/
	:where(.wp-block-navigation:not(.has-background, .has-text-color)) & {
		background-color: var(--nav-item-color-bg, transparent) !important;
		border-color: var(--nav-item-border-color, currentcolor);
		border-style: solid;
		border-width: var(--nav-item-border-width, 0);
		border-radius: var(--nav-item-border-radius, 0);

		@media (prefers-reduced-motion: no-preference) {
			transition-duration: var(--wp--custom--transition--duration, 0);
			transition-property: color, background-color, border-color;
		}

		&:is(:hover, :focus-visible, :has(> :where(.wp-block-navigation-submenu__toggle)[aria-expanded="true"])) {
			color: var(--nav-item-color-text-on-hover, inherit) !important;
			background-color: var(--nav-item-color-bg-on-hover, inherit) !important;
			border-color: var(--nav-item-border-color-on-hover, var(--nav-item-border-color, currentcolor));
		}

		&.current-menu-item {
			color: var(--nav-item-color-text-current-page, inherit) !important;
			background-color: var(--nav-item-color-bg-current-page, transparent) !important;
			border-color: var(--nav-item-border-color-current-page, var(--nav-item-border-color, currentcolor));
		}
	}

	/* ----------------------------------------------------------------------
	05.1. Link/Button
	---
	<a> when "Open on click" is disabled; <button> when "Open on click" is enabled.
	---------------------------------------------------------------------- */

	/* WP: Revert default padding; we are already adding padding to 'li.wp-block-navigation-item' */
	:where(.wp-block-navigation.has-background :is(.wp-block-navigation-item, .wp-block-navigation-submenu) a:not(.wp-element-button)) {
		padding: 0;
	}

	/* If link doesn't have 'href', use button's cursor */
	&.has-child.open-on-hover-click.wp-block-navigation-submenu > .wp-block-navigation-item__content:not([href]) {
		cursor: default;
	}
}

/* ======================================================================
06. Submenu Icon/Toggle
====================================================================== */

/* .wp-block-navigation__container > .wp-block-navigation-item.open-on-click {
	display: grid;
	grid-template-columns: 1fr;

	> :is(
		.wp-block-navigation-item.open-on-click .wp-block-navigation-submenu__toggle,
		.wp-block-navigation-item.open-on-click .wp-block-navigation-submenu__toggle + .wp-block-navigation__submenu-icon
	) {
		grid-area: 1 / -1;
	}
} */

/* Toggle */

.wp-block-navigation-submenu__toggle {
	cursor: default;

	.wp-block-navigation-item.open-on-click & {
		/* padding-block: var(--nav-item-padding-block, 0);
		padding-inline: var(--nav-item-padding-inline, 0);
		padding-inline-end: calc(var(--nav-submenu-icon-svg-size, 1rem) + var(--nav-item-padding-inline, 0)); */
	}
}

/* Icon */

.wp-block-navigation .wp-block-navigation__submenu-icon {
	display: var(--nav-submenu-icon-display, grid);
	place-items: center;
	width: max(24px, var(--nav-submenu-icon-size, 24px)); /* The fallback is the WP's default value */
	height: auto; /* The fallback is the WP's default value */
	margin-inline-start: var(--nav-submenu-icon-margin-left, 0.25em); /* The fallback is the WP's default value */

	svg {
		/* inline-size: var(--nav-submenu-icon-svg-size, 1rem);
		block-size: auto; */
		margin-top: revert; /* WP: Revert default value */

		> path {
			stroke-width: var(--nav-submenu-icon-svg-path-stroke-width, 1.5);
		}
	}
}

.wp-block-navigation-item.open-on-click .wp-block-navigation-submenu__toggle + .wp-block-navigation__submenu-icon {
	justify-self: end;
	width: auto;
	/* margin-inline-start: calc(-1 * (max(24px, var(--nav-submenu-icon-size, 24px)) + var(--nav-item-padding-inline, 0))); */
	margin-inline-end: var(--nav-item-padding-inline, 0);
}

/* ======================================================================
07. Submenus
TODO: Refactor.
====================================================================== */

/* All Submenu Containers (<ul>)
---------------------------------------------------------------------- */

.wp-block-navigation:where(:not(.has-text-color) .wp-block-navigation__submenu-container) {
	/* The fallback '--nav-global-color-text' is necessary; otherwise, if '--nav-submenu-color' is not set and the color of the submenu parent item changes when hovered/clicked/focused, all its submenu items would inherit that hover/clic/focus color. */
	color: var(--nav-submenu-color, var(--nav-global-color-text, currentcolor));
}

li.wp-block-navigation-item.has-child.wp-block-navigation-submenu > ul.wp-block-navigation__submenu-container.wp-block-navigation-submenu {
	visibility: hidden; /* Hidden */
	row-gap: var(--nav-submenu-gap-rows, var(--flow-space, 0));
	column-gap: var(--nav-submenu-gap-columns, var(--flow-space, 0));
	width: 0; /* Hidden */
	height: 0; /* Hidden */
	padding-block: var(--nav-submenu-padding-block, 0);
	padding-inline-start: var(--nav-submenu-padding-left, 0);
	padding-inline-end: var(--nav-submenu-padding-right, 0);
	overflow: hidden; /* Hidden (overflow is necessary to set, otherwise submenu items will take up space) */
	border-color: var(--nav-submenu-border-color, currentcolor);
	border-style: solid;
	border-width: var(--nav-submenu-border-width, 0);
	border-block-start-width: var(--nav-submenu-border-top-width, var(--nav-submenu-border-width, 0));
	box-shadow: var(--nav-submenu-shadow, inherit);
	opacity: 0; /* Hidden */

	&:where(:not(.has-background)) {
		background-color: var(--nav-submenu-color-bg, transparent);
	}
}

/* Submenu Container - Outermost (1st level) (<ul>)
---------------------------------------------------------------------- */

ul.wp-block-navigation__container > li.wp-block-navigation-submenu > ul.wp-block-navigation__submenu-container {
	left: 0; /* Override WP's default value '-1px' */
}

/* Submenu Containers - Nested (2nd level & beyond) (<ul>)
---------------------------------------------------------------------- */

li.wp-block-navigation-item.wp-block-navigation-submenu {
	> ul.wp-block-navigation__submenu-container.wp-block-navigation-submenu > li.wp-block-navigation-item.wp-block-navigation-submenu > ul.wp-block-navigation__submenu-container.wp-block-navigation-submenu {
		top: calc(-1 * (var(--nav-submenu-border-width, 0px) + var(--nav-submenu-padding-block, 0px)));
	}

	/* When is shown (on hover/click) */
	.wp-block-navigation-submenu__toggle[aria-expanded="true"] ~ ul.wp-block-navigation__submenu-container,
	&:not(.open-on-click):hover > ul.wp-block-navigation__submenu-container,
	&:not(.open-on-click):not(.open-on-hover-click):focus-within > ul.wp-block-navigation__submenu-container {
		visibility: visible;
		inline-size: var(--nav-submenu-inline-size, auto); /* The fallback is the WP's default value */
		min-inline-size: var(--nav-submenu-inline-size-min, 200px); /* The fallback is the WP's default value */
		block-size: auto;
		overflow: visible;
		opacity: 1;
	}
}

/* Menu Item of Submenu (<li>)
---------------------------------------------------------------------- */

/* Adjacent menu item */
ul.wp-block-navigation__submenu-container.wp-block-navigation-submenu > li.wp-block-navigation-item + li.wp-block-navigation-item {
	border-block-start-color: var(--nav-submenu-separator-color, currentcolor);
	border-block-start-style: solid;
	border-block-start-width: var(--nav-submenu-separator-width, 0);
}

/* Link/Button of Menu Item of Submenu
---------------------------------------------------------------------- */

ul.wp-block-navigation__submenu-container.wp-block-navigation-submenu > li.wp-block-navigation-item > .wp-block-navigation-item__content {
	padding-block: var(--nav-item-of-submenu-padding-block, 0);
	padding-inline-start: var(--nav-item-of-submenu-padding-inline-start, 0);
}

/* Menu Item of Submenu has Submenu (<li>)
---------------------------------------------------------------------- */

li.wp-block-navigation-submenu li.wp-block-navigation-submenu {
	/* No current styles; just added if it's ever needed. */
}

/* ======================================================================
08. Responsive Containers when Overlay Menu is Open
TODO: Refactor.
====================================================================== */

.wp-block-navigation__responsive-container.is-menu-open {
	/* ----------------------------------------------------------------------
	08.1. Responsive Container
	---------------------------------------------------------------------- */
	padding-block-start: var(--nav-overlay-menu-padding-top, var(--site-header-padding-top, 2rem));
	padding-block-end: var(--nav-overlay-menu-padding-bottom, var(--site-header-padding-bottom, 2rem));
	padding-inline-start: var(--nav-overlay-menu-padding-left, var(--gutter, 1rem));
	padding-inline-end: var(--nav-overlay-menu-padding-right, var(--gutter, 1rem));

	@media (prefers-reduced-motion: no-preference) {
		/* animation-name: overlay-menu; */
		animation-duration: var(--nav-overlay-menu-animation-duration, var(--wp--custom--transition--duration, 0));
		animation-timing-function: var(--nav-overlay-menu-animation-timing-function);
	}

	.wp-block-navigation:not(.has-background) & {
		background-color: var(--nav-overlay-menu-color-bg, var(--wp--preset--color--surface-1, Canvas));

		/* .wp-block-navigation-item {
			background-color: var(--nav-item-color-bg, transparent) !important;

			&.current-menu-item {
				background-color: var(--nav-item-color-bg-current-page, transparent) !important;
			}

			&:is(:hover, :focus-visible, :has(> .wp-block-navigation-submenu__toggle[aria-expanded="true"])) {
				background-color: var(--nav-item-color-bg-on-hover, inherit) !important;
			}

			.wp-block-navigation__submenu-container {
				background-color: var(--nav-submenu-color-bg, transparent) !important;
			}
		} */
	}

	.wp-block-navigation:not(.has-text-color) & {
		color: var(--nav-overlay-menu-color-text, var(--wp--preset--color--text, CanvasText));

		/* li.wp-block-navigation-item {
			&.current-menu-item {
				color: var(--nav-item-color-text-current-page, currentcolor) !important;
			}

			&:is(:hover, :focus-visible, :has(> .wp-block-navigation-submenu__toggle[aria-expanded="true"])) {
				color: var(--nav-item-color-text-on-hover, currentcolor) !important;
			}
		}

		.wp-block-navigation__submenu-container {
			color: var(--nav-submenu-color, currentcolor) !important;
		} */
	}

	/* ----------------------------------------------------------------------
	08.2. Responsive Container Close + Dialog + Content
	---
	The Navigation block can have Page/Custom Link blocks inside of it, but also other type of blocks.
	The selector '.wp-block-navigation__responsive-container-content' targets the element that wraps all of them.
	---------------------------------------------------------------------- */

	/* Make containers between 'nav' and the outermost 'ul' fill the available vertical space for better layout control, e.g. if some items need to be pushed to the bottom of the overlay menu. */
	:is(.wp-block-navigation__responsive-close, .wp-block-navigation__responsive-dialog, .wp-block-navigation__responsive-container-content) {
		block-size: 100%;
	}

	/* ----------------------------------------------------------------------
	08.3. Responsive Container Content
	---
	The Navigation block can have Page/Custom Link blocks inside of it, but also other type of blocks.
	The selector '.wp-block-navigation__responsive-container-content' targets the element that wraps all of them.
	---------------------------------------------------------------------- */

	.wp-block-navigation__responsive-container-content {
		padding-block-start: var(--nav-overlay-menu-content-container-padding-top, var(--nav-button-icon-size, 2rem));

		.wp-block-navigation__container {
			align-items: stretch;
		}
	}

	/* ----------------------------------------------------------------------
	08.4. Elements
	---------------------------------------------------------------------- */

	ul.wp-block-navigation__container > li.wp-block-navigation-item.wp-block-navigation-submenu:is(.wp-block-navigation__responsive-container.is-menu-open &) {
		display: grid;
		align-items: stretch;
		justify-items: start;

		> :where(.wp-block-navigation-item__content) {
			grid-row: 1;
			grid-column: var(--nav-item-has-submenu-when-overlay-menu-open-content-grid-column, 1);
		}

		> :where(.wp-block-navigation__submenu-icon) {
			grid-row: 1;
			grid-column: var(--nav-item-has-submenu-when-overlay-menu-open-icon-grid-column, 2);
		}

		> :where(.wp-block-navigation__submenu-container) {
			grid-row: 2;
			grid-column: var(--nav-item-has-submenu-when-overlay-menu-open-content-grid-column, 1);
		}
	}
}

/* ======================================================================
09. Keyframes
====================================================================== */

@media (prefers-reduced-motion: no-preference) {
	@keyframes overlay-menu {
		/* Customize per project */
	}
}
