/* ======================================================================
WP BLOCK POST NAVIGATION LINK
---
Source:
https://github.com/WordPress/gutenberg/tree/trunk/packages/block-library/src/post-navigation-link
---
Notes:
- To customize most of this block and its parts, use the custom properties.
====================================================================== */

.wp-block-post-navigation-link {
	display: flex;
	flex-wrap: wrap;
	gap: 1ch;
	align-items: center;
	justify-content: center;

	/* WP: Remove default margins */
	:is(.wp-block-post-navigation-link__arrow-previous, .wp-block-post-navigation-link__arrow-next) {
		margin: 0;
	}

	/* Show arrow before link text when wrapped */
	&:has(> a + .wp-block-post-navigation-link__arrow-next) {
		flex-wrap: wrap-reverse;
	}
}
