/* ======================================================================
WP BLOCK MEDIA TEXT
---
Source:
https://github.com/WordPress/gutenberg/tree/trunk/packages/block-library/src/media-text
---
Notes:
- To customize most of this block and its parts, use the custom properties.
====================================================================== */

.wp-block-media-text {
	.wp-block-media-text__content {
		word-break: revert; /* WP: Revert default 'word-break: break-word' for being deprecated. */
		overflow-wrap: break-word; /* Prevent long unbroken words from overflowing. */
	}
}
