/* ======================================================================
WP BLOCK SEPARATOR
---
Source:
https://github.com/WordPress/gutenberg/tree/trunk/packages/block-library/src/separator
---
Notes:
- To customize most of this block and its parts, use the custom properties.
====================================================================== */

.wp-block-separator {
	color: var(--separator-color, currentcolor);
	border: none;
	border-block-start-style: var(--separator-style, solid);
	border-block-start-width: var(--separator-thickness, 2px);
}
