/* ======================================================================
WP BLOCK POST TERMS
---
Source:
https://github.com/WordPress/gutenberg/tree/trunk/packages/block-library/src/post-terms
---
Notes:
- This block is used to display both post categories and post tags.
====================================================================== */

.wp-block-post-terms {
	display: flex;
	flex-wrap: wrap;
	gap: 1ch;

	> :is(a[href]) {
		display: inline-block;
		align-content: center;
		min-inline-size: 24px;
		min-block-size: 24px;
		padding-block: 0.75em;
		padding-inline: 1em;
		font-size: var(--wp--preset--font-size--s);
		line-height: var(--wp--custom--line-height--slim);
		text-align: center;
		text-decoration-line: none;
		border: var(--wp--custom--border-width--thin, 1px) solid;
		border-radius: var(--wp--custom--border-radius--xs);
		text-box: trim-both cap alphabetic;

		/* States */
		&:is(:hover, :focus-visible) {
			text-decoration-line: underline;
		}
	}

	/* Separator */
	> .wp-block-post-terms__separator {
		display: none;
	}
}
