/* ======================================================================
WP BLOCK POST DATE
---
Source:
https://github.com/WordPress/gutenberg/tree/trunk/packages/block-library/src/post-date
---
Notes:
- To customize most of this block and its parts, use the custom properties.
====================================================================== */

.wp-block-post-date {
	font-size: var(--block-post-date-font-size);
}
