/* ======================================================================
WP BLOCK READ MORE
---
Source:
https://github.com/WordPress/gutenberg/tree/trunk/packages/block-library/src/read-more
---
Notes:
- To customize most of this block and its parts, use the custom properties.
====================================================================== */

.wp-block-read-more {
	display: block;
	inline-size: fit-content;
}
