/* ======================================================================
Site Header
====================================================================== */

@keyframes add-shadow-to-header {
	to {
		box-shadow: 0 2px 4px -2px color-mix(in oklch, currentcolor 25%, transparent);
	}
}

.site-header {
	--site-logo-height: var(--wp--preset--spacing--l);
	--wrapper-max-width: 90rem;
	padding-block-start: var(--site-header-padding-top, var(--gutter, 2rem));
	padding-block-end: var(--site-header-padding-bottom, var(--gutter, 2rem));
	container: site-header-container / inline-size;
	background-color: var(--wp--preset--color--surface-1, Canvas);
	box-shadow: 0 var(--wp--custom--border-width--thin) var(--separator-color);

	@media (width >= 80rem) and (height >= 70rem) {
		position: sticky;
		inset-block-start: 0;
		z-index: 2;

		@supports (animation-timeline: scroll()) {
			@media (prefers-reduced-motion: no-preference) {
				animation: add-shadow-to-header linear forwards;
				animation-duration: 1ms; /* Firefox requires a duration for scroll-driven animations to work */
				animation-timeline: scroll();
				animation-range: 0 80px;
			}
		}
	}

	.repel > .wp-block-site-logo {
		flex-shrink: 0;
	}

	/*
	Navigation Overlay Menu - Breakpoint
	Change the default viewport width at which navigation switches between expanded and collapsed.
	⚠️ IMPORTANT: These styles are intended for a custom breakpoint that is larger than the default (600px).
	*/

	/* stylelint-disable no-unknown-custom-media -- Defined in custom-media-queries.css file. */
	/* stylelint-disable selector-not-notation -- To match specificity of default WP styles. */

	/* Override styles at WP's default breakpoint. */

	@media (--nav-default-breakpoint) {
		nav.wp-block-navigation {
			/* Keep showing the button to open the menu */
			.wp-block-navigation__responsive-container-open:not(.always-shown) {
				display: flex;
			}

			/* Keep hiding the expanded menu */
			.wp-block-navigation__responsive-container:not(.hidden-by-default):not(.is-menu-open) {
				display: none;
			}
		}
	}

	/* Add styles at custom breakpoint larger than the default one. */

	@media (--nav-custom-breakpoint) {
		nav.wp-block-navigation {
			/* Hide the button to open the menu */
			.wp-block-navigation__responsive-container-open:not(.always-shown) {
				display: none;
			}

			/* Show the expanded menu */
			.wp-block-navigation__responsive-container:not(.hidden-by-default):not(.is-menu-open) {
				display: block;
			}
		}
	}

	/* stylelint-enable selector-not-notation */
	/* stylelint-enable no-unknown-custom-media */
}
