/* ======================================================================
Site Footer
====================================================================== */

.site-footer {
	--site-logo-height: var(--wp--preset--spacing--xl);
	padding-block: var(--wp--preset--spacing--xl, 2em);

	nav.wp-block-navigation {
		--nav-global-gap-columns: var(--wp--preset--spacing--m);
		--nav-global-gap-rows: var(--wp--preset--spacing--3-xs);
		--nav-global-font-size: var(--wp--preset--font-size--xs);
	}
}
