/* ======================================================================
Site Footer
====================================================================== */

.site-footer {
	--site-logo-height: var(--wp--preset--spacing--xl);
	padding-block: var(--wp--preset--spacing--xl, 2em);
	font-size: var(--wp--preset--font-size--s);
}
