/* ======================================================================
GLOBAL STYLES
---
Low-specificity, global styles that apply to the whole project.
---
More info:
- https://cube.fyi/css.html
- https://piccalil.li/blog/cube-css/#css
---
Almost all custom properties used are defined in
'theme.json' and 'variables.css',
allowing us to customize globals with design tokens,
rather than writing the same styles for *every* project.
---
Selectors are grouped and sorted based on:
- https://developer.mozilla.org/en-US/docs/Web/HTML/Reference/Elements
- https://html.spec.whatwg.org/multipage/#toc-semantics
---
Table of contents:
01. Document
02. Content Sectioning
03. Grouping Content
04. Inline Text Semantics
05. Embedded Content
06. Tabular Data
07. Forms
08. Interactive Elements
09. Focus Indicators
====================================================================== */

/* ======================================================================
01. Document
====================================================================== */

/* html {} */

/* ======================================================================
02. Content Sectioning
====================================================================== */

body {
	font-family: var(--wp--preset--font-family--base, sans-serif);
	font-size: var(--font-size-base);
	font-weight: var(--font-weight-base);
	line-height: var(--font-line-height-base);
	color: var(--color-text);
	accent-color: var(--field-accent-color);
	background-color: var(--color-surface-1);
	-webkit-font-smoothing: antialiased; /* To match the font smoothing used by design tools such as Figma. */
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--wp--preset--font-family--headings);
	font-weight: var(--heading-font-weight, bold);
	font-feature-settings:
		"calt" 1,
		"ss02" 1;
	text-wrap: balance;
	overflow-wrap: anywhere; /* Prevent long unbroken words from overflowing. */
}

h1 {
	font-size: var(--h1-font-size, 2rem);
	font-weight: var(--h1-font-weight, bold);
	line-height: var(--h1-line-height, normal);
}

h2 {
	font-size: var(--h2-font-size, 1.5rem);
	font-weight: var(--h2-font-weight, bold);
	line-height: var(--h2-line-height, normal);
}

h3 {
	font-size: var(--h3-font-size, 1.17rem);
	font-weight: var(--h3-font-weight, bold);
	line-height: var(--h3-line-height, normal);
}

h4 {
	font-size: var(--h4-font-size, 1rem);
	font-weight: var(--h4-font-weight, bold);
	line-height: var(--h4-line-height, normal);
}

h5 {
	font-size: var(--h5-font-size, 0.83rem);
	font-weight: var(--h5-font-weight, bold);
	line-height: var(--h5-line-height, normal);
}

h6 {
	font-size: var(--h6-font-size, 0.67rem);
	font-weight: var(--h6-font-weight, bold);
	line-height: var(--h6-line-height, normal);
}

address {
	font-style: inherit;
}

/* ======================================================================
03. Grouping Content
====================================================================== */

/* ----------------------------------------------------------------------
Thematic Break (Horizontal Rule)
---------------------------------------------------------------------- */

hr {
	color: var(--separator-color, currentcolor);
	border-block-start-style: var(--separator-style, solid);
	border-block-start-width: var(--separator-thickness, 2px);
}

/* ----------------------------------------------------------------------
Preformatted Text
---------------------------------------------------------------------- */

pre {
	font-family: var(--wp--preset--font-family--mono, monospace);
	font-size: 0.875em;
	font-variant-ligatures: none;
}

pre:has(code) {
	padding: var(--code-block-padding, var(--gutter, 1em));
	background-color: var(--code-block-background-color, transparent);
}

/* ----------------------------------------------------------------------
Blockquote
---------------------------------------------------------------------- */

blockquote:where(:not([class])) {
	padding-block: var(--quote-padding-block, 0);
	padding-inline: var(--quote-padding-inline, 0);
	margin-inline: var(--quote-margin-inline, 0);
	overflow-wrap: break-word; /* Prevent long unbroken words from overflowing. */
	border-left-color: var(--quote-border-left-color, currentcolor);
	border-left-style: var(--quote-border-left-style, solid);
	border-left-width: var(--quote-border-left-width, 0);
}

/* ----------------------------------------------------------------------
Ordered & Unordered Lists
---------------------------------------------------------------------- */

/*
Remove default styles of lists in specific contexts where they are expected to be out of the normal flow (flow layout).
Note: Using an empty string instead of 'none' for 'list-style-type' preserves accessibility in Safari. Ref: https://www.matuzo.at/blog/2023/removing-list-styles-without-affecting-semantics
*/
:where(nav) ul,
:is(ol, ul):where([role="tablist"]) {
	padding-inline-start: 0;
	margin-block: 0;
	list-style-type: "";
}

/*
Set indentation for default lists.
This targets 'ul' elements that either have no class or have the default WordPress '.wp-block-list' class, as both use the default list styles.
*/
ul:where(:not([class]), .wp-block-list) {
	padding-inline-start: var(--ul-indentation, revert);

	> li {
		padding-inline-start: var(--ul-item-indentation);
	}
}

/*
Set a customizable vertical gap between list items.
This targets any element (*) that immediately follows a list item (li)
inside a default list, applying a consistent margin. The wildcard is
used because the next element could be another 'li', 'ol', or 'ul'.
*/
:is(ol, ul):where(:not([class]), .wp-block-list) {
	li + * {
		margin-block-start: var(--list-items-gap);
	}
}

/*
Style the list item marker (bullet or number).
*/
:is(ol, ul) ::marker {
	color: var(--list-item-marker-color);
}

/* ----------------------------------------------------------------------
Description List
---------------------------------------------------------------------- */

dt {
	font-weight: var(--font-weight-bold);
}

dd {
	margin-inline-start: 2ch;
}

dt + dd {
	margin-block-start: var(--dt-dd-margin);
}

:is(dd + dt, dl > div:has(> dt ~ dd)) + div:has(> dt ~ dd) {
	margin-block-start: var(--dl-gap);
}

/* ----------------------------------------------------------------------
Figure and Figure Caption
---------------------------------------------------------------------- */

/* WP: Override default values. */
figure {
	margin-block-start: revert;
	margin-block-end: 0;
}

figcaption {
	padding-block-start: 0.5em;
	font-size: var(--font-size-s);
}

/* ======================================================================
04. Inline Text Semantics
====================================================================== */

/* ----------------------------------------------------------------------
Link
---------------------------------------------------------------------- */

a {
	color: var(--link-text-color, revert);
	text-decoration-thickness: from-font;
	text-decoration-color: var(--link-underline-color, currentcolor);
	text-underline-position: from-font;

	@media (prefers-reduced-motion: no-preference) {
		transition-duration: var(--transition-duration, 0);
		transition-property: color, background-color, border-color, text-decoration-color;
	}

	&:hover {
		color: var(--link-text-color-hover, var(--link-text-color));
		text-decoration-color: var(--link-underline-color-hover, currentcolor);
	}
}

/* ----------------------------------------------------------------------
Sample Output
---------------------------------------------------------------------- */

samp {
	font-family: var(--wp--preset--font-family--mono, monospace);
	font-size: 0.875em;
	font-variant-ligatures: none;
}

/* ----------------------------------------------------------------------
Inline Code
---------------------------------------------------------------------- */

code {
	padding-block: var(--code-padding-block, 0);
	padding-inline: var(--code-padding-inline, 0);
	font-family: var(--wp--preset--font-family--mono, monospace);
	font-size: 0.875em;
	font-variant-ligatures: none;
	white-space: break-spaces;
	background-color: var(--code-background-color, transparent);
	border-radius: var(--code-border-radius, 0);
	box-decoration-break: clone;

	/* Undo styles for 'code' inside 'pre', letting the parent element control the overall block styling. */
	pre & {
		padding: 0;
		font-size: inherit;
		background-color: transparent;
		border: none;
		border-radius: 0;
	}
}

/* ----------------------------------------------------------------------
Keyboard Input
---------------------------------------------------------------------- */

kbd {
	display: inline-block;
	padding: 0.5em;
	font-family: ui-sans-serif, sans-serif;
	font-size: 0.75em;
	font-weight: normal;
	line-height: 1;
	text-box: trim-both cap alphabetic;
	white-space: nowrap;
	border: 1px solid;
	border-radius: 0.25rem;
	box-shadow: 0 1px currentcolor;
}

/* ----------------------------------------------------------------------
Short Inline Quotation
---------------------------------------------------------------------- */

q {
	font-style: italic;
}

/* ----------------------------------------------------------------------
Marked/Highlighted Text
---------------------------------------------------------------------- */

mark {
	color: var(--mark-text-color, MarkText);
	background-color: var(--mark-background-color, Mark);
}

/* ----------------------------------------------------------------------
Deleted and Inserted Text
---------------------------------------------------------------------- */

/* del {} */

ins {
	text-decoration-line: none;
}

/* ======================================================================
05. Embedded Content
====================================================================== */

/* ----------------------------------------------------------------------
Image
---------------------------------------------------------------------- */

:is(figure, picture) img {
	inline-size: 100%;
}

/* ----------------------------------------------------------------------
SVG
---------------------------------------------------------------------- */

/* Don't shrink 'svg' elements in flex contexts. */
svg {
	flex-shrink: 0;
}

/* Constrain SVG elements with no class, width, and height to prevent them from becoming excessively large. */
svg:not(:where([class], [width], [height])) {
	inline-size: auto;
	block-size: 1lh;
}

/*
If an 'svg' has a role of 'img', we treat it as an image of sorts.
We know there is a width and height because we also target [width][height], so we can safely allow those to take over.
*/
svg[role="img"][width][height] {
	inline-size: revert;
	block-size: revert;
}

/* ----------------------------------------------------------------------
Images and SVGs
---------------------------------------------------------------------- */

/*
1. WP: Display inline images and SVGs that are inserted inside some text elements.
2. WP: Constrain SVGs that are inserted inside some text elements to prevent them from becoming excessively large.
*/
:is(h1, h2, h3, h4, h5, h6, p) {
	/* 1 */
	:is(img, svg) {
		display: inline;
	}

	/* 2 */
	svg {
		inline-size: auto;
		block-size: 1em;
	}
}

/* ======================================================================
06. Tabular Data
====================================================================== */

table {
	inline-size: 100%;
}

caption {
	margin-block-start: var(--flow-space);
	caption-side: bottom;
}

thead {
	font-weight: var(--table-head-font-weight, inherit);
	background-color: var(--table-head-background-color, transparent);
	border-block-end: var(--table-head-border, 3px) solid;
}

tfoot {
	font-weight: var(--table-foot-font-weight, inherit);
	background-color: var(--table-foot-background-color, transparent);
	border-block-start: var(--table-foot-border, 3px) solid;
}

td,
th {
	padding-block: var(--table-cell-padding-block, 0.5em);
	padding-inline: var(--table-cell-padding-inline, 0.5rem);
	overflow-wrap: anywhere; /* Prevent long unbroken words from overflowing. */
	border-width: var(--table-border, 1px);
}

th {
	font-weight: var(--table-cell-header-font-weight, inherit);
}

/* ======================================================================
07. Forms
====================================================================== */

/* ----------------------------------------------------------------------
Fieldset and Legend
---------------------------------------------------------------------- */

/* Reset default styles */
fieldset {
	min-inline-size: auto;
	padding-block: 0;
	padding-inline: 0;
	border: 0;
}

legend {
	padding-inline: 0;
	font-size: var(--legend-font-size);
	font-weight: var(--legend-font-weight);
	line-height: var(--line-height-slim);
}

/* ----------------------------------------------------------------------
Form Controls
---------------------------------------------------------------------- */

/* Base styles
---------------------------------------------------------------------- */

button,
input,
select,
textarea {
	min-inline-size: 24px;
	min-block-size: 24px;

	@media (prefers-reduced-motion: no-preference) {
		transition-duration: var(--transition-duration, 0);
		transition-property: color, background-color, border-color;
	}
}

button,
input:not(:where([type="checkbox"], [type="color"], [type="image"], [type="radio"])),
select,
textarea {
	padding-block: var(--field-padding-block, revert);
	padding-inline: var(--field-padding-inline, revert);
	font-size: max(16px, var(--field-font-size, inherit)); /* See https://css-tricks.com/16px-or-larger-text-prevents-ios-form-zoom/ */
	font-weight: var(--field-font-weight, inherit);
	line-height: var(--line-height-slim);
	color: var(--field-text-color, currentcolor);
	background-color: var(--field-background-color);
	border-color: var(--field-border-color);
	border-style: var(--field-border-style, solid);
	border-width: var(--field-border-width);
	border-radius: var(--field-border-radius);
}

input:not(:where([type="button"], [type="checkbox"], [type="color"], [type="image"], [type="radio"], [type="reset"], [type="submit"])),
select,
textarea {
	inline-size: 100%;
	min-inline-size: max(24px, 17ch);
	field-sizing: content;
}

select {
	min-inline-size: max(24px, 5ch);
}

textarea {
	display: block;
	min-block-size: 7.5em;
	min-block-size: 5lh;
	max-block-size: 75svb;
	resize: both;
}

[type="checkbox"] {
	inline-size: var(--field-checkbox-size, auto);
	block-size: var(--field-checkbox-size, auto);
}

[type="radio"] {
	inline-size: var(--field-radio-size, auto);
	block-size: var(--field-radio-size, auto);
}

/* ----------------------------------------------------------------------
Label
---------------------------------------------------------------------- */

label {
	font-weight: var(--label-font-weight);
	line-height: var(--line-height-slim);

	/* Force a line break after the label while allowing it to remain an inline element. This provides a more robust and [defensive CSS](defensivecss.dev) */
	&:has(+ input)::after {
		white-space: pre;
		content: "\A";
	}
}

:is(input:not([type="checkbox"], [type="hidden"], [type="radio"]), select, textarea) {
	label:has(+ &),
	label:has(+ * > &) {
		font-size: var(--label-font-size, inherit);
		font-weight: var(--label-font-weight, inherit);
		line-height: var(--label-line-height, inherit);
	}
}

/* Usually label wraps checkbox and radio buttons, so we give more layout and text-flow control with flex. */
label:has(> :is([type="checkbox"], [type="radio"])),
*:has(> label:only-of-type):has(> :is([type="checkbox"], [type="radio"])) {
	--flow-space: 1rem;
	--label-font-weight: var(--font-weight-base);
	display: flex;
	gap: var(--form-label-input-check-radio-gap, 1ch);
	align-items: start;
	inline-size: fit-content;

	& + & {
		margin-block-start: var(--flow-space, 1rem);
	}
}

/* Form Controls: Disabled */

input:disabled,
label:has(input:disabled) {
	cursor: not-allowed;
}

/* ======================================================================
08. Interactive Elements
====================================================================== */

/* ----------------------------------------------------------------------
Details & Summary
---
Resources:
- https://developer.mozilla.org/en-US/docs/Web/HTML/Element/summary#changing_the_summarys_icon
- https://www.scottohara.me/blog/2022/09/12/details-summary.html
- https://nerdy.dev/notebook/accordion.html
- https://developer.chrome.com/blog/styling-details
---------------------------------------------------------------------- */

details {
	padding-block-start: var(--details-padding-top, 0);
	padding-block-end: var(--details-padding-bottom, 0);
	padding-inline-start: var(--details-padding-left, 0);
	padding-inline-end: var(--details-padding-right, 0);
	background-color: var(--details-background-color, transparent);
	border-color: var(--details-border-color, currentcolor);
	border-style: var(--details-border-style, solid);
	border-width: var(--details-border-width, 0);
	border-radius: var(--details-border-radius, 0);

	> summary {
		font-family: var(--details-summary-font-family, inherit);
		font-size: var(--details-summary-font-size, inherit);
		font-weight: var(--details-summary-font-weight, inherit);
		line-height: var(--details-summary-line-height, inherit);
		color: var(--details-summary-text-color, currentcolor);
		letter-spacing: var(--details-summary-letter-spacing, normal);
		cursor: var(--details-summary-cursor, default);
	}

	&:has(> summary:hover) {
		background-color: var(--details-background-color-hover, var(--details-background-color, transparent));
	}

	/*
	Content.
	TODO: Replace these selectors with '::details-content' when it has better support (https://caniuse.com/?search=details-content).
	*/

	> summary ~ * {
		font-size: var(--details-content-font-size, inherit);
	}

	> summary + * {
		padding-block-start: var(--details-content-padding-top, 0);
		padding-block-end: var(--details-content-padding-bottom, 0);
		margin-block: 0 !important; /* If there is some margin, the open/close transition is a bit clumsy */
	}

	/* Transitions */

	@media (prefers-reduced-motion: no-preference) {
		transition-duration: var(--transition-duration, 0);
		transition-property: color, background-color, border-color;
		interpolate-size: allow-keywords;
	}

	/* Open & Close Transitions */

	@media (prefers-reduced-motion: no-preference) {
		interpolate-size: allow-keywords;
	}

	/* Don't add margin/padding to this, add it to the actual stuff inside the details content. */
	&::details-content {
		block-size: 0;
		overflow-y: clip;
		opacity: 0;

		@media (prefers-reduced-motion: no-preference) {
			transition:
				content-visibility var(--transition-duration, 0),
				opacity var(--transition-duration, 0),
				block-size var(--transition-duration, 0);
			transition-behavior: allow-discrete;
		}
	}

	&[open]::details-content {
		block-size: auto;
		opacity: 1;
	}
}

/* ----------------------------------------------------------------------
Dialog
---------------------------------------------------------------------- */

/* dialog {} */

/* ======================================================================
09. Focus Indicators
====================================================================== */

/* TODO: Test this carefully */
/*
Refs.:
- https://medienbaecker.com/articles/focus-outlines
- https://www.sarasoueidan.com/blog/focus-indicators/
- https://piccalil.li/blog/taking-a-shot-at-the-double-focus-ring-problem-using-modern-css/
---------------------------------------------------------------------- */

/* Remove default focus styles */
:focus {
	outline: none;
}

/* Add custom focus styles */
:focus-visible {
	outline-width: var(--focus-width, 2px);
	outline-style: var(--focus-style, solid);
	outline-color: var(--focus-color, currentcolor);
	outline-offset: var(--focus-offset, 0.15lh);
}
