/* ======================================================================
ALL GLOBAL CSS CUSTOM PROPERTIES
---
This file is organized into 2 main categories:
1. Primitive Tokens: The foundational, raw, context-agnostic values.
2. Semantic Tokens: Give theme-wide meaning and context to the primitives.
====================================================================== */

/* ======================================================================
1. Primitive Tokens
====================================================================== */

:root {
	/* Font Weight */
	--font-weight-regular: 400;
	--font-weight-medium: 500;
	--font-weight-bold: 700;
	--font-weight-black: 800;

	/* Line Height */
	--line-height-slim: 1.2;
	--line-height-loose: 1.7;

	/* Letter Spacing */
	--letter-spacing-uppercase: 0.05ch;

	/* Border */
	--border-width-thin: 1px;
	--border-width-medium: 2px;
	--border-width-thick: 4px;

	/* Border Radius */
	--border-radius-2xs: 0.125rem;
	--border-radius-xs: 0.25rem;
	--border-radius-s: 0.5rem;
	--border-radius-m: 0.75rem;
	--border-radius-l: 1rem;
	--border-radius-xl: 1.5rem;
	--border-radius-2xl: 2rem;
	--border-radius-3xl: 3rem;
	--border-radius-round: 9999rem;

	/* Transition */
	--transition-duration: 0.15s;
}

/* ======================================================================
2. Semantic Tokens
====================================================================== */

/* stylelint-disable-next-line no-duplicate-selectors -- Intended. */
:root {
	/* Base */
	--font-line-height-base: var(--wp--custom--line-height--loose);
	--font-size-base: var(--wp--preset--font-size--m);
	--font-size-lede: var(--wp--preset--font-size--l);
	--font-size-meta: var(--wp--preset--font-size--s);
	--font-weight-base: var(--wp--custom--font-weight--regular);

	/* Spacing */
	--flow-space: var(--wp--custom--block-gap);
	--gutter: var(--wp--custom--global-gutter);
	--region-space-start: var(--wp--preset--spacing--xl-2-xl);
	--region-space-end: var(--wp--preset--spacing--xl-2-xl);

	/* Layout */
	--measure-content: var(--wp--style--global--content-size);
	--measure-wide: var(--wp--style--global--wide-size);

	/* Button */
	--button-color-bg-hover: var(--wp--preset--color--primary);
	--button-color-bg: var(--wp--preset--color--primary);
	--button-border-color-hover: var(--button-color-bg);
	--button-border-color: var(--button-color-bg);
	--button-border-radius: var(--wp--custom--border-radius--s);
	--button-border-width: var(--wp--custom--border-width--thin);
	--button-text-color-hover: var(--wp--preset--color--surface-1);
	--button-text-color: var(--wp--preset--color--surface-1);
	--button-focus-color: var(--wp--preset--color--primary);
	--button-font-size: var(--wp--preset--font-size--s);
	--button-font-weight: var(--wp--custom--font-weight--medium);
	--button-line-height: var(--wp--custom--line-height--slim);
	--button-letter-spacing: var(--wp--custom--letter-spacing--uppercase);
	--button-padding-block: 1em;
	--button-padding-inline: 1.25em;
	--button-text-box: trim-both cap alphabetic;
	--button-text-transform: uppercase;

	/* Card */
	--card-border-color: var(--wp--preset--color--surface-4);
	--card-border-radius: var(--wp--custom--border-radius--s);
	--card-border-width: var(--wp--custom--border-width--thin);

	/* Code (inline) */
	--code-border-radius: 0.1875rem;
	--code-color-bg: color-mix(in srgb, currentcolor, transparent 95%);
	--code-padding-block: 0.125em;
	--code-padding-inline: 0.25em;

	/* Code (block) */
	--code-block-color-bg: var(--wp--preset--color--surface-2);

	/* Focus Indicator */
	--focus-ring-color: currentcolor;
	--focus-ring-offset: 0.25lh;
	--focus-ring-style: solid;
	--focus-ring-width: 2px;

	/* Form */
	--form-fields-gap-rows: var(--gutter);

	/* Form Field */
	--field-accent-color: var(--wp--preset--color--primary);
	--field-border-width: var(--wp--custom--border-width--thin);
	--field-error-text-color: var(--color-error, crimson);
	--field-padding-block: 0.25em;
	--field-padding-inline: 0.5rem;

	/* Headings */
	--heading-font-weight: var(--wp--custom--font-weight--black);
	--h1-font-size: var(--wp--preset--font-size--xxxxl);
	--h1-font-weight: var(--wp--custom--font-weight--black);
	--h1-line-height: normal;
	--h2-font-size: var(--wp--preset--font-size--xxxl);
	--h2-font-weight: var(--wp--custom--font-weight--black);
	--h2-line-height: normal;
	--h3-font-size: var(--wp--preset--font-size--xxl);
	--h3-font-weight: var(--wp--custom--font-weight--black);
	--h3-line-height: normal;
	--h4-font-size: var(--wp--preset--font-size--xl);
	--h4-font-weight: var(--wp--custom--font-weight--black);
	--h4-line-height: normal;
	--h5-font-size: var(--wp--preset--font-size--l);
	--h5-font-weight: var(--wp--custom--font-weight--black);
	--h5-line-height: normal;
	--h6-font-size: var(--wp--preset--font-size--m);
	--h6-font-weight: var(--wp--custom--font-weight--black);
	--h6-line-height: normal;

	/* Image */
	--image-border-radius: var(--wp--custom--border-radius--l);

	/* Label */
	--label-font-weight: var(--wp--custom--font-weight--bold);
	--label-line-height: var(--wp--custom--line-height--slim);

	/* Legend */
	--legend-font-weight: var(--wp--custom--font-weight--bold);
	--legend-line-height: var(--wp--custom--line-height--slim);

	/* Link */
	--link-text-color: var(--wp--preset--color--primary);
	--link-text-color-hover: currentcolor;

	/* List */
	--dl-gap: 0.5em;
	--ul-item-indentation: 0.5ch;

	/* Nav */
	--nav-global-line-height: var(--wp--custom--line-height--slim);

	/* Post Date */
	--post-date-font-size: var(--wp--preset--font-size--s);

	/* Query Pagination */
	--query-pag-numbers-gap-rows: 1ch;
	--query-pag-numbers-gap-columns: 1ch;

	/* Quote */
	--quote-border-left-width: var(--wp--custom--border-width--thick);
	--quote-border-left-color: var(--wp--preset--color--primary);
	--quote-padding-inline: 2ch;

	/* Separator */
	--separator-color: var(--wp--preset--color--surface-4);
	--separator-thickness: var(--wp--custom--border-width--medium);

	/* Site Header */
	--site-header-padding-top: var(--wp--preset--spacing--s);
	--site-header-padding-bottom: var(--wp--preset--spacing--s);

	/* Table */
	--table-cell-header-weight: var(--wp--custom--font-weight--bold);
	--table-foot-font-weight: var(--wp--custom--font-weight--bold);
	--table-head-head-weight: var(--wp--custom--font-weight--bold);
}
