/* =======================================================================================
Media Text
---
Source:
- https://github.com/WordPress/gutenberg/tree/trunk/packages/block-library/src/media-text
- https://github.com/WordPress/WordPress/tree/master/wp-includes/blocks/media-text
---
Notes:
- Use CSS custom properties to customize most of this block and its parts.
======================================================================================= */

/* ======================================================================
Configuration
====================================================================== */

/* ----------------------------------------------------------------------
Default
---------------------------------------------------------------------- */

/* By default, media is on the left. */

.wp-block-media-text {
	--media-text-content-size: 0.75fr;
	--media-text-media-size: 1fr;
	--media-text-stacked-content-row: 2; /* default value */
	--media-text-stacked-media-row: 1; /* default value */
}

/* ----------------------------------------------------------------------
Custom Style: Text before when stacked on mobile
---------------------------------------------------------------------- */

.wp-block-media-text.is-style-stacked-on-mobile-text-before {
	--media-text-stacked-content-row: 1;
	--media-text-stacked-media-row: 2;
}

/* ======================================================================
Styles — ⚠️ Don't modify unless you're sure
====================================================================== */

/* By default, media is on the left. */

/* ----------------------------------------------------------------------
Block
---------------------------------------------------------------------- */

/* stylelint-disable-next-line no-duplicate-selectors -- Intended */
.wp-block-media-text {
	grid-template-columns: var(--media-text-media-size, 50%) var(--media-text-content-size, 1fr);
	row-gap: var(--wp--preset--spacing--s, var(--wp--style--block-gap, 1rem));
	column-gap: var(--wp--preset--spacing--s, var(--wp--style--block-gap, 1rem));
}

/* Media on the right */

.wp-block-media-text.has-media-on-the-right {
	grid-template-columns: var(--media-text-content-size, 1fr) var(--media-text-media-size, 50%);
}

/*
Change the breakpoint (viewport width) at which the media-text block is stacked.
The following approach only works if the new breakpoint is higher than the default one, which is 'max-width: 600px'.
*/

@media (max-width: 991px) {
	/* Keeps the 1-column layout from the default 600px until the new higher breakpoint */

	.wp-block-media-text.is-stacked-on-mobile {
		grid-template-columns: 100% !important;
	}

	.wp-block-media-text.is-stacked-on-mobile > :is(.wp-block-media-text__content, .wp-block-media-text__media) {
		grid-column: 1;
	}

	/* Changes the order of media and content elements when stacked (by default, media is above and text below) */

	.wp-block-media-text.is-stacked-on-mobile > .wp-block-media-text__media {
		grid-row: var(--media-text-stacked-media-row, 1);
	}

	.wp-block-media-text.is-stacked-on-mobile > .wp-block-media-text__content {
		grid-row: var(--media-text-stacked-content-row, 2);
	}
}

/* ----------------------------------------------------------------------
Part: Content
---------------------------------------------------------------------- */

/* Removes default padding from Content */

.wp-block-media-text > .wp-block-media-text__content {
	padding: 0;
}

/* ----------------------------------------------------------------------
Part: Media
---------------------------------------------------------------------- */

/* Makes media display block and expand in the inline direction */

.wp-block-media-text > .wp-block-media-text__media > :is(img, svg) {
	display: block;
	inline-size: 100%;
}
