/* =======================================================================================
Social Links
---
Source:
- https://github.com/WordPress/gutenberg/tree/trunk/packages/block-library/src/social-links
- https://github.com/WordPress/WordPress/tree/master/wp-includes/blocks/social-links
---
Notes:
- Use CSS custom properties to customize most of this block and its parts.
======================================================================================= */

/* ======================================================================
Social Links
====================================================================== */

/* Custom properties
---------------------------------------------------------------------- */

.wp-block-social-links {
	/*
	Icon Sizes
	*/
	--social-link-icon-size-small: 1.25rem;
	--social-link-icon-size-normal: 1.75rem;
	--social-link-icon-size-large: 2.5rem;
	--social-link-icon-size-huge: 3.25rem;

	/*
	Animations
	*/
	--social-link-hover-transform: none;
	--social-link-transition-duration: 0s;
	--social-link-transition-properties: all;

	/*
	Logos with background
	*/

	--social-link-not-logo-only-color-bg-hover: hsl(from var(--wp--preset--color--background-2, transparent) h s l / 50%);
	--social-link-not-logo-only-color-bg: hsl(from var(--wp--preset--color--background-2, transparent) h s l / 20%);
	--social-link-not-logo-only-color-hover: var(--wp--preset--color--foreground-1, inherit);
	--social-link-not-logo-only-color: var(--wp--preset--color--foreground-1, inherit);
}

/* Icon Sizes
---------------------------------------------------------------------- */

/* Replaces default icon sizes in 'px' with 'rem' to adapt to users' font size preferences */

.wp-block-social-links.has-small-icon-size {
	font-size: var(--social-link-icon-size-small, 1rem); /* default is 16px */
}

.wp-block-social-links,
.wp-block-social-links.has-normal-icon-size {
	font-size: var(--social-link-icon-size-normal, 1.5rem); /* default is 24px */
}

.wp-block-social-links.has-large-icon-size {
	font-size: var(--social-link-icon-size-large, 2.25rem); /* default is 36px */
}

.wp-block-social-links.has-huge-icon-size {
	font-size: var(--social-link-icon-size-huge, 3rem); /* default is 48px */
}

/* ======================================================================
Social Link
====================================================================== */

/* Transitions
---------------------------------------------------------------------- */

.wp-block-social-link {
	transition-duration: var(--social-link-transition-duration, 0);
	transition-property: var(--social-link-transition-properties, initial);
}

.wp-block-social-link:hover {
	transform: var(--social-link-hover-transform, none);
}

/* Icon colors
---------------------------------------------------------------------- */

/* Logos with background */

/* .wp-block-social-links:not(.is-style-logos-only) .wp-block-social-link {
	color: var(--social-link-not-logo-only-color, inherit);
	background-color: var(--social-link-not-logo-only-color-bg, transparent);
} */

/* Icon colors on hover
---------------------------------------------------------------------- */

/* Logos with background */

/* .wp-block-social-links:not(.is-style-logos-only) .wp-block-social-link:hover {
	color: var(--social-link-not-logo-only-color-hover, inherit);
	background-color: var(--social-link-not-logo-only-color-bg-hover, transparent);
} */
