/* =======================================================================================
List
---
Source:
- https://github.com/WordPress/gutenberg/tree/trunk/packages/block-library/src/list
- https://github.com/WordPress/WordPress/tree/master/wp-includes/blocks/list
---
Notes:
- Use CSS custom properties to customize most of this block and its parts.
---
Resources:
- https://css-tricks.com/everything-you-need-to-know-about-the-gap-after-the-list-marker/
- https://web.dev/articles/css-marker-pseudo-element
- https://web.dev/articles/creative-list-styling
====================================================================== */

/* ======================================================================
Configuration
====================================================================== */

/* Style: Default
---------------------------------------------------------------------- */

.wp-block-list {
	/* List */
	--list-gap: 0.5em;
	--list-indentation: 1.75ch;
	--list-unordered-style-type: disc;

	/* List Item */
	--list-item-indentation: 0.5ch;
	--list-item-marker-color: currentcolor;
}

/* Style: "checkmark"
---------------------------------------------------------------------- */

ul.wp-block-list.is-style-checkmark {
	/* List */
	--list-indentation: 0;
	--list-unordered-style-type: none;

	/* List Item */
	--list-gap: 0.375em;
	--list-item-indentation: 0;
	--list-item-custom-marker-image: url("../../images/icon-check.svg");
	--list-item-custom-marker-margin: 1ch;
	--list-item-custom-marker-size: 1.5em;
}

/* ======================================================================
List
====================================================================== */

/* All lists */

/* stylelint-disable-next-line no-duplicate-selectors -- Intended */
.wp-block-list {
	padding-inline-start: var(--list-indentation, revert);
}

/* Unordered Lists */

ul.wp-block-list {
	list-style-type: var(--list-unordered-style-type, revert);
}

/* Nested Lists */

li > .wp-block-list {
	margin-block-start: var(--list-gap, revert);
}

ul.wp-block-list.is-style-checkmark > li > .wp-block-list {
	margin-inline-start: calc(var(--list-item-custom-marker-size, 1em) + var(--list-item-custom-marker-margin, 1ch));
}

/* ======================================================================
List Items
====================================================================== */

.wp-block-list > li {
	padding-inline-start: var(--list-item-indentation, revert);
}

.wp-block-list > li + li {
	margin-block-start: var(--list-gap, revert);
}

.wp-block-list > li::marker {
	color: var(--list-item-marker-color, revert);
}

ul.wp-block-list.is-style-checkmark > li::before {
	display: inline-block;
	inline-size: var(--list-item-custom-marker-size, 1em);
	block-size: var(--list-item-custom-marker-size, 1em);
	margin-inline-end: var(--list-item-custom-marker-margin, 1ch);
	vertical-align: middle;
	content: "";
	background-color: var(--list-item-marker-color, currentcolor);
	-webkit-mask-image: var(--list-item-custom-marker-image, none);
	mask-image: var(--list-item-custom-marker-image, none);
	-webkit-mask-position: center;
	mask-position: center;
	-webkit-mask-size: contain;
	mask-size: contain;
}

ul.wp-block-list.is-style-checkmark > li:not(:has(> *)),
ul.wp-block-list.is-style-checkmark > li:has(> :is(div, ol, ul):only-child) {
	display: grid;
	grid-template-columns: auto 1fr;
	column-gap: var(--list-item-custom-marker-margin, 1ch);
	align-items: center;
}

ul.wp-block-list.is-style-checkmark > li:not(:has(> *))::before,
ul.wp-block-list.is-style-checkmark > li:has(> :is(div, ol, ul):only-child)::before {
	margin-inline-end: 0;
}

ul.wp-block-list.is-style-checkmark > li > :is(div, ol, ul):only-child {
	grid-column-start: 2;
	margin-inline-start: 0;
}
