/* =======================================================================================
Navigation
---
Source:
- https://github.com/WordPress/gutenberg/tree/trunk/packages/block-library/src/navigation
- https://github.com/WordPress/WordPress/tree/master/wp-includes/blocks/navigation
---
Notes:
- Use CSS custom properties to customize most of this block and its parts.
======================================================================================= */

/* stylelint-disable selector-not-notation -- To keep the same specificity of default WP selectors. */

/**
 * Navigation block
 */

/* Increase the default size (24px) of open and close icons. */
.wp-block-navigation {
	--navigation-icon-size: 32px;
}

/**
 * Increase the viewport width at which navigation switches between expanded and collapsed.
 */

/* Override styles at default breakpoint */
@media (min-width: 600px) {
	/* Keep showing menu button */
	.wp-block-navigation__responsive-container-open:not(.always-shown) {
		display: flex;
	}

	/* Keep hiding expanded menu */
	.wp-block-navigation__responsive-container:not(.hidden-by-default):not(.is-menu-open) {
		display: none;
	}
}

/* Add styles at custom breakpoint */
@media (min-width: 782px) {
	/* Hide menu button */
	.wp-block-navigation__responsive-container-open:not(.always-shown) {
		display: none;
	}

	/* Show expanded menu */
	.wp-block-navigation__responsive-container:not(.hidden-by-default):not(.is-menu-open) {
		display: block;
	}
}

/**
 * Menu Links (Header)
 */

header.wp-block-template-part .wp-block-navigation .wp-block-navigation-item__content:is(:hover, :focus, [aria-current="page"]) {
	text-decoration-line: underline;
	text-decoration-thickness: 0.1em;
	text-underline-offset: 0.15em;
}

/**
 * Menu Links (Footer)
 */

footer.wp-block-template-part .wp-block-navigation .wp-block-navigation-item__content:is(:hover, :focus) {
	text-decoration-line: revert;
}

/**
 * Menu Buttons
 */

/* Increase the default icon size (24px) & avoid shrinking */
.wp-block-navigation__responsive-container-close svg,
.wp-block-navigation__responsive-container-open svg {
	flex-shrink: 0;
	width: var(--navigation-icon-size, 44px);
	height: var(--navigation-icon-size, 44px);
}

/* Style menu buttons on hover & focus */
.wp-block-navigation__responsive-container-close:is(:hover, :focus),
.wp-block-navigation__responsive-container-open:is(:hover, :focus) {
	color: var(--wp--preset--color--accent);
}

/**
 * Overlay Menu
 */

.wp-block-navigation__responsive-container.is-menu-open {
	padding-block: var(--site-logo-height, calc(var(--wp--preset--spacing--m-l) + 0.5em));
	padding-inline: calc(var(--wp--style--root--padding-right, 2rem) + 1rem);
}

.wp-block-navigation__responsive-container.is-menu-open .wp-block-navigation__responsive-container-content {
	align-items: flex-end;
	padding-top: calc(var(--navigation-icon-size, 44px) * 2);
}

.wp-block-navigation__responsive-container.is-menu-open .wp-block-navigation__responsive-container-content .wp-block-navigation-item,
.wp-block-navigation__responsive-container.is-menu-open .wp-block-navigation__responsive-container-content .wp-block-navigation__container,
.wp-block-navigation__responsive-container.is-menu-open .wp-block-navigation__responsive-container-content .wp-block-page-list {
	row-gap: 2em;
	align-items: flex-end;
	text-align: end;
}
