/* =======================================================================================
Button
---
Source:
- https://github.com/WordPress/gutenberg/tree/trunk/packages/block-library/src/button
- https://github.com/WordPress/WordPress/tree/master/wp-includes/blocks/button
---
Notes:
- Use CSS custom properties to customize most of this block and its parts.
---
Resources:
- https://piccalil.li/blog/how-i-build-a-button-component/
======================================================================================= */

/* ----------------------------------------------------------------------
Configuration
---------------------------------------------------------------------- */

.wp-element-button,
.wp-block-button__link {
	--button-border-color-on-hover: var(--button-color-background-on-hover, currentcolor);
	--button-border-color: var(--button-color-background, currentcolor);
	--button-border-radius: var(--wp--custom--border--radius--medium, 0);
	--button-border-width: var(--wp--custom--border--width--medium, 2px);
	--button-color-background-on-hover: color-mix(in srgb, var(--button-color-background, black), transparent 10%);
	--button-color-background: var(--wp--preset--color--foreground-1, inherit);
	--button-color-text-on-hover: var(--wp--preset--color--background-1, inherit);
	--button-color-text: var(--wp--preset--color--background-1, inherit);
	--button-gap: 0.5em;
	--button-icon-size: 1.25em;
	--button-padding-block: 0.75em;
	--button-padding-inline: 1.5em;
	--button-transition-duration: var(--wp--custom--transition--duration, 0);
	--button-transition-properties: color, background-color, border-color;
}

/* Style: Outline */
.wp-block-button.is-style-outline > .wp-block-button__link {
	--button-border-color-on-hover: var(--button-color-text-on-hover, currentcolor);
	--button-border-color: var(--button-color-foreground-1, currentcolor);
	--button-color-background-on-hover: var(--wp--preset--color--background-3, transparent);
	--button-color-background: var(--wp--preset--color--background-1, transparent);
	--button-color-text-on-hover: var(--button-color-text, inherit);
	--button-color-text: var(--wp--preset--color--foreground-1, inherit);
}

/* Style: Primary */
.wp-block-button.is-style-primary > .wp-block-button__link {
	--button-border-color-on-hover: var(--button-color-background-on-hover, currentcolor);
	--button-border-color: var(--button-color-background, currentcolor);
	--button-color-background-on-hover: var(--wp--preset--color--brand-1-darker, transparent);
	--button-color-background: var(--wp--preset--color--brand-1-medium, transparent);
	--button-color-text-on-hover: var(--wp--preset--color--background-2, inherit);
	--button-color-text: var(--wp--preset--color--background-1, inherit);
}

/* Style: Danger */
.wp-block-button.is-style-danger > .wp-block-button__link {
	--button-border-color-on-hover: var(--button-color-background-on-hover, currentcolor);
	--button-border-color: var(--button-color-background, currentcolor);
	--button-color-background-on-hover: var(--wp--preset--color--danger-darker, transparent);
	--button-color-background: var(--wp--preset--color--danger-medium, transparent);
	--button-color-text-on-hover: var(--wp--preset--color--background-2, inherit);
	--button-color-text: var(--wp--preset--color--background-1, inherit);
}

/* ----------------------------------------------------------------------
Styles — ⚠️ Don't modify unless you're sure
---------------------------------------------------------------------- */

/* Button */

/* stylelint-disable-next-line no-duplicate-selectors -- Intended */
.wp-element-button,
.wp-block-button__link {
	align-content: center;
	min-inline-size: 48px;
	min-block-size: 48px;
	padding-block: var(--button-padding-block, 0.75em);
	padding-inline-start: var(--button-padding-inline, 1.5em);
	padding-inline-end: var(--button-padding-inline, 1.5em);
	color: var(--button-color-text, inherit);
	background-color: var(--button-color-background, transparent);
	border-color: var(--button-border-color, currentcolor);
	border-width: var(--button-border-width, 0);
	border-radius: var(--button-border-radius, 0);
	transition-duration: var(--button-transition-duration, 0);
	transition-property: var(--button-transition-properties, initial);
}

/* Button has Icon */

:is(.wp-element-button, .wp-block-button__link):has(> :is(img, svg)) {
	display: inline-flex;
	flex-wrap: nowrap;
	gap: var(--button-gap, 0.75em);
	align-items: center;
	justify-content: center;
}

/* Icon */

:is(.wp-element-button, .wp-block-button__link) > :is(img, svg) {
	flex: none;
	inline-size: auto;
	block-size: var(--button-icon-size, 1.25em);
}

/* Pseudo States */

:is(.wp-element-button, .wp-block-button__link):is(:hover, :focus-visible) {
	color: var(--button-color-text-on-hover, inherit);
	background-color: var(--button-color-background-on-hover, transparent);
	border-color: var(--button-border-color-on-hover, transparent);
}

.wp-block-button.is-style-outline .wp-block-button__link:not(.has-background):is(:hover, :focus-visible) {
	background-color: var(--button-color-background-on-hover, transparent);
}
