/* =======================================================================================
Columns
---
Source:
- https://github.com/WordPress/gutenberg/tree/trunk/packages/block-library/src/columns
- https://github.com/WordPress/WordPress/tree/master/wp-includes/blocks/columns
---
Notes:
- Use CSS custom properties to customize most of this block and its parts.
======================================================================================= */

/* ----------------------------------------------------------------------
Block
---------------------------------------------------------------------- */

.wp-block-columns {
	--columns-flex-wrap-when-stacked-on-mobile: wrap; /* default */
}

/* ----------------------------------------------------------------------
Change the default breakpoint (viewport width) at which Columns collapse.
The following approach only works if the new breakpoint is higher than the default one, which is 781–782px.
Default: 781 - 782 (px)
New:     991 - 992 (px)
---------------------------------------------------------------------- */

@media (max-width: 991px) {
	.wp-block-columns {
		flex-wrap: var(--columns-flex-wrap-when-stacked-on-mobile, wrap) !important;
	}

	.wp-block-columns:not(.is-not-stacked-on-mobile) > .wp-block-column {
		flex-grow: revert;
		flex-basis: 100% !important;
	}

	.wp-block-columns:not(.is-not-stacked-on-mobile) > .wp-block-column[style*="flex-basis"] {
		flex-grow: revert;
	}
}

@media (min-width: 992px) {
	.wp-block-columns {
		flex-wrap: nowrap !important;
	}

	.wp-block-columns:not(.is-not-stacked-on-mobile) > .wp-block-column {
		flex-grow: 1;
		flex-basis: 0;
	}

	.wp-block-columns:not(.is-not-stacked-on-mobile) > .wp-block-column[style*="flex-basis"] {
		flex-grow: 0;
	}
}
