/* =======================================================================================
Table
---
Source:
- https://github.com/WordPress/gutenberg/tree/trunk/packages/block-library/src/table
- https://github.com/WordPress/WordPress/tree/master/wp-includes/blocks/table
---
Notes:
- Use CSS custom properties to customize most of this block and its parts.
======================================================================================= */

.wp-block-table thead {
	border-color: var(--wp--preset--color--border-2, currentcolor);
	border-block-end-width: var(--wp--custom--border--width--medium, 2px);
}

.wp-block-table tfoot {
	border-color: var(--wp--preset--color--border-2, currentcolor);
	border-block-start-width: var(--wp--custom--border--width--medium, 2px);
}

.wp-block-table :is(td, th) {
	padding-block: 0.5em;
	padding-inline: 0.5rem;
	border-color: var(--wp--preset--color--border-2, currentcolor);
	border-width: var(--wp--custom--border--width--thin, 1px);
}

.wp-block-table.is-style-stripes {
	border-bottom: revert;
}

.wp-block-table.is-style-stripes tbody tr:nth-child(odd) {
	background-color: var(--wp--preset--color--background-2, inherit);
}

.wp-block-table.is-style-stripes :is(td, th) {
	border-color: var(--wp--preset--color--border-2, currentcolor);
}
