/* =======================================================================================
Query Pagination Numbers
---
Source:
- https://github.com/WordPress/gutenberg/tree/trunk/packages/block-library/src/query-pagination-numbers
- https://github.com/WordPress/WordPress/tree/master/wp-includes/blocks/query-pagination-numbers
---
Notes:
- Use CSS custom properties to customize most of this block and its parts.
======================================================================================= */

/* ----------------------------------------------------------------------
Query Pagination Numbers
---------------------------------------------------------------------- */

.wp-block-query-pagination-numbers {
	/* Numbers Container */
	--query-pag-numbers-align-cross-axis: center;
	--query-pag-numbers-align-main-axis: center;
	--query-pag-numbers-flex-wrap: wrap;
	--query-pag-numbers-gap: var(--wp--preset--spacing--xxs-xs);

	/* Any Number */
	--query-pag-number-border-color-hover: var(--query-pag-number-color-background-hover);
	--query-pag-number-border-color: currentcolor;
	--query-pag-number-border-radius: var(--wp--custom--border-radius--min);
	--query-pag-number-border-style: solid;
	--query-pag-number-border-width: var(--wp--custom--border--width--thin);
	--query-pag-number-color-background-hover: var(--wp--preset--color--foreground-1, transparent);
	--query-pag-number-color-background: transparent;
	--query-pag-number-color-text-hover: var(--wp--preset--color--background-1, inherit);
	--query-pag-number-color-text: inherit;
	--query-pag-number-min-size: var(--wp--custom--size--min);
	--query-pag-number-padding-block: 0.5em;
	--query-pag-number-padding-inline: 0.5em;

	/* Current Number */
	--query-pag-number-current-border-color: var(--query-pag-number-current-color-background);
	--query-pag-number-current-color-background: var(--wp--preset--color--foreground-1, transparent);
	--query-pag-number-current-color-text: var(--wp--preset--color--background-1, inherit);

	/* Dots */
	--query-pag-number-dots-border-width: 0;
	--query-pag-number-dots-border-color: transparent;
	--query-pag-number-dots-min-size: auto;
	--query-pag-number-dots-padding-block: 0;
	--query-pag-number-dots-padding-inline: 0;
	display: flex;
	flex-wrap: var(--query-pag-numbers-flex-wrap, wrap);
	gap: var(--query-pag-numbers-gap, 1ch);
	align-items: var(--query-pag-numbers-align-cross-axis, center);
	justify-content: var(--query-pag-numbers-align-main-axis, center);
}

/* ----------------------------------------------------------------------
Any Page Number
---------------------------------------------------------------------- */

.wp-block-query-pagination-numbers .page-numbers {
	display: inline-grid;
	place-content: center;
	min-width: var(--query-pag-number-min-size, 24px);
	min-height: var(--query-pag-number-min-size, 24px);
	padding-block: var(--query-pag-number-padding-block, 0);
	padding-inline: var(--query-pag-number-padding-inline, 0);
	color: var(--query-pag-number-color-text, inherit);
	background-color: var(--query-pag-number-color-background, transparent);
	border-color: var(--query-pag-number-border-color, transparent);
	border-style: var(--query-pag-number-border-style, none);
	border-width: var(--query-pag-number-border-width, 0);
	border-radius: var(--query-pag-number-border-radius, 0);
}

/* ----------------------------------------------------------------------
Page Number that is a Link (neither Current not Dots)
---------------------------------------------------------------------- */

.wp-block-query-pagination-numbers a.page-numbers:is(:hover, :focus-visible) {
	color: var(--query-pag-number-color-text-hover, inherit);
	background-color: var(--query-pag-number-color-background-hover, transparent);
	border-color: var(--query-pag-number-border-color-hover, transparent);
}

/* ----------------------------------------------------------------------
Current Page Number
---------------------------------------------------------------------- */

.wp-block-query-pagination-numbers .page-numbers.current {
	color: var(--query-pag-number-current-color-text, inherit);
	background-color: var(--query-pag-number-current-color-background, transparent);
	border-color: var(--query-pag-number-current-border-color, transparent);
}

/* ----------------------------------------------------------------------
Dots
---------------------------------------------------------------------- */

.wp-block-query-pagination-numbers .page-numbers.dots {
	min-width: var(--query-pag-number-dots-min-size, auto);
	min-height: var(--query-pag-number-dots-min-size, auto);
	padding-block: var(--query-pag-number-dots-padding-block, 0);
	padding-inline: var(--query-pag-number-dots-padding-inline, 0);
	border-color: var(--query-pag-number-dots-border-color, transparent);
	border-width: var(--query-pag-number-dots-border-width, 0);
}
