/* ======================================================================
Site Header
====================================================================== */

@keyframes add-shadow-to-header {
	to {
		box-shadow: 0 2px 4px -2px color-mix(in oklch, currentcolor 25%, transparent);
	}
}

header.wp-block-template-part {
	--site-logo-height: var(--wp--preset--spacing--l);
	--wrapper-max-width: 90rem;
	padding-block-start: var(--site-header-padding-top, var(--gutter, 2rem));
	padding-block-end: var(--site-header-padding-bottom, var(--gutter, 2rem));
	font-size: var(--wp--preset--font-size--s);
	background-color: var(--wp--preset--color--surface-1, Canvas);
	box-shadow: 0 var(--wp--custom--border-width--thin) var(--separator-color);

	&.is-position-sticky {
		position: sticky;
		inset-block-start: var(--wp-admin--admin-bar--position-offset, 0);
		z-index: 2;

		@supports (animation-timeline: scroll()) {
			@media (prefers-reduced-motion: no-preference) {
				animation: add-shadow-to-header linear forwards;
				animation-duration: 1ms; /* Firefox requires a duration for scroll-driven animations */
				animation-timeline: scroll();
				animation-range: 0 80px;
			}
		}
	}

	.wp-block-site-logo {
		flex-shrink: 0;
	}
}
