/* ======================================================================
Site Footer
====================================================================== */

footer.wp-block-template-part {
	--site-logo-height: var(--space-xl);
	padding-block: var(--space-l);
	font-size: var(--font-size-s);
	border-block-start: var(--border-width-thin) solid var(--separator-color);

	.wp-block-navigation a {
		color: var(--link-text-color, revert);
		text-decoration-line: underline;
		text-decoration-thickness: from-font;
		text-decoration-color: var(--link-underline-color, currentcolor);

		@media (prefers-reduced-motion: no-preference) {
			transition-duration: var(--transition-duration, 0);
			transition-property: color, background-color, border-color, text-decoration-color;
		}

		&:hover {
			color: var(--link-text-color-hover, var(--link-text-color));
			text-decoration-color: var(--link-underline-color-hover, currentcolor);
		}
	}

	@media (width < 40rem) {
		text-align: center;

		.wp-block-navigation__container {
			--navigation-layout-direction: column;
		}
	}
}
